In [198]:
import pandas as pd
import numpy as np

In [199]:
circuits = pd.read_csv('Dataframes/circuits.csv')
constructors = pd.read_csv('Dataframes/constructors.csv')
drivers = pd.read_csv('Dataframes/drivers.csv')
races = pd.read_csv('Dataframes/races.csv')
lap_times = pd.read_csv('Dataframes/lap_times.csv')
results = pd.read_csv('Dataframes/results.csv')

In [200]:
circuits.shape

(77, 9)

In [201]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [202]:
circuits['name'].unique()

array(['Albert Park Grand Prix Circuit', 'Sepang International Circuit',
       'Bahrain International Circuit', 'Circuit de Barcelona-Catalunya',
       'Istanbul Park', 'Circuit de Monaco', 'Circuit Gilles Villeneuve',
       'Circuit de Nevers Magny-Cours', 'Silverstone Circuit',
       'Hockenheimring', 'Hungaroring', 'Valencia Street Circuit',
       'Circuit de Spa-Francorchamps', 'Autodromo Nazionale di Monza',
       'Marina Bay Street Circuit', 'Fuji Speedway',
       'Shanghai International Circuit', 'Autódromo José Carlos Pace',
       'Indianapolis Motor Speedway', 'Nürburgring',
       'Autodromo Enzo e Dino Ferrari', 'Suzuka Circuit',
       'Las Vegas Strip Street Circuit', 'Yas Marina Circuit',
       'Autódromo Juan y Oscar Gálvez', 'Circuito de Jerez',
       'Autódromo do Estoril', 'Okayama International Circuit',
       'Adelaide Street Circuit', 'Kyalami', 'Donington Park',
       'Autódromo Hermanos Rodríguez', 'Phoenix street circuit',
       'Circuit Paul Ricard', 'Korean International Circuit',
       'Autódromo Internacional Nelson Piquet', 'Detroit Street Circuit',
       'Brands Hatch', 'Circuit Park Zandvoort', 'Zolder',
       'Dijon-Prenois', 'Fair Park', 'Long Beach',
       'Las Vegas Street Circuit', 'Jarama', 'Watkins Glen',
       'Scandinavian Raceway', 'Mosport International Raceway',
       'Montjuïc', 'Nivelles-Baulers', 'Charade Circuit',
       'Circuit Mont-Tremblant', 'Rouen-Les-Essarts', 'Le Mans',
       'Reims-Gueux', 'Prince George Circuit', 'Zeltweg', 'Aintree',
       'Circuito da Boavista', 'Riverside International Raceway', 'AVUS',
       'Monsanto Park Circuit', 'Sebring International Raceway',
       'Ain Diab', 'Pescara Circuit', 'Circuit Bremgarten',
       'Circuit de Pedralbes', 'Buddh International Circuit',
       'Circuit of the Americas', 'Red Bull Ring', 'Sochi Autodrom',
       'Baku City Circuit', 'Autódromo Internacional do Algarve',
       'Autodromo Internazionale del Mugello', 'Jeddah Corniche Circuit',
       'Losail International Circuit', 'Miami International Autodrome'],
      dtype=object)

In [203]:
circuit_es = circuits[circuits['name'] == 'Circuit de Barcelona-Catalunya']
circuit_es = circuit_es.sort_values(by='circuitId', ascending=False)

circuit_es

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...

In [204]:
races.shape

(1102, 18)

In [205]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [206]:
races['name'].value_counts().head(10)

name
Italian Grand Prix          74
British Grand Prix          74
Monaco Grand Prix           69
Belgian Grand Prix          68
German Grand Prix           64
French Grand Prix           62
Spanish Grand Prix          53
Canadian Grand Prix         52
Brazilian Grand Prix        48
United States Grand Prix    44
Name: count, dtype: int64

In [207]:
races_es = races[(races['name'] == 'Spanish Grand Prix') & (races['year'].between(1996, 2022))]
races_es = races_es.drop(['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'], axis=1)
races_es = races_es.sort_values(by='raceId', ascending=False)

races_es

,raceId,year,round,circuitId,name,date,time,url
1062,1079,2022,6,4,Spanish Grand Prix,2022-05-22,13:00:00,http://en.wikipedia.org/wiki/2022_Spanish_Gran...
1040,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...
1023,1036,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00,http://en.wikipedia.org/wiki/2020_Spanish_Gran...
1001,1014,2019,5,4,Spanish Grand Prix,2019-05-12,13:10:00,http://en.wikipedia.org/wiki/2019_Spanish_Gran...
980,993,2018,5,4,Spanish Grand Prix,2018-05-13,13:10:00,http://en.wikipedia.org/wiki/2018_Spanish_Gran...
960,973,2017,5,4,Spanish Grand Prix,2017-05-14,12:00:00,http://en.wikipedia.org/wiki/2017_Spanish_Gran...
939,952,2016,5,4,Spanish Grand Prix,2016-05-15,12:00:00,http://en.wikipedia.org/wiki/2016_Spanish_Gran...
919,930,2015,5,4,Spanish Grand Prix,2015-05-10,12:00:00,http://en.wikipedia.org/wiki/2015_Spanish_Gran...
901,904,2014,5,4,Spanish Grand Prix,2014-05-11,12:00:00,http://en.wikipedia.org/wiki/2014_Spanish_Gran...
882,884,2013,5,4,Spanish Grand Prix,2013-05-12,12:00:00,http://en.wikipedia.org/wiki/2013_Spanish_Gran...
862,864,2012,5,4,Spanish Grand Prix,2012-05-13,12:00:00,http://en.wikipedia.org/wiki/2012_Spanish_Gran...
843,845,2011,5,4,Spanish Grand Prix,2011-05-22,12:00:00,http://en.wikipedia.org/wiki/2011_Spanish_Gran...
340,341,2010,5,4,Spanish Grand Prix,2010-05-09,12:00:00,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
229,230,1996,7,4,Spanish Grand Prix,1996-06-02,\N,http://en.wikipedia.org/wiki/1996_Spanish_Gran...
211,212,1997,6,4,Spanish Grand Prix,1997-05-25,\N,http://en.wikipedia.org/wiki/1997_Spanish_Gran...
194,195,1998,5,4,Spanish Grand Prix,1998-05-10,\N,http://en.wikipedia.org/wiki/1998_Spanish_Gran...
178,179,1999,5,4,Spanish Grand Prix,1999-05-30,\N,http://en.wikipedia.org/wiki/1999_Spanish_Gran...
161,162,2000,5,4,Spanish Grand Prix,2000-05-07,\N,http://en.wikipedia.org/wiki/2000_Spanish_Gran...
144,145,2001,5,4,Spanish Grand Prix,2001-04-29,\N,http://en.wikipedia.org/wiki/2001_Spanish_Gran...
127,128,2002,5,4,Spanish Grand Prix,2002-04-28,\N,http://en.wikipedia.org/wiki/2002_Spanish_Gran...
111,112,2003,5,4,Spanish Grand Prix,2003-05-04,\N,http://en.wikipedia.org/wiki/2003_Spanish_Gran...
93,94,2004,5,4,Spanish Grand Prix,2004-05-09,\N,http://en.wikipedia.org/wiki/2004_Spanish_Gran...
74,75,2005,5,4,Spanish Grand Prix,2005-05-08,14:00:00,http://en.wikipedia.org/wiki/2005_Spanish_Gran...
57,58,2006,6,4,Spanish Grand Prix,2006-05-14,14:00:00,http://en.wikipedia.org/wiki/2006_Spanish_Gran...
38,39,2007,4,4,Spanish Grand Prix,2007-05-13,12:00:00,http://en.wikipedia.org/wiki/2007_Spanish_Gran...
20,21,2008,4,4,Spanish Grand Prix,2008-04-27,12:00:00,http://en.wikipedia.org/wiki/2008_Spanish_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [208]:
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [209]:
lap_times_es = lap_times[lap_times['raceId'].isin(races_es['raceId'])]
lap_times_es = lap_times_es.sort_values(by='raceId', ascending=False)

lap_times_es

        raceId  driverId  lap  position      time  milliseconds
520988    1079       825   64        17  1:33.091         93091
520171    1079       822   57         4  1:28.149         88149
520164    1079       822   50         4  1:28.275         88275
520165    1079       822   51         4  1:28.130         88130
520166    1079       822   52         3  1:28.684         88684
...        ...       ...  ...       ...       ...           ...
346905       5         4   32         6  1:24.165         84165
346906       5         4   33         6  1:24.250         84250
346907       5         4   34         6  1:24.031         84031
346908       5         4   35         6  1:23.942         83942
346809       5         2    2         9  2:25.148        145148

[30994 rows x 6 columns]

In [210]:
len(lap_times_es['raceId'].unique()) == len(races_es['raceId'].unique())

True

In [211]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [212]:
drivers_es = drivers[drivers['driverId'].isin(lap_times_es['driverId'])]
drivers_es = drivers_es.sort_values(by='driverId', ascending=False)

drivers_es

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
...,...,...,...,...,...,...,...,...,...
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [213]:
race2022 = lap_times[lap_times['raceId'] == 1079]

race2022.shape

(1230, 6)

In [214]:
race2022.head()

        raceId  driverId  lap  position      time  milliseconds
519759    1079       844    1         1  1:28.746         88746
519760    1079       844    2         1  1:27.627         87627
519761    1079       844    3         1  1:27.198         87198
519762    1079       844    4         1  1:27.671         87671
519763    1079       844    5         1  1:27.891         87891

In [215]:
race2022['lap'].value_counts()

lap
1     20
15    20
2     20
27    20
26    20
25    20
23    20
22    20
21    20
20    20
19    20
18    20
17    20
16    20
24    20
14    20
7     20
3     20
13    20
4     20
6     20
5     20
8     20
9     20
10    20
11    20
12    20
28    19
49    18
56    18
50    18
51    18
52    18
53    18
54    18
55    18
62    18
57    18
58    18
59    18
60    18
61    18
63    18
64    18
47    18
48    18
34    18
46    18
45    18
29    18
30    18
31    18
32    18
33    18
35    18
36    18
37    18
38    18
39    18
40    18
41    18
42    18
43    18
44    18
65    15
66     8
Name: count, dtype: int64

In [216]:
race2022_ham = race2022[race2022['driverId'] == 1]

race2022_ham

        raceId  driverId  lap  position      time  milliseconds
520859    1079         1    1        19  1:55.147        115147
520860    1079         1    2        19  1:55.134        115134
520861    1079         1    3        19  1:27.495         87495
520862    1079         1    4        19  1:28.327         88327
520863    1079         1    5        19  1:29.321         89321
520864    1079         1    6        19  1:28.986         88986
520865    1079         1    7        19  1:29.147         89147
520866    1079         1    8        19  1:29.086         89086
520867    1079         1    9        19  1:28.606         88606
520868    1079         1   10        19  1:28.558         88558
520869    1079         1   11        19  1:29.331         89331
520870    1079         1   12        18  1:28.746         88746
520871    1079         1   13        17  1:29.037         89037
520872    1079         1   14        17  1:29.167         89167
520873    1079         1   15        16  1:29.215         89215
520874    1079         1   16        16  1:29.642         89642
520875    1079         1   17        16  1:29.873         89873
520876    1079         1   18        16  1:30.181         90181
520877    1079         1   19        16  1:30.070         90070
520878    1079         1   20        16  1:30.443         90443
520879    1079         1   21        16  1:30.480         90480
520880    1079         1   22        16  1:34.486         94486
520881    1079         1   23        19  1:45.871        105871
520882    1079         1   24        18  1:27.980         87980
520883    1079         1   25        17  1:27.415         87415
520884    1079         1   26        17  1:27.156         87156
520885    1079         1   27        16  1:27.244         87244
520886    1079         1   28        14  1:26.990         86990
520887    1079         1   29        13  1:27.619         87619
520888    1079         1   30        12  1:26.711         86711
520889    1079         1   31        10  1:27.364         87364
520890    1079         1   32         9  1:26.329         86329
520891    1079         1   33         8  1:26.895         86895
520892    1079         1   34         7  1:26.697         86697
520893    1079         1   35         7  1:27.310         87310
520894    1079         1   36         6  1:26.976         86976
520895    1079         1   37         6  1:26.956         86956
520896    1079         1   38         6  1:27.157         87157
520897    1079         1   39         6  1:26.820         86820
520898    1079         1   40         6  1:27.340         87340
520899    1079         1   41         6  1:27.360         87360
520900    1079         1   42         6  1:27.351         87351
520901    1079         1   43         6  1:28.239         88239
520902    1079         1   44         6  1:27.114         87114
520903    1079         1   45         6  1:27.458         87458
520904    1079         1   46         5  1:27.730         87730
520905    1079         1   47         5  1:27.662         87662
520906    1079         1   48         5  1:30.916         90916
520907    1079         1   49         7  1:43.326        103326
520908    1079         1   50         7  1:25.106         85106
520909    1079         1   51         6  1:24.253         84253
520910    1079         1   52         6  1:25.802         85802
520911    1079         1   53         6  1:25.257         85257
520912    1079         1   54         6  1:25.389         85389
520913    1079         1   55         6  1:25.207         85207
520914    1079         1   56         6  1:25.832         85832
520915    1079         1   57         6  1:26.447         86447
520916    1079         1   58         5  1:26.408         86408
520917    1079         1   59         5  1:26.919         86919
520918    1079         1   60         4  1:25.895         85895
520919    1079         1   61         4  1:26.425         86425
520920    1079         1   62         4  1:26.804         86804
520921    1079         1   63         4  1:28.977         88977
520922    1079         1   64         4  1:29.833         89833
520923    1079         1   65         5  1:31.646         91646
520924    1079         1   66         5  1:34.345         94345

In [217]:
race2021 = lap_times[lap_times['raceId'] == 1055]

race2021.shape

(1246, 6)

In [218]:
race2021['lap'].value_counts()

lap
1     20
3     20
4     20
5     20
6     20
2     20
43    19
48    19
47    19
46    19
45    19
44    19
40    19
42    19
41    19
50    19
39    19
38    19
49    19
53    19
51    19
52    19
36    19
54    19
55    19
56    19
57    19
58    19
59    19
60    19
61    19
62    19
63    19
64    19
37    19
34    19
35    19
33    19
7     19
8     19
9     19
10    19
11    19
12    19
13    19
14    19
15    19
16    19
17    19
18    19
19    19
20    19
21    19
22    19
23    19
24    19
25    19
26    19
27    19
28    19
29    19
30    19
31    19
32    19
65    17
66     7
Name: count, dtype: int64

In [219]:
race2020 = lap_times[lap_times['raceId'] == 1055]

race2020.shape

(1246, 6)

In [220]:
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [221]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [222]:
results_es = results[results['raceId'].isin(races_es['raceId'])]
results_es = results_es.sort_values(by='raceId', ascending=False)

results_es

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
25519,25525,1079,844,6,16,1,\N,R,20,0.0,27,\N,\N,25,13,1:27.030,193.381,101
25509,25515,1079,852,213,22,13,10,10,10,1.0,65,\N,\N,59,10,1:26.828,193.831,11
25500,25506,1079,830,9,1,2,1,1,1,25.0,66,1:37:20.475,5840475,46,4,1:25.456,196.943,1
25502,25508,1079,847,131,63,4,3,3,3,15.0,66,+32.927,5873402,53,3,1:24.636,198.851,1
25503,25509,1079,832,6,55,3,4,4,4,12.0,66,+45.208,5885683,49,7,1:25.985,195.731,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7637,7638,5,4,4,7,8,5,5,5,4.0,66,+43.166,5882368,14,6,1:23.420,200.887,1
7636,7637,5,20,9,15,2,4,4,4,5.0,66,+18.941,5858143,41,4,1:23.090,201.684,1
7635,7636,5,17,9,14,5,3,3,3,6.0,66,+13.924,5853126,18,5,1:23.112,201.631,1
7634,7635,5,22,23,23,3,2,2,2,8.0,66,+13.056,5852258,28,1,1:22.762,202.484,1
7643,7644,5,9,2,5,10,11,11,11,0.0,65,\N,\N,26,11,1:24.078,199.314,11

In [223]:
constructors_es = constructors[constructors['constructorId'].isin(results_es['constructorId'])]
constructors_es = constructors_es.sort_values(by='constructorId', ascending=False)

constructors_es.head()

,constructorId,constructorRef,name,nationality,url
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport

In [224]:
circuit_es#.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...

In [225]:
circuit_es.shape

(1, 9)

In [226]:
constructors_es = constructors_es.drop('url', axis=1)

constructors_es#.head()

     constructorId constructorRef            name nationality
210            214         alpine  Alpine F1 Team      French
209            213     alphatauri      AlphaTauri     Italian
208            211   racing_point    Racing Point     British
207            210           haas    Haas F1 Team    American
206            209          manor  Manor Marussia     British
205            208       lotus_f1        Lotus F1     British
204            207       caterham        Caterham   Malaysian
203            206       marussia        Marussia     Russian
202            205   lotus_racing           Lotus   Malaysian
164            166         virgin          Virgin     British
162            164            hrt             HRT     Spanish
129            131       mercedes        Mercedes      German
115            117   aston_martin    Aston Martin     British
49              51           alfa      Alfa Romeo       Swiss
28              29       footwork        Footwork     British
27              28          forti           Forti     Italian
26              27         ligier          Ligier      French
24              25        tyrrell         Tyrrell     British
23              24        stewart         Stewart     British
22              23          brawn           Brawn     British
21              22       benetton        Benetton     Italian
20              21         arrows          Arrows     British
19              20          prost           Prost      French
18              19         jaguar          Jaguar     British
17              18        minardi         Minardi     Italian
16              17         jordan          Jordan       Irish
15              16            bar             BAR     British
14              15         sauber          Sauber       Swiss
12              13            mf1             MF1     Russian
11              12         spyker          Spyker       Dutch
10              11          honda           Honda    Japanese
9               10    force_india     Force India      Indian
8                9       red_bull        Red Bull    Austrian
7                8    super_aguri     Super Aguri    Japanese
6                7         toyota          Toyota    Japanese
5                6        ferrari         Ferrari     Italian
4                5     toro_rosso      Toro Rosso     Italian
3                4        renault         Renault      French
2                3       williams        Williams     British
1                2     bmw_sauber      BMW Sauber      German
0                1        mclaren         McLaren     British

In [227]:
constructors_es.shape

(41, 4)

In [228]:
drivers_es['number'].unique()
drivers_es['code'].unique()

array(['ZHO', 'MSC', 'MAZ', 'TSU', 'LAT', 'ALB', 'RUS', 'NOR', 'SIR',
       'LEC', 'HAR', 'GAS', 'GIO', 'STR', 'OCO', 'VAN', 'WEH', 'PAL',
       'MER', 'SAI', 'NAS', 'VER', 'STE', 'ERI', 'KVY', 'MAG', 'BIA',
       'VDG', 'BOT', 'GUT', 'CHI', 'PIC', 'RIC', 'DAM', 'PER', 'DIR',
       'MAL', 'CHA', 'SEN', 'DIG', 'PET', 'HUL', 'KOB', 'GRO', 'ALG',
       '\\N', 'BAD', 'BUE', 'ZON', 'FRI', 'KAR', 'DLR', 'FMO', 'VIL',
       'TMO', 'KLI', 'MON', 'SPE', 'WUR', 'LIU', 'SCH', 'BAR', 'FIS',
       'VET', 'DAV', 'BUT', 'WEB', 'SUT', 'TRU', 'COU', 'MAS', 'PIQ',
       'SAT', 'GLO', 'KUB', 'RAI', 'BOU', 'NAK', 'KOV', 'ALO', 'ROS',
       'HEI', 'HAM'], dtype=object)

In [229]:
#pd.set_option('display.max_rows', 75)

result = drivers_es.loc[(drivers_es['number'] == r'\N') | (drivers_es['code'] == r'\N')]

result

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
822,823,garde,\N,VDG,Giedo,van der Garde,1985-04-25,Dutch,http://en.wikipedia.org/wiki/Giedo_van_der_Garde
818,819,pic,\N,PIC,Charles,Pic,1990-02-15,French,http://en.wikipedia.org/wiki/Charles_Pic
815,816,ambrosio,\N,DAM,Jérôme,d'Ambrosio,1985-12-27,Belgian,http://en.wikipedia.org/wiki/J%C3%A9r%C3%B4me_...
813,814,resta,\N,DIR,Paul,di Resta,1986-04-16,British,http://en.wikipedia.org/wiki/Paul_di_Resta
811,812,chandhok,\N,CHA,Karun,Chandhok,1984-01-19,Indian,http://en.wikipedia.org/wiki/Karun_Chandhok
810,811,bruno_senna,\N,SEN,Bruno,Senna,1983-10-15,Brazilian,http://en.wikipedia.org/wiki/Bruno_Senna
809,810,grassi,\N,DIG,Lucas,di Grassi,1984-08-11,Brazilian,http://en.wikipedia.org/wiki/Lucas_di_Grassi
808,808,petrov,\N,PET,Vitaly,Petrov,1984-09-08,Russian,http://en.wikipedia.org/wiki/Vitaly_Petrov
152,153,alguersuari,\N,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
83,84,brundle,\N,\N,Martin,Brundle,1959-06-01,British,http://en.wikipedia.org/wiki/Martin_Brundle
80,81,morbidelli,\N,\N,Gianni,Morbidelli,1968-01-13,Italian,http://en.wikipedia.org/wiki/Gianni_Morbidelli
78,79,katayama,\N,\N,Ukyo,Katayama,1963-05-29,Japanese,http://en.wikipedia.org/wiki/Ukyo_Katayama
76,77,berger,\N,\N,Gerhard,Berger,1959-08-27,Austrian,http://en.wikipedia.org/wiki/Gerhard_Berger
75,76,magnussen,\N,MAG,Jan,Magnussen,1973-07-04,Danish,http://en.wikipedia.org/wiki/Jan_Magnussen
74,75,nakano,\N,\N,Shinji,Nakano,1971-04-01,Japanese,http://en.wikipedia.org/wiki/Shinji_Nakano
73,74,tuero,\N,\N,Esteban,Tuero,1978-04-22,Argentine,http://en.wikipedia.org/wiki/Esteban_Tuero
70,71,damon_hill,\N,\N,Damon,Hill,1960-09-17,British,http://en.wikipedia.org/wiki/Damon_Hill
69,70,zanardi,\N,\N,Alessandro,Zanardi,1966-10-23,Italian,http://en.wikipedia.org/wiki/Alex_Zanardi
68,69,badoer,\N,BAD,Luca,Badoer,1971-01-25,Italian,http://en.wikipedia.org/wiki/Luca_Badoer
67,68,takagi,\N,\N,Toranosuke,Takagi,1974-02-12,Japanese,http://en.wikipedia.org/wiki/Toranosuke_Takagi
66,67,buemi,\N,BUE,Sébastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
65,66,mcnish,\N,\N,Allan,McNish,1969-12-29,British,http://en.wikipedia.org/wiki/Allan_McNish
64,65,herbert,\N,\N,Johnny,Herbert,1964-06-25,British,http://en.wikipedia.org/wiki/Johnny_Herbert
63,64,diniz,\N,\N,Pedro,Diniz,1970-05-22,Brazilian,http://en.wikipedia.org/wiki/Pedro_Diniz
62,63,salo,\N,\N,Mika,Salo,1966-11-30,Finnish,http://en.wikipedia.org/wiki/Mika_Salo
59,60,mazzacane,\N,\N,Gastón,Mazzacane,1975-05-08,Argentine,http://en.wikipedia.org/wiki/Gast%C3%B3n_Mazza...
58,59,bernoldi,\N,\N,Enrique,Bernoldi,1978-10-19,Brazilian,http://en.wikipedia.org/wiki/Enrique_Bernoldi
57,58,marques,\N,\N,Tarso,Marques,1976-01-19,Brazilian,http://en.wikipedia.org/wiki/Tarso_Marques
56,57,hakkinen,\N,\N,Mika,Häkkinen,1968-09-28,Finnish,http://en.wikipedia.org/wiki/Mika_H%C3%A4kkinen
55,56,irvine,\N,\N,Eddie,Irvine,1965-11-10,British,http://en.wikipedia.org/wiki/Eddie_Irvine
54,55,alesi,\N,\N,Jean,Alesi,1964-06-11,French,http://en.wikipedia.org/wiki/Jean_Alesi
53,54,burti,\N,\N,Luciano,Burti,1975-03-05,Brazilian,http://en.wikipedia.org/wiki/Luciano_Burti
51,52,firman,\N,\N,Ralph,Firman,1975-05-20,Irish,http://en.wikipedia.org/wiki/Ralph_Firman
50,51,wilson,\N,\N,Justin,Wilson,1978-07-31,British,http://en.wikipedia.org/wiki/Justin_Wilson_(ra...
49,50,verstappen,\N,\N,Jos,Verstappen,1972-03-04,Dutch,http://en.wikipedia.org/wiki/Jos_Verstappen
48,49,frentzen,\N,\N,Heinz-Harald,Frentzen,1967-05-18,German,http://en.wikipedia.org/wiki/Heinz-Harald_Fren...
47,48,gene,\N,\N,Marc,Gené,1974-03-29,Spanish,http://en.wikipedia.org/wiki/Marc_Gen%C3%A9
46,47,baumgartner,\N,\N,Zsolt,Baumgartner,1981-01-01,Hungarian,http://en.wikipedia.org/wiki/Zsolt_Baumgartner
45,46,bruni,\N,\N,Gianmaria,Bruni,1981-05-30,Italian,http://en.wikipedia.org/wiki/Gianmaria_Bruni
44,45,pantano,\N,\N,Giorgio,Pantano,1979-02-04,Italian,http://en.wikipedia.org/wiki/Giorgio_Pantano
43,44,panis,\N,\N,Olivier,Panis,1966-09-02,French,http://en.wikipedia.org/wiki/Olivier_Panis
42,43,matta,\N,\N,Cristiano,da Matta,1973-09-19,Brazilian,http://en.wikipedia.org/wiki/Cristiano_da_Matta
40,41,zonta,\N,ZON,Ricardo,Zonta,1976-03-23,Brazilian,http://en.wikipedia.org/wiki/Ricardo_Zonta
39,40,friesacher,\N,FRI,Patrick,Friesacher,1980-09-26,Austrian,http://en.wikipedia.org/wiki/Patrick_Friesacher
38,39,karthikeyan,\N,KAR,Narain,Karthikeyan,1977-01-14,Indian,http://en.wikipedia.org/wiki/Narain_Karthikeyan
36,37,rosa,\N,DLR,Pedro,de la Rosa,1971-02-24,Spanish,http://en.wikipedia.org/wiki/Pedro_de_la_Rosa
35,36,montagny,\N,FMO,Franck,Montagny,1978-01-05,French,http://en.wikipedia.org/wiki/Franck_Montagny
34,35,villeneuve,\N,VIL,Jacques,Villeneuve,1971-04-09,Canadian,http://en.wikipedia.org/wiki/Jacques_Villeneuve
32,33,monteiro,\N,TMO,Tiago,Monteiro,1976-07-24,Portuguese,http://en.wikipedia.org/wiki/Tiago_Monteiro
31,32,klien,\N,KLI,Christian,Klien,1983-02-07,Austrian,http://en.wikipedia.org/wiki/Christian_Klien
30,31,montoya,\N,MON,Juan,Pablo Montoya,1975-09-20,Colombian,http://en.wikipedia.org/wiki/Juan_Pablo_Montoya
29,30,michael_schumacher,\N,MSC,Michael,Schumacher,1969-01-03,German,http://en.wikipedia.org/wiki/Michael_Schumacher
26,27,albers,\N,ALB,Christijan,Albers,1979-04-16,Dutch,http://en.wikipedia.org/wiki/Christijan_Albers
25,26,speed,\N,SPE,Scott,Speed,1983-01-24,American,http://en.wikipedia.org/wiki/Scott_Speed
24,25,wurz,\N,WUR,Alexander,Wurz,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz
23,24,liuzzi,\N,LIU,Vitantonio,Liuzzi,1980-08-06,Italian,http://en.wikipedia.org/wiki/Vitantonio_Liuzzi
22,23,ralf_schumacher,\N,SCH,Ralf,Schumacher,1975-06-30,German,http://en.wikipedia.org/wiki/Ralf_Schumacher
21,22,barrichello,\N,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
20,21,fisichella,\N,FIS,Giancarlo,Fisichella,1973-01-14,Italian,http://en.wikipedia.org/wiki/Giancarlo_Fisichella
18,19,davidson,\N,DAV,Anthony,Davidson,1979-04-18,British,http://en.wikipedia.org/wiki/Anthony_Davidson
16,17,webber,\N,WEB,Mark,Webber,1976-08-27,Australian,http://en.wikipedia.org/wiki/Mark_Webber_(raci...
14,15,trulli,\N,TRU,Jarno,Trulli,1974-07-13,Italian,http://en.wikipedia.org/wiki/Jarno_Trulli
13,14,coulthard,\N,COU,David,Coulthard,1971-03-27,British,http://en.wikipedia.org/wiki/David_Coulthard
11,12,piquet_jr,\N,PIQ,Nelson,Piquet Jr.,1985-07-25,Brazilian,"http://en.wikipedia.org/wiki/Nelson_Piquet,_Jr."
10,11,sato,\N,SAT,Takuma,Sato,1977-01-28,Japanese,http://en.wikipedia.org/wiki/Takuma_Sato
9,10,glock,\N,GLO,Timo,Glock,1982-03-18,German,http://en.wikipedia.org/wiki/Timo_Glock
6,7,bourdais,\N,BOU,Sébastien,Bourdais,1979-02-28,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...
5,6,nakajima,\N,NAK,Kazuki,Nakajima,1985-01-11,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld

In [230]:
drivers_es = drivers_es.drop(['number', 'code', 'url'], axis=1)

drivers_es#.head()

     driverId        driverRef  forename     surname         dob nationality
853       855             zhou    Guanyu        Zhou  1999-05-30     Chinese
852       854  mick_schumacher      Mick  Schumacher  1999-03-22      German
851       853          mazepin    Nikita     Mazepin  1999-03-02     Russian
850       852          tsunoda      Yuki     Tsunoda  2000-05-11    Japanese
847       849           latifi  Nicholas      Latifi  1995-06-29    Canadian

In [231]:
drivers_es.shape

(117, 6)

In [232]:
races_es#.head()

,raceId,year,round,circuitId,name,date,time,url
1062,1079,2022,6,4,Spanish Grand Prix,2022-05-22,13:00:00,http://en.wikipedia.org/wiki/2022_Spanish_Gran...
1040,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...
1023,1036,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00,http://en.wikipedia.org/wiki/2020_Spanish_Gran...
1001,1014,2019,5,4,Spanish Grand Prix,2019-05-12,13:10:00,http://en.wikipedia.org/wiki/2019_Spanish_Gran...
980,993,2018,5,4,Spanish Grand Prix,2018-05-13,13:10:00,http://en.wikipedia.org/wiki/2018_Spanish_Gran...
960,973,2017,5,4,Spanish Grand Prix,2017-05-14,12:00:00,http://en.wikipedia.org/wiki/2017_Spanish_Gran...
939,952,2016,5,4,Spanish Grand Prix,2016-05-15,12:00:00,http://en.wikipedia.org/wiki/2016_Spanish_Gran...
919,930,2015,5,4,Spanish Grand Prix,2015-05-10,12:00:00,http://en.wikipedia.org/wiki/2015_Spanish_Gran...
901,904,2014,5,4,Spanish Grand Prix,2014-05-11,12:00:00,http://en.wikipedia.org/wiki/2014_Spanish_Gran...
882,884,2013,5,4,Spanish Grand Prix,2013-05-12,12:00:00,http://en.wikipedia.org/wiki/2013_Spanish_Gran...
862,864,2012,5,4,Spanish Grand Prix,2012-05-13,12:00:00,http://en.wikipedia.org/wiki/2012_Spanish_Gran...
843,845,2011,5,4,Spanish Grand Prix,2011-05-22,12:00:00,http://en.wikipedia.org/wiki/2011_Spanish_Gran...
340,341,2010,5,4,Spanish Grand Prix,2010-05-09,12:00:00,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
229,230,1996,7,4,Spanish Grand Prix,1996-06-02,\N,http://en.wikipedia.org/wiki/1996_Spanish_Gran...
211,212,1997,6,4,Spanish Grand Prix,1997-05-25,\N,http://en.wikipedia.org/wiki/1997_Spanish_Gran...
194,195,1998,5,4,Spanish Grand Prix,1998-05-10,\N,http://en.wikipedia.org/wiki/1998_Spanish_Gran...
178,179,1999,5,4,Spanish Grand Prix,1999-05-30,\N,http://en.wikipedia.org/wiki/1999_Spanish_Gran...
161,162,2000,5,4,Spanish Grand Prix,2000-05-07,\N,http://en.wikipedia.org/wiki/2000_Spanish_Gran...
144,145,2001,5,4,Spanish Grand Prix,2001-04-29,\N,http://en.wikipedia.org/wiki/2001_Spanish_Gran...
127,128,2002,5,4,Spanish Grand Prix,2002-04-28,\N,http://en.wikipedia.org/wiki/2002_Spanish_Gran...
111,112,2003,5,4,Spanish Grand Prix,2003-05-04,\N,http://en.wikipedia.org/wiki/2003_Spanish_Gran...
93,94,2004,5,4,Spanish Grand Prix,2004-05-09,\N,http://en.wikipedia.org/wiki/2004_Spanish_Gran...
74,75,2005,5,4,Spanish Grand Prix,2005-05-08,14:00:00,http://en.wikipedia.org/wiki/2005_Spanish_Gran...
57,58,2006,6,4,Spanish Grand Prix,2006-05-14,14:00:00,http://en.wikipedia.org/wiki/2006_Spanish_Gran...
38,39,2007,4,4,Spanish Grand Prix,2007-05-13,12:00:00,http://en.wikipedia.org/wiki/2007_Spanish_Gran...
20,21,2008,4,4,Spanish Grand Prix,2008-04-27,12:00:00,http://en.wikipedia.org/wiki/2008_Spanish_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [233]:
races_es.shape

(27, 8)

In [234]:
lap_times_es#.head()

        raceId  driverId  lap  position      time  milliseconds
520988    1079       825   64        17  1:33.091         93091
520171    1079       822   57         4  1:28.149         88149
520164    1079       822   50         4  1:28.275         88275
520165    1079       822   51         4  1:28.130         88130
520166    1079       822   52         3  1:28.684         88684
...        ...       ...  ...       ...       ...           ...
346905       5         4   32         6  1:24.165         84165
346906       5         4   33         6  1:24.250         84250
346907       5         4   34         6  1:24.031         84031
346908       5         4   35         6  1:23.942         83942
346809       5         2    2         9  2:25.148        145148

[30994 rows x 6 columns]

In [235]:
lap_times_es.shape

(30994, 6)

In [236]:
lap_times_es['raceId'].unique()

array([1079, 1055, 1036, 1014,  993,  973,  952,  930,  904,  884,  864,
        845,  341,  230,  212,  195,  179,  162,  145,  128,  112,   94,
         75,   58,   39,   21,    5], dtype=int64)