In [1]:
import pandas as pd
import numpy as np

# Creación de dataframes

---

Procedemos a crear los distintos dataframes con la información que hemos recopilado

In [2]:
data96 = [
    [1, 'Damon Hill', 'GBR', 'WILLIAMS RENAULT', 43, 'damon_hill'],
    [2, 'Jacques Villeneuve', 'CAN', 'WILLIAMS RENAULT', 22, 'villeneuve'],
    [3, 'Michael Schumacher', 'GER', 'FERRARI', 16, 'michael_schumacher'],
    [4, 'Jean Alesi', 'FRA', 'BENETTON RENAULT', 11, 'alesi'],
    [5, 'Mika Hakkinen', 'FIN', 'MCLAREN MERCEDES', 6, 'hakkinen'],
    [6, 'Gerhard Berger', 'AUT', 'BENETTON RENAULT', 7, 'berger'],
    [7, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 10, 'coulthard'],
    [8, 'Rubens Barrichello', 'BRA', 'JORDAN PEUGEOT', 7, 'barrichello'],
    [9, 'Olivier Panis', 'FRA', 'LIGIER MUGEN HONDA', 11, 'panis'],
    [10, 'Eddie Irvine', 'GBR', 'FERRARI', 10, 'irvine'],
    [11, 'Martin Brundle', 'GBR', 'JORDAN PEUGEOT', 1, 'brundle'],
    [12, 'Heinz-Harald Frentzen', 'GER', 'SAUBER FORD', 3, 'frentzen'],
    [13, 'Mika Salo', 'FIN', 'TYRRELL YAMAHA', 5, 'salo'],
    [14, 'Johnny Herbert', 'GBR', 'SAUBER FORD', 4, 'herbert'],
    [15, 'Pedro Diniz', 'BRA', 'LIGIER MUGEN HONDA', 0, 'diniz'],
    [16, 'Jos Verstappen', 'NED', 'FOOTWORK HART', 1, 'verstappen']
]

df96 = pd.DataFrame(data96, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df96['Year'] = '1996'
df96['Points'] = df96['Points'].astype(float)
df96 = df96.drop('Pos', axis=1)
df96 = df96.sort_values(by='Points', ascending=False)
df96 = df96.reset_index(drop=True)

df96

,Driver,Nationality,Team,Points,driverRef,Year
0,Damon Hill,GBR,WILLIAMS RENAULT,43.0,damon_hill,1996
1,Jacques Villeneuve,CAN,WILLIAMS RENAULT,22.0,villeneuve,1996
2,Michael Schumacher,GER,FERRARI,16.0,michael_schumacher,1996
3,Jean Alesi,FRA,BENETTON RENAULT,11.0,alesi,1996
4,Olivier Panis,FRA,LIGIER MUGEN HONDA,11.0,panis,1996
5,David Coulthard,GBR,MCLAREN MERCEDES,10.0,coulthard,1996
6,Eddie Irvine,GBR,FERRARI,10.0,irvine,1996
7,Gerhard Berger,AUT,BENETTON RENAULT,7.0,berger,1996
8,Rubens Barrichello,BRA,JORDAN PEUGEOT,7.0,barrichello,1996
9,Mika Hakkinen,FIN,MCLAREN MERCEDES,6.0,hakkinen,1996
10,Mika Salo,FIN,TYRRELL YAMAHA,5.0,salo,1996
11,Johnny Herbert,GBR,SAUBER FORD,4.0,herbert,1996
12,Heinz-Harald Frentzen,GER,SAUBER FORD,3.0,frentzen,1996
13,Martin Brundle,GBR,JORDAN PEUGEOT,1.0,brundle,1996
14,Jos Verstappen,NED,FOOTWORK HART,1.0,verstappen,1996
15,Pedro Diniz,BRA,LIGIER MUGEN HONDA,0.0,diniz,1996

In [3]:
data97 = [
    [1, 'Jacques Villeneuve', 'CAN', 'WILLIAMS RENAULT', 20, 'villeneuve'],
    ['DQ', 'Michael Schumacher', 'GER', 'FERRARI', 24, 'michael_schumacher'],
    [2, 'Heinz-Harald Frentzen', 'GER', 'WILLIAMS RENAULT', 10, 'frentzen'],
    [3, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 10, 'coulthard'],
    [4, 'Jean Alesi', 'FRA', 'BENETTON RENAULT', 3, 'alesi'],
    [5, 'Gerhard Berger', 'AUT', 'BENETTON RENAULT', 10, 'berger'],
    [6, 'Mika Hakkinen', 'FIN', 'MCLAREN MERCEDES', 10, 'hakkinen'],
    [7, 'Eddie Irvine', 'GBR', 'FERRARI', 14, 'irvine'],
    [8, 'Giancarlo Fisichella', 'ITA', 'JORDAN PEUGEOT', 4, 'fisichella'],
    [9, 'Olivier Panis', 'FRA', 'PROST MUGEN HONDA', 9, 'panis'],
    [10, 'Johnny Herbert', 'GBR', 'SAUBER PETRONAS', 3, 'herbert'],
    [11, 'Ralf Schumacher', 'GER', 'JORDAN PEUGEOT', 4, 'ralf_schumacher'],
    [12, 'Damon Hill', 'GBR', 'ARROWS YAMAHA', 0, 'damon_hill'],
    [13, 'Rubens Barrichello', 'BRA', 'STEWART FORD', 6, 'barrichello'],
    [14, 'Alexander Wurz', 'AUT', 'BENETTON RENAULT', 0, 'wurz'],
    [15, 'Jarno Trulli', 'ITA', 'PROST MUGEN HONDA', 0, 'trulli'],
    [16, 'Mika Salo', 'FIN', 'TYRRELL FORD', 2, 'salo'],
    [17, 'Pedro Diniz', 'BRA', 'ARROWS YAMAHA', 0, 'diniz'],
    [18, 'Shinji Nakano', 'JPN', 'PROST MUGEN HONDA', 0, 'nakano']
]

df97 = pd.DataFrame(data97, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df97['Year'] = '1997'
df97['Points'] = df97['Points'].astype(float)
df97 = df97.drop('Pos', axis=1)
df97 = df97.sort_values(by='Points', ascending=False)
df97 = df97.reset_index(drop=True)

df97

,Driver,Nationality,Team,Points,driverRef,Year
0,Michael Schumacher,GER,FERRARI,24.0,michael_schumacher,1997
1,Jacques Villeneuve,CAN,WILLIAMS RENAULT,20.0,villeneuve,1997
2,Eddie Irvine,GBR,FERRARI,14.0,irvine,1997
3,Heinz-Harald Frentzen,GER,WILLIAMS RENAULT,10.0,frentzen,1997
4,David Coulthard,GBR,MCLAREN MERCEDES,10.0,coulthard,1997
5,Gerhard Berger,AUT,BENETTON RENAULT,10.0,berger,1997
6,Mika Hakkinen,FIN,MCLAREN MERCEDES,10.0,hakkinen,1997
7,Olivier Panis,FRA,PROST MUGEN HONDA,9.0,panis,1997
8,Rubens Barrichello,BRA,STEWART FORD,6.0,barrichello,1997
9,Giancarlo Fisichella,ITA,JORDAN PEUGEOT,4.0,fisichella,1997
10,Ralf Schumacher,GER,JORDAN PEUGEOT,4.0,ralf_schumacher,1997
11,Jean Alesi,FRA,BENETTON RENAULT,3.0,alesi,1997
12,Johnny Herbert,GBR,SAUBER PETRONAS,3.0,herbert,1997
13,Mika Salo,FIN,TYRRELL FORD,2.0,salo,1997
14,Damon Hill,GBR,ARROWS YAMAHA,0.0,damon_hill,1997
15,Alexander Wurz,AUT,BENETTON RENAULT,0.0,wurz,1997
16,Jarno Trulli,ITA,PROST MUGEN HONDA,0.0,trulli,1997
17,Pedro Diniz,BRA,ARROWS YAMAHA,0.0,diniz,1997
18,Shinji Nakano,JPN,PROST MUGEN HONDA,0.0,nakano,1997

In [4]:

data98 = [
    [1, 'Mika Hakkinen', 'FIN', 'MCLAREN MERCEDES', 26, 'hakkinen'],
    [2, 'Michael Schumacher', 'GER', 'FERRARI', 20, 'michael_schumacher'],
    [3, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 23, 'coulthard'],
    [4, 'Eddie Irvine', 'GBR', 'FERRARI', 11, 'irvine'],
    [5, 'Jacques Villeneuve', 'CAN', 'WILLIAMS MECACHROME', 5, 'villeneuve'],
    [6, 'Damon Hill', 'GBR', 'JORDAN MUGEN HONDA', 0, 'damon_hill'],
    [7, 'Heinz-Harald Frentzen', 'GER', 'WILLIAMS MECACHROME', 8, 'frentzen'],
    [8, 'Alexander Wurz', 'AUT', 'BENETTON PLAYLIFE', 6, 'wurz'],
    [9, 'Giancarlo Fisichella', 'ITA', 'BENETTON PLAYLIFE', 1, 'fisichella'],
    [10, 'Ralf Schumacher', 'GER', 'JORDAN MUGEN HONDA', 0, 'ralf_schumacher'],
    [11, 'Jean Alesi', 'FRA', 'SAUBER PETRONAS', 3, 'alesi'],
    [12, 'Rubens Barrichello', 'BRA', 'STEWART FORD', 0, 'barrichello'],
    [13, 'Mika Salo', 'FIN', 'ARROWS', 0, 'salo'],
    [14, 'Pedro Diniz', 'BRA', 'ARROWS', 0, 'diniz'],
    [15, 'Johnny Herbert', 'GBR', 'SAUBER PETRONAS', 1, 'herbert'],
    [16, 'Jan Magnussen', 'DEN', 'STEWART FORD', 0, 'magnussen'],
    [17, 'Jarno Trulli', 'ITA', 'PROST PEUGEOT', 0, 'trulli'],
    [18, 'Olivier Panis', 'FRA', 'PROST PEUGEOT', 0, 'panis'],
    [19, 'Toranosuke Takagi', 'JPN', 'TYRRELL FORD', 0, 'takagi'],
    [20, 'Shinji Nakano', 'JPN', 'MINARDI FORD', 0, 'nakano'],
    [21, 'Esteban Tuero', 'ARG', 'MINARDI FORD', 0, 'tuero'],
    [22, 'Jos Verstappen', 'NED', 'STEWART FORD', 0, 'verstappen']
]

df98 = pd.DataFrame(data98, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df98['Year'] = '1998'
df98['Points'] = df98['Points'].astype(float)
df98 = df98.drop('Pos', axis=1)
df98 = df98.sort_values(by='Points', ascending=False)
df98 = df98.reset_index(drop=True)

df98

,Driver,Nationality,Team,Points,driverRef,Year
0,Mika Hakkinen,FIN,MCLAREN MERCEDES,26.0,hakkinen,1998
1,David Coulthard,GBR,MCLAREN MERCEDES,23.0,coulthard,1998
2,Michael Schumacher,GER,FERRARI,20.0,michael_schumacher,1998
3,Eddie Irvine,GBR,FERRARI,11.0,irvine,1998
4,Heinz-Harald Frentzen,GER,WILLIAMS MECACHROME,8.0,frentzen,1998
5,Alexander Wurz,AUT,BENETTON PLAYLIFE,6.0,wurz,1998
6,Jacques Villeneuve,CAN,WILLIAMS MECACHROME,5.0,villeneuve,1998
7,Jean Alesi,FRA,SAUBER PETRONAS,3.0,alesi,1998
8,Giancarlo Fisichella,ITA,BENETTON PLAYLIFE,1.0,fisichella,1998
9,Johnny Herbert,GBR,SAUBER PETRONAS,1.0,herbert,1998
10,Jarno Trulli,ITA,PROST PEUGEOT,0.0,trulli,1998
11,Esteban Tuero,ARG,MINARDI FORD,0.0,tuero,1998
12,Shinji Nakano,JPN,MINARDI FORD,0.0,nakano,1998
13,Toranosuke Takagi,JPN,TYRRELL FORD,0.0,takagi,1998
14,Olivier Panis,FRA,PROST PEUGEOT,0.0,panis,1998
15,Rubens Barrichello,BRA,STEWART FORD,0.0,barrichello,1998
16,Jan Magnussen,DEN,STEWART FORD,0.0,magnussen,1998
17,Pedro Diniz,BRA,ARROWS,0.0,diniz,1998
18,Mika Salo,FIN,ARROWS,0.0,salo,1998
19,Ralf Schumacher,GER,JORDAN MUGEN HONDA,0.0,ralf_schumacher,1998
20,Damon Hill,GBR,JORDAN MUGEN HONDA,0.0,damon_hill,1998
21,Jos Verstappen,NED,STEWART FORD,0.0,verstappen,1998

In [5]:
data99 = [
    [1, 'Mika Hakkinen', 'FIN', 'MCLAREN MERCEDES', 14, 'hakkinen'],
    [2, 'Eddie Irvine', 'GBR', 'FERRARI', 18, 'irvine'],
    [3, 'Heinz-Harald Frentzen', 'GER', 'JORDAN MUGEN HONDA', 13, 'frentzen'],
    [4, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 6, 'coulthard'],
    [5, 'Michael Schumacher', 'GER', 'FERRARI', 26, 'michael_schumacher'],
    [6, 'Ralf Schumacher', 'GER', 'WILLIAMS SUPERTEC', 7, 'ralf_schumacher'],
    [7, 'Rubens Barrichello', 'BRA', 'STEWART FORD', 6, 'barrichello'],
    [8, 'Johnny Herbert', 'GBR', 'STEWART FORD', 0, 'herbert'],
    [9, 'Giancarlo Fisichella', 'ITA', 'BENETTON PLAYLIFE', 7, 'fisichella'],
    [10, 'Mika Salo', 'FIN', 'FERRARI', 0, 'salo'],
    [11, 'Jarno Trulli', 'ITA', 'PROST PEUGEOT', 0, 'trulli'],
    [12, 'Damon Hill', 'GBR', 'JORDAN MUGEN HONDA', 3, 'damon_hill'],
    [13, 'Alexander Wurz', 'AUT', 'BENETTON PLAYLIFE', 1, 'wurz'],
    [14, 'Pedro Diniz', 'BRA', 'SAUBER PETRONAS', 0, 'diniz'],
    [15, 'Olivier Panis', 'FRA', 'PROST PEUGEOT', 1, 'panis'],
    [16, 'Jean Alesi', 'FRA', 'SAUBER PETRONAS', 1, 'alesi'],
    [17, 'Pedro de la Rosa', 'ESP', 'ARROWS', 1, 'rosa'],
    [18, 'Marc Gene', 'ESP', 'MINARDI FORD', 0, 'gene']
]

df99 = pd.DataFrame(data99, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df99['Year'] = '1999'
df99['Points'] = df99['Points'].astype(float)
df99 = df99.drop('Pos', axis=1)
df99 = df99.sort_values(by='Points', ascending=False)
df99 = df99.reset_index(drop=True)

df99

,Driver,Nationality,Team,Points,driverRef,Year
0,Michael Schumacher,GER,FERRARI,26.0,michael_schumacher,1999
1,Eddie Irvine,GBR,FERRARI,18.0,irvine,1999
2,Mika Hakkinen,FIN,MCLAREN MERCEDES,14.0,hakkinen,1999
3,Heinz-Harald Frentzen,GER,JORDAN MUGEN HONDA,13.0,frentzen,1999
4,Ralf Schumacher,GER,WILLIAMS SUPERTEC,7.0,ralf_schumacher,1999
5,Giancarlo Fisichella,ITA,BENETTON PLAYLIFE,7.0,fisichella,1999
6,David Coulthard,GBR,MCLAREN MERCEDES,6.0,coulthard,1999
7,Rubens Barrichello,BRA,STEWART FORD,6.0,barrichello,1999
8,Damon Hill,GBR,JORDAN MUGEN HONDA,3.0,damon_hill,1999
9,Olivier Panis,FRA,PROST PEUGEOT,1.0,panis,1999
10,Pedro de la Rosa,ESP,ARROWS,1.0,rosa,1999
11,Jean Alesi,FRA,SAUBER PETRONAS,1.0,alesi,1999
12,Alexander Wurz,AUT,BENETTON PLAYLIFE,1.0,wurz,1999
13,Mika Salo,FIN,FERRARI,0.0,salo,1999
14,Pedro Diniz,BRA,SAUBER PETRONAS,0.0,diniz,1999
15,Jarno Trulli,ITA,PROST PEUGEOT,0.0,trulli,1999
16,Johnny Herbert,GBR,STEWART FORD,0.0,herbert,1999
17,Marc Gene,ESP,MINARDI FORD,0.0,gene,1999

In [6]:
data00 = [
    [1, 'Michael Schumacher', 'GER', 'FERRARI', 34, 'michael_schumacher'],
    [2, 'Mika Hakkinen', 'FIN', 'MCLAREN MERCEDES', 12, 'hakkinen'],
    [3, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 14, 'coulthard'],
    [4, 'Rubens Barrichello', 'BRA', 'FERRARI', 9, 'barrichello'],
    [5, 'Ralf Schumacher', 'GER', 'WILLIAMS BMW', 9, 'ralf_schumacher'],
    [6, 'Giancarlo Fisichella', 'ITA', 'BENETTON PLAYLIFE', 8, 'fisichella'],
    [7, 'Jacques Villeneuve', 'CAN', 'BAR HONDA', 5, 'villeneuve'],
    [8, 'Jenson Button', 'GBR', 'WILLIAMS BMW', 3, 'button'],
    [9, 'Heinz-Harald Frentzen', 'GER', 'JORDAN MUGEN HONDA', 4, 'frentzen'],
    [10, 'Jarno Trulli', 'ITA', 'JORDAN MUGEN HONDA', 4, 'trulli'],
    [11, 'Mika Salo', 'FIN', 'SAUBER PETRONAS', 1, 'salo'],
    [12, 'Jos Verstappen', 'NED', 'ARROWS SUPERTEC', 0, 'verstappen'],
    [13, 'Eddie Irvine', 'GBR', 'JAGUAR COSWORTH', 0, 'irvine'],
    [14, 'Ricardo Zonta', 'BRA', 'BAR HONDA', 1, 'zonta'],
    [15, 'Alexander Wurz', 'AUT', 'BENETTON PLAYLIFE', 0, 'wurz'],
    [16, 'Pedro de la Rosa', 'ESP', 'ARROWS SUPERTEC', 0, 'rosa'],
    [17, 'Pedro Diniz', 'BRA', 'SAUBER PETRONAS', 0, 'diniz'],
    [18, 'Johnny Herbert', 'GBR', 'JAGUAR COSWORTH', 0, 'herbert'],
    [19, 'Marc Gene', 'ESP', 'MINARDI FONDMETAL', 0, 'gene'],
    [20, 'Gaston Mazzacane', 'ARG', 'MINARDI FONDMETAL', 0, 'mazzacane'],
    [21, 'Nick Heidfeld', 'GER', 'PROST PEUGEOT', 0, 'heidfeld'],
    [22, 'Jean Alesi', 'FRA', 'PROST PEUGEOT', 0, 'alesi'],
    [23, 'Luciano Burti', 'BRA', 'JAGUAR COSWORTH', 0, 'burti']
]

df00 = pd.DataFrame(data00, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df00['Year'] = '2000'
df00['Points'] = df00['Points'].astype(float)
df00 = df00.drop('Pos', axis=1)
df00 = df00.sort_values(by='Points', ascending=False)
df00 = df00.reset_index(drop=True)

df00

,Driver,Nationality,Team,Points,driverRef,Year
0,Michael Schumacher,GER,FERRARI,34.0,michael_schumacher,2000
1,David Coulthard,GBR,MCLAREN MERCEDES,14.0,coulthard,2000
2,Mika Hakkinen,FIN,MCLAREN MERCEDES,12.0,hakkinen,2000
3,Rubens Barrichello,BRA,FERRARI,9.0,barrichello,2000
4,Ralf Schumacher,GER,WILLIAMS BMW,9.0,ralf_schumacher,2000
5,Giancarlo Fisichella,ITA,BENETTON PLAYLIFE,8.0,fisichella,2000
6,Jacques Villeneuve,CAN,BAR HONDA,5.0,villeneuve,2000
7,Jarno Trulli,ITA,JORDAN MUGEN HONDA,4.0,trulli,2000
8,Heinz-Harald Frentzen,GER,JORDAN MUGEN HONDA,4.0,frentzen,2000
9,Jenson Button,GBR,WILLIAMS BMW,3.0,button,2000
10,Mika Salo,FIN,SAUBER PETRONAS,1.0,salo,2000
11,Ricardo Zonta,BRA,BAR HONDA,1.0,zonta,2000
12,Johnny Herbert,GBR,JAGUAR COSWORTH,0.0,herbert,2000
13,Jean Alesi,FRA,PROST PEUGEOT,0.0,alesi,2000
14,Nick Heidfeld,GER,PROST PEUGEOT,0.0,heidfeld,2000
15,Gaston Mazzacane,ARG,MINARDI FONDMETAL,0.0,mazzacane,2000
16,Marc Gene,ESP,MINARDI FONDMETAL,0.0,gene,2000
17,Jos Verstappen,NED,ARROWS SUPERTEC,0.0,verstappen,2000
18,Pedro Diniz,BRA,SAUBER PETRONAS,0.0,diniz,2000
19,Pedro de la Rosa,ESP,ARROWS SUPERTEC,0.0,rosa,2000
20,Alexander Wurz,AUT,BENETTON PLAYLIFE,0.0,wurz,2000
21,Eddie Irvine,GBR,JAGUAR COSWORTH,0.0,irvine,2000
22,Luciano Burti,BRA,JAGUAR COSWORTH,0.0,burti,2000

In [7]:
data01 = [
    [1, 'Michael Schumacher', 'GER', 'FERRARI', 26, 'michael_schumacher'],
    [2, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 26, 'coulthard'],
    [3, 'Rubens Barrichello', 'BRA', 'FERRARI', 14, 'barrichello'],
    [4, 'Ralf Schumacher', 'GER', 'WILLIAMS BMW', 12, 'ralf_schumacher'],
    [5, 'Mika Hakkinen', 'FIN', 'MCLAREN MERCEDES', 4, 'hakkinen'],
    [6, 'Juan Pablo Montoya', 'COL', 'WILLIAMS BMW', 0, 'montoya'],
    [7, 'Jacques Villeneuve', 'CAN', 'BAR HONDA', 0, 'villeneuve'],
    [8, 'Nick Heidfeld', 'GER', 'SAUBER PETRONAS', 7, 'heidfeld'],
    [9, 'Jarno Trulli', 'ITA', 'JORDAN HONDA', 4, 'trulli'],
    [10, 'Kimi Räikkönen', 'FIN', 'SAUBER PETRONAS', 1, 'raikkonen'],
    [11, 'Giancarlo Fisichella', 'ITA', 'BENETTON RENAULT', 1, 'fisichella'],
    [12, 'Eddie Irvine', 'GBR', 'JAGUAR COSWORTH', 0, 'irvine'],
    [13, 'Heinz-Harald Frentzen', 'GER', 'PROST ACER', 6, 'frentzen'],
    [14, 'Olivier Panis', 'FRA', 'BAR HONDA', 3, 'panis'],
    [15, 'Jean Alesi', 'FRA', 'JORDAN HONDA', 0, 'alesi'],
    [16, 'Pedro de la Rosa', 'ESP', 'JAGUAR COSWORTH', 0, 'rosa'],
    [17, 'Jenson Button', 'GBR', 'BENETTON RENAULT', 0, 'button'],
    [18, 'Jos Verstappen', 'NED', 'ARROWS ASIATECH', 0, 'verstappen']
]

df01 = pd.DataFrame(data01, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df01['Year'] = '2001'
df01['Points'] = df01['Points'].astype(float)
df01 = df01.drop('Pos', axis=1)
df01 = df01.sort_values(by='Points', ascending=False)
df01 = df01.reset_index(drop=True)

df01

,Driver,Nationality,Team,Points,driverRef,Year
0,Michael Schumacher,GER,FERRARI,26.0,michael_schumacher,2001
1,David Coulthard,GBR,MCLAREN MERCEDES,26.0,coulthard,2001
2,Rubens Barrichello,BRA,FERRARI,14.0,barrichello,2001
3,Ralf Schumacher,GER,WILLIAMS BMW,12.0,ralf_schumacher,2001
4,Nick Heidfeld,GER,SAUBER PETRONAS,7.0,heidfeld,2001
5,Heinz-Harald Frentzen,GER,PROST ACER,6.0,frentzen,2001
6,Mika Hakkinen,FIN,MCLAREN MERCEDES,4.0,hakkinen,2001
7,Jarno Trulli,ITA,JORDAN HONDA,4.0,trulli,2001
8,Olivier Panis,FRA,BAR HONDA,3.0,panis,2001
9,Giancarlo Fisichella,ITA,BENETTON RENAULT,1.0,fisichella,2001
10,Kimi Räikkönen,FIN,SAUBER PETRONAS,1.0,raikkonen,2001
11,Eddie Irvine,GBR,JAGUAR COSWORTH,0.0,irvine,2001
12,Jacques Villeneuve,CAN,BAR HONDA,0.0,villeneuve,2001
13,Juan Pablo Montoya,COL,WILLIAMS BMW,0.0,montoya,2001
14,Jean Alesi,FRA,JORDAN HONDA,0.0,alesi,2001
15,Pedro de la Rosa,ESP,JAGUAR COSWORTH,0.0,rosa,2001
16,Jenson Button,GBR,BENETTON RENAULT,0.0,button,2001
17,Jos Verstappen,NED,ARROWS ASIATECH,0.0,verstappen,2001

In [8]:

data02 = [
    [1, 'Michael Schumacher', 'GER', 'FERRARI', 34, 'michael_schumacher'],
    [2, 'Rubens Barrichello', 'BRA', 'FERRARI', 6, 'barrichello'],
    [3, 'Juan Pablo Montoya', 'COL', 'WILLIAMS BMW', 17, 'montoya'],
    [4, 'Ralf Schumacher', 'GER', 'WILLIAMS BMW', 20, 'ralf_schumacher'],
    [5, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 5, 'coulthard'],
    [6, 'Kimi Räikkönen', 'FIN', 'MCLAREN MERCEDES', 4, 'raikkonen'],
    [7, 'Jenson Button', 'GBR', 'RENAULT', 8, 'button'],
    [8, 'Jarno Trulli', 'ITA', 'RENAULT', 0, 'trulli'],
    [9, 'Eddie Irvine', 'GBR', 'JAGUAR COSWORTH', 3, 'irvine'],
    [10, 'Nick Heidfeld', 'GER', 'SAUBER PETRONAS', 2, 'heidfeld'],
    [11, 'Giancarlo Fisichella', 'ITA', 'JORDAN HONDA', 0, 'fisichella'],
    [12, 'Jacques Villeneuve', 'CAN', 'BAR HONDA', 0, 'villeneuve'],
    [13, 'Felipe Massa', 'BRA', 'SAUBER PETRONAS', 1, 'massa'],
    [14, 'Olivier Panis', 'FRA', 'BAR HONDA', 0, 'panis'],
    [15, 'Takuma Sato', 'JPN', 'JORDAN HONDA', 0, 'sato'],
    [16, 'Mark Webber', 'AUS', 'MINARDI ASIATECH', 2, 'webber'],
    [17, 'Mika Salo', 'FIN', 'TOYOTA', 2, 'salo'],
    [18, 'Heinz-Harald Frentzen', 'GER', 'SAUBER PETRONAS', 0, 'frentzen'],
    [19, 'Allan McNish', 'GBR', 'TOYOTA', 0, 'mcnish'],
    [20, 'Pedro de la Rosa', 'ESP', 'JAGUAR COSWORTH', 0, 'rosa'],
    [21, 'Enrique Bernoldi', 'BRA', 'ARROWS COSWORTH', 0, 'bernoldi']
]

df02 = pd.DataFrame(data02, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df02['Year'] = '2002'
df02['Points'] = df02['Points'].astype(float)
df02 = df02.drop('Pos', axis=1)
df02 = df02.sort_values(by='Points', ascending=False)
df02 = df02.reset_index(drop=True)

df02

,Driver,Nationality,Team,Points,driverRef,Year
0,Michael Schumacher,GER,FERRARI,34.0,michael_schumacher,2002
1,Ralf Schumacher,GER,WILLIAMS BMW,20.0,ralf_schumacher,2002
2,Juan Pablo Montoya,COL,WILLIAMS BMW,17.0,montoya,2002
3,Jenson Button,GBR,RENAULT,8.0,button,2002
4,Rubens Barrichello,BRA,FERRARI,6.0,barrichello,2002
5,David Coulthard,GBR,MCLAREN MERCEDES,5.0,coulthard,2002
6,Kimi Räikkönen,FIN,MCLAREN MERCEDES,4.0,raikkonen,2002
7,Eddie Irvine,GBR,JAGUAR COSWORTH,3.0,irvine,2002
8,Mark Webber,AUS,MINARDI ASIATECH,2.0,webber,2002
9,Nick Heidfeld,GER,SAUBER PETRONAS,2.0,heidfeld,2002
10,Mika Salo,FIN,TOYOTA,2.0,salo,2002
11,Felipe Massa,BRA,SAUBER PETRONAS,1.0,massa,2002
12,Pedro de la Rosa,ESP,JAGUAR COSWORTH,0.0,rosa,2002
13,Allan McNish,GBR,TOYOTA,0.0,mcnish,2002
14,Heinz-Harald Frentzen,GER,SAUBER PETRONAS,0.0,frentzen,2002
15,Giancarlo Fisichella,ITA,JORDAN HONDA,0.0,fisichella,2002
16,Takuma Sato,JPN,JORDAN HONDA,0.0,sato,2002
17,Olivier Panis,FRA,BAR HONDA,0.0,panis,2002
18,Jacques Villeneuve,CAN,BAR HONDA,0.0,villeneuve,2002
19,Jarno Trulli,ITA,RENAULT,0.0,trulli,2002
20,Enrique Bernoldi,BRA,ARROWS COSWORTH,0.0,bernoldi,2002

In [9]:
data03 = [
    [1, 'Michael Schumacher', 'GER', 'FERRARI', 18, 'michael_schumacher'],
    [2, 'Kimi Räikkönen', 'FIN', 'MCLAREN MERCEDES', 32, 'raikkonen'],
    [3, 'Juan Pablo Montoya', 'COL', 'WILLIAMS BMW', 10, 'montoya'],
    [4, 'Rubens Barrichello', 'BRA', 'FERRARI', 14, 'barrichello'],
    [5, 'Ralf Schumacher', 'GER', 'WILLIAMS BMW', 13, 'ralf_schumacher'],
    [6, 'Fernando Alonso', 'ESP', 'RENAULT', 17, 'alonso'],
    [7, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 19, 'coulthard'],
    [8, 'Jarno Trulli', 'ITA', 'RENAULT', 9, 'trulli'],
    [9, 'Jenson Button', 'GBR', 'BAR HONDA', 3, 'button'],
    [10, 'Mark Webber', 'AUS', 'JAGUAR COSWORTH', 0, 'webber'],
    [11, 'Heinz-Harald Frentzen', 'GER', 'SAUBER PETRONAS', 7, 'frentzen'],
    [12, 'Giancarlo Fisichella', 'ITA', 'JORDAN FORD', 10, 'fisichella'],
    [13, 'Cristiano da Matta', 'BRA', 'TOYOTA', 0, 'matta'],
    [14, 'Nick Heidfeld', 'GER', 'SAUBER PETRONAS', 1, 'heidfeld'],
    [15, 'Olivier Panis', 'FRA', 'TOYOTA', 0, 'panis'],
    [16, 'Jacques Villeneuve', 'CAN', 'BAR HONDA', 3, 'villeneuve'],
    [17, 'Marc Gene', 'ESP', 'WILLIAMS BMW', 0, 'gene'],
    [18, 'Takuma Sato', 'JPN', 'BAR HONDA', 0, 'sato'],
    [19, 'Ralph Firman', 'IRL', 'JORDAN FORD', 0, 'firman'],
    [20, 'Justin Wilson', 'GBR', 'JAGUAR COSWORTH', 0, 'wilson'],
    [21, 'Jos Verstappen', 'NED', 'MINARDI COSWORTH', 0, 'verstappen'],
    [22, 'Zsolt Baumgartner', 'HUN', 'JORDAN FORD', 0, 'baumgartner']
]

df03 = pd.DataFrame(data03, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df03['Year'] = '2003'
df03['Points'] = df03['Points'].astype(float)
df03 = df03.drop('Pos', axis=1)
df03 = df03.sort_values(by='Points', ascending=False)
df03 = df03.reset_index(drop=True)

df03

,Driver,Nationality,Team,Points,driverRef,Year
0,Kimi Räikkönen,FIN,MCLAREN MERCEDES,32.0,raikkonen,2003
1,David Coulthard,GBR,MCLAREN MERCEDES,19.0,coulthard,2003
2,Michael Schumacher,GER,FERRARI,18.0,michael_schumacher,2003
3,Fernando Alonso,ESP,RENAULT,17.0,alonso,2003
4,Rubens Barrichello,BRA,FERRARI,14.0,barrichello,2003
5,Ralf Schumacher,GER,WILLIAMS BMW,13.0,ralf_schumacher,2003
6,Giancarlo Fisichella,ITA,JORDAN FORD,10.0,fisichella,2003
7,Juan Pablo Montoya,COL,WILLIAMS BMW,10.0,montoya,2003
8,Jarno Trulli,ITA,RENAULT,9.0,trulli,2003
9,Heinz-Harald Frentzen,GER,SAUBER PETRONAS,7.0,frentzen,2003
10,Jenson Button,GBR,BAR HONDA,3.0,button,2003
11,Jacques Villeneuve,CAN,BAR HONDA,3.0,villeneuve,2003
12,Nick Heidfeld,GER,SAUBER PETRONAS,1.0,heidfeld,2003
13,Mark Webber,AUS,JAGUAR COSWORTH,0.0,webber,2003
14,Cristiano da Matta,BRA,TOYOTA,0.0,matta,2003
15,Olivier Panis,FRA,TOYOTA,0.0,panis,2003
16,Marc Gene,ESP,WILLIAMS BMW,0.0,gene,2003
17,Takuma Sato,JPN,BAR HONDA,0.0,sato,2003
18,Ralph Firman,IRL,JORDAN FORD,0.0,firman,2003
19,Justin Wilson,GBR,JAGUAR COSWORTH,0.0,wilson,2003
20,Jos Verstappen,NED,MINARDI COSWORTH,0.0,verstappen,2003
21,Zsolt Baumgartner,HUN,JORDAN FORD,0.0,baumgartner,2003

In [10]:
data04 = [
    [1, 'Michael Schumacher', 'GER', 'FERRARI', 40, 'michael_schumacher'],
    [2, 'Rubens Barrichello', 'BRA', 'FERRARI', 24, 'barrichello'],
    [3, 'Jenson Button', 'GBR', 'BAR HONDA', 23, 'button'],
    [4, 'Fernando Alonso', 'ESP', 'RENAULT', 16, 'alonso'],
    [5, 'Juan Pablo Montoya', 'COL', 'WILLIAMS BMW', 18, 'montoya'],
    [6, 'Jarno Trulli', 'ITA', 'TOYOTA', 15, 'trulli'],
    [7, 'Kimi Räikkönen', 'FIN', 'MCLAREN MERCEDES', 1, 'raikkonen'],
    [8, 'Takuma Sato', 'JPN', 'BAR HONDA', 4, 'sato'],
    [9, 'Ralf Schumacher', 'GER', 'WILLIAMS BMW', 9, 'ralf_schumacher'],
    [10, 'David Coulthard', 'GBR', 'MCLAREN MERCEDES', 4, 'coulthard'],
    [11, 'Giancarlo Fisichella', 'ITA', 'SAUBER PETRONAS', 0, 'fisichella'],
    [12, 'Felipe Massa', 'BRA', 'SAUBER PETRONAS', 1, 'massa'],
    [13, 'Mark Webber', 'AUS', 'JAGUAR COSWORTH', 1, 'webber'],
    [14, 'Olivier Panis', 'FRA', 'TOYOTA', 0, 'panis'],
    [16, 'Christian Klien', 'AUT', 'JAGUAR COSWORTH', 0, 'klien'],
    [17, 'Cristiano da Matta', 'BRA', 'TOYOTA', 0, 'matta'],
    [18, 'Nick Heidfeld', 'GER', 'JORDAN FORD', 0, 'heidfeld'],
    [19, 'Timo Glock', 'GER', 'JORDAN FORD', 0, 'glock'],
    [20, 'Zsolt Baumgartner', 'HUN', 'MINARDI COSWORTH', 0, 'baumgartner'],
    [21, 'Jacques Villeneuve', 'CAN', 'RENAULT', 0, 'villeneuve'],
    [22, 'Ricardo Zonta', 'BRA', 'TOYOTA', 0, 'zonta'],
    [23, 'Marc Gene', 'ESP', 'WILLIAMS BMW', 0, 'gene'],
    [24, 'Giorgio Pantano', 'ITA', 'JORDAN FORD', 0, 'pantano'],
    [25, 'Gianmaria Bruni', 'ITA', 'MINARDI COSWORTH', 0, 'bruni']
]

df04 = pd.DataFrame(data04, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df04['Year'] = '2004'
df04['Points'] = df04['Points'].astype(float)
df04 = df04.drop('Pos', axis=1)
df04 = df04.sort_values(by='Points', ascending=False)
df04 = df04.reset_index(drop=True)

df04

,Driver,Nationality,Team,Points,driverRef,Year
0,Michael Schumacher,GER,FERRARI,40.0,michael_schumacher,2004
1,Rubens Barrichello,BRA,FERRARI,24.0,barrichello,2004
2,Jenson Button,GBR,BAR HONDA,23.0,button,2004
3,Juan Pablo Montoya,COL,WILLIAMS BMW,18.0,montoya,2004
4,Fernando Alonso,ESP,RENAULT,16.0,alonso,2004
5,Jarno Trulli,ITA,TOYOTA,15.0,trulli,2004
6,Ralf Schumacher,GER,WILLIAMS BMW,9.0,ralf_schumacher,2004
7,Takuma Sato,JPN,BAR HONDA,4.0,sato,2004
8,David Coulthard,GBR,MCLAREN MERCEDES,4.0,coulthard,2004
9,Felipe Massa,BRA,SAUBER PETRONAS,1.0,massa,2004
10,Mark Webber,AUS,JAGUAR COSWORTH,1.0,webber,2004
11,Kimi Räikkönen,FIN,MCLAREN MERCEDES,1.0,raikkonen,2004
12,Giancarlo Fisichella,ITA,SAUBER PETRONAS,0.0,fisichella,2004
13,Olivier Panis,FRA,TOYOTA,0.0,panis,2004
14,Christian Klien,AUT,JAGUAR COSWORTH,0.0,klien,2004
15,Cristiano da Matta,BRA,TOYOTA,0.0,matta,2004
16,Nick Heidfeld,GER,JORDAN FORD,0.0,heidfeld,2004
17,Timo Glock,GER,JORDAN FORD,0.0,glock,2004
18,Zsolt Baumgartner,HUN,MINARDI COSWORTH,0.0,baumgartner,2004
19,Jacques Villeneuve,CAN,RENAULT,0.0,villeneuve,2004
20,Ricardo Zonta,BRA,TOYOTA,0.0,zonta,2004
21,Marc Gene,ESP,WILLIAMS BMW,0.0,gene,2004
22,Giorgio Pantano,ITA,JORDAN FORD,0.0,pantano,2004
23,Gianmaria Bruni,ITA,MINARDI COSWORTH,0.0,bruni,2004

In [11]:
data05 = [
    [1, 'Fernando Alonso', 'ESP', 'RENAULT', 36, 'alonso'],
    [2, 'Kimi Räikkönen', 'FIN', 'MCLAREN MERCEDES', 7, 'raikkonen'],
    [3, 'Michael Schumacher', 'GER', 'FERRARI', 10, 'michael_schumacher'],
    [4, 'Juan Pablo Montoya', 'COL', 'MCLAREN MERCEDES', 8, 'montoya'],
    [5, 'Giancarlo Fisichella', 'ITA', 'RENAULT', 10, 'fisichella'],
    [6, 'Ralf Schumacher', 'GER', 'TOYOTA', 9, 'ralf_schumacher'],
    [7, 'Jarno Trulli', 'ITA', 'TOYOTA', 20, 'trulli'],
    [8, 'Rubens Barrichello', 'BRA', 'FERRARI', 8, 'barrichello'],
    [9, 'Jenson Button', 'GBR', 'BAR HONDA', 0, 'button'],
    [10, 'Mark Webber', 'AUS', 'WILLIAMS BMW', 9, 'webber'],
    [11, 'Nick Heidfeld', 'GER', 'WILLIAMS BMW', 9, 'heidfeld'],
    [12, 'David Coulthard', 'GBR', 'RBR COSWORTH', 9, 'coulthard'],
    [13, 'Felipe Massa', 'BRA', 'SAUBER PETRONAS', 2, 'massa'],
    [14, 'Jacques Villeneuve', 'CAN', 'SAUBER PETRONAS', 5, 'villeneuve'],
    [15, 'Christian Klien', 'AUT', 'RBR COSWORTH', 3, 'klien'],
    [16, 'Tiago Monteiro', 'POR', 'JORDAN TOYOTA', 0, 'monteiro'],
    [17, 'Alexander Wurz', 'AUT', 'MCLAREN MERCEDES', 6, 'wurz'],
    [18, 'Narain Karthikeyan', 'IND', 'JORDAN TOYOTA', 0, 'karthikeyan'],
    [19, 'Christijan Albers', 'NED', 'MINARDI COSWORTH', 0, 'albers'],
    [20, 'Pedro de la Rosa', 'ESP', 'MCLAREN MERCEDES', 4, 'rosa'],
    [21, 'Patrick Friesacher', 'AUT', 'MINARDI COSWORTH', 0, 'friesacher'],
    [23, 'Takuma Sato', 'JPN', 'BAR HONDA', 0, 'sato'],
    [24, 'Vitantonio Liuzzi', 'ITA', 'RBR COSWORTH', 1, 'liuzzi'],
]

df05 = pd.DataFrame(data05, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df05['Year'] = '2005'
df05['Points'] = df05['Points'].astype(float)
df05 = df05.drop('Pos', axis=1)
df05 = df05.sort_values(by='Points', ascending=False)
df05 = df05.reset_index(drop=True)

df05

,Driver,Nationality,Team,Points,driverRef,Year
0,Fernando Alonso,ESP,RENAULT,36.0,alonso,2005
1,Jarno Trulli,ITA,TOYOTA,20.0,trulli,2005
2,Michael Schumacher,GER,FERRARI,10.0,michael_schumacher,2005
3,Giancarlo Fisichella,ITA,RENAULT,10.0,fisichella,2005
4,Nick Heidfeld,GER,WILLIAMS BMW,9.0,heidfeld,2005
5,Mark Webber,AUS,WILLIAMS BMW,9.0,webber,2005
6,David Coulthard,GBR,RBR COSWORTH,9.0,coulthard,2005
7,Ralf Schumacher,GER,TOYOTA,9.0,ralf_schumacher,2005
8,Rubens Barrichello,BRA,FERRARI,8.0,barrichello,2005
9,Juan Pablo Montoya,COL,MCLAREN MERCEDES,8.0,montoya,2005
10,Kimi Räikkönen,FIN,MCLAREN MERCEDES,7.0,raikkonen,2005
11,Alexander Wurz,AUT,MCLAREN MERCEDES,6.0,wurz,2005
12,Jacques Villeneuve,CAN,SAUBER PETRONAS,5.0,villeneuve,2005
13,Pedro de la Rosa,ESP,MCLAREN MERCEDES,4.0,rosa,2005
14,Christian Klien,AUT,RBR COSWORTH,3.0,klien,2005
15,Felipe Massa,BRA,SAUBER PETRONAS,2.0,massa,2005
16,Vitantonio Liuzzi,ITA,RBR COSWORTH,1.0,liuzzi,2005
17,Jenson Button,GBR,BAR HONDA,0.0,button,2005
18,Tiago Monteiro,POR,JORDAN TOYOTA,0.0,monteiro,2005
19,Narain Karthikeyan,IND,JORDAN TOYOTA,0.0,karthikeyan,2005
20,Christijan Albers,NED,MINARDI COSWORTH,0.0,albers,2005
21,Patrick Friesacher,AUT,MINARDI COSWORTH,0.0,friesacher,2005
22,Takuma Sato,JPN,BAR HONDA,0.0,sato,2005

In [12]:
data06 = [
    [1, 'Fernando Alonso', 'ESP', 'RENAULT', 44, 'alonso'],
    [2, 'Michael Schumacher', 'GER', 'FERRARI', 31, 'michael_schumacher'],
    [3, 'Felipe Massa', 'BRA', 'FERRARI', 15, 'massa'],
    [4, 'Giancarlo Fisichella', 'ITA', 'RENAULT', 18, 'fisichella'],
    [5, 'Kimi Räikkönen', 'FIN', 'MCLAREN MERCEDES', 23, 'raikkonen'],
    [6, 'Jenson Button', 'GBR', 'HONDA', 13, 'button'],
    [7, 'Rubens Barrichello', 'BRA', 'HONDA', 6, 'barrichello'],
    [8, 'Juan Pablo Montoya', 'COL', 'MCLAREN MERCEDES', 15, 'montoya'],
    [9, 'Nick Heidfeld', 'GER', 'SAUBER BMW', 5, 'heidfeld'],
    [10, 'Ralf Schumacher', 'GER', 'TOYOTA', 7, 'ralf_schumacher'],
    [11, 'Pedro de la Rosa', 'ESP', 'MCLAREN MERCEDES', 0, 'rosa'],
    [12, 'Jarno Trulli', 'ITA', 'TOYOTA', 0, 'trulli'],
    [13, 'David Coulthard', 'GBR', 'RBR FERRARI', 1, 'coulthard'],
    [14, 'Mark Webber', 'AUS', 'WILLIAMS COSWORTH', 6, 'webber'],
    [15, 'Jacques Villeneuve', 'CAN', 'SAUBER BMW', 6, 'villeneuve'],
    [16, 'Robert Kubica', 'POL', 'SAUBER BMW', 6, 'kubica'],
    [17, 'Nico Rosberg', 'GER', 'WILLIAMS COSWORTH', 4, 'rosberg'],
    [18, 'Christian Klien', 'AUT', 'RBR FERRARI', 1, 'klien'],
    [19, 'Vitantonio Liuzzi', 'ITA', 'STR COSWORTH', 0, 'liuzzi'],
    [20, 'Scott Speed', 'USA', 'STR COSWORTH', 0, 'speed'],
    [21, 'Tiago Monteiro', 'POR', 'MF1 TOYOTA', 0, 'monteiro'],
    [22, 'Christijan Albers', 'NED', 'MF1 TOYOTA', 0, 'albers'],
    [23, 'Takuma Sato', 'JPN', 'SUPER AGURI HONDA', 0, 'sato'],
    [24, 'Franck Montagny', 'FRA', 'SUPER AGURI HONDA', 0, 'montagny']
]

df06 = pd.DataFrame(data06, columns=['Pos', 'Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df06['Year'] = '2006'
df06['Points'] = df06['Points'].astype(float)
df06 = df06.drop('Pos', axis=1)
df06 = df06.sort_values(by='Points', ascending=False)
df06 = df06.reset_index(drop=True)

df06

,Driver,Nationality,Team,Points,driverRef,Year
0,Fernando Alonso,ESP,RENAULT,44.0,alonso,2006
1,Michael Schumacher,GER,FERRARI,31.0,michael_schumacher,2006
2,Kimi Räikkönen,FIN,MCLAREN MERCEDES,23.0,raikkonen,2006
3,Giancarlo Fisichella,ITA,RENAULT,18.0,fisichella,2006
4,Felipe Massa,BRA,FERRARI,15.0,massa,2006
5,Juan Pablo Montoya,COL,MCLAREN MERCEDES,15.0,montoya,2006
6,Jenson Button,GBR,HONDA,13.0,button,2006
7,Ralf Schumacher,GER,TOYOTA,7.0,ralf_schumacher,2006
8,Robert Kubica,POL,SAUBER BMW,6.0,kubica,2006
9,Rubens Barrichello,BRA,HONDA,6.0,barrichello,2006
10,Mark Webber,AUS,WILLIAMS COSWORTH,6.0,webber,2006
11,Jacques Villeneuve,CAN,SAUBER BMW,6.0,villeneuve,2006
12,Nick Heidfeld,GER,SAUBER BMW,5.0,heidfeld,2006
13,Nico Rosberg,GER,WILLIAMS COSWORTH,4.0,rosberg,2006
14,Christian Klien,AUT,RBR FERRARI,1.0,klien,2006
15,David Coulthard,GBR,RBR FERRARI,1.0,coulthard,2006
16,Jarno Trulli,ITA,TOYOTA,0.0,trulli,2006
17,Pedro de la Rosa,ESP,MCLAREN MERCEDES,0.0,rosa,2006
18,Vitantonio Liuzzi,ITA,STR COSWORTH,0.0,liuzzi,2006
19,Scott Speed,USA,STR COSWORTH,0.0,speed,2006
20,Tiago Monteiro,POR,MF1 TOYOTA,0.0,monteiro,2006
21,Christijan Albers,NED,MF1 TOYOTA,0.0,albers,2006
22,Takuma Sato,JPN,SUPER AGURI HONDA,0.0,sato,2006
23,Franck Montagny,FRA,SUPER AGURI HONDA,0.0,montagny,2006

In [13]:
data07 = [
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 22, 'raikkonen'],
    ['Lewis Hamilton', 'GBR', 'MCLAREN MERCEDES', 22, 'hamilton'],
    ['Fernando Alonso', 'ESP', 'MCLAREN MERCEDES', 22, 'alonso'],
    ['Felipe Massa', 'BRA', 'FERRARI', 17, 'massa'],
    ['Nick Heidfeld', 'GER', 'SAUBER BMW', 15, 'heidfeld'],
    ['Robert Kubica', 'POL', 'SAUBER BMW', 3, 'kubica'],
    ['Heikki Kovalainen', 'FIN', 'RENAULT', 1, 'kovalainen'],
    ['Giancarlo Fisichella', 'ITA', 'RENAULT', 8, 'fisichella'],
    ['Nico Rosberg', 'GER', 'WILLIAMS TOYOTA', 2, 'rosberg'],
    ['David Coulthard', 'GBR', 'RED BULL RENAULT', 0, 'coulthard'],
    ['Alexander Wurz', 'AUT', 'WILLIAMS TOYOTA', 0, 'wurz'],
    ['Mark Webber', 'AUS', 'RED BULL RENAULT', 0, 'webber'],
    ['Jarno Trulli', 'ITA', 'TOYOTA', 4, 'trulli'],
    ['Sebastian Vettel', 'GER', 'STR FERRARI', 0, 'vettel'],
    ['Jenson Button', 'GBR', 'HONDA', 0, 'button'],
    ['Ralf Schumacher', 'GER', 'TOYOTA', 1, 'ralf_schumacher'],
    ['Takuma Sato', 'JPN', 'SUPER AGURI HONDA', 0, 'sato'],
    ['Vitantonio Liuzzi', 'ITA', 'STR FERRARI', 0, 'liuzzi'],
    ['Adrian Sutil', 'GER', 'SPYKER FERRARI', 0, 'sutil'],
    ['Rubens Barrichello', 'BRA', 'HONDA', 0, 'barrichello'],
    ['Scott Speed', 'USA', 'STR FERRARI', 0, 'speed'],
    ['Kazuki Nakajima', 'JPN', 'WILLIAMS TOYOTA', 0, 'nakajima'],
    ['Anthony Davidson', 'GBR', 'SUPER AGURI HONDA', 0, 'davidson'],
    ['Christijan Albers', 'NED', 'SPYKER FERRARI', 0, 'albers']
]

df07 = pd.DataFrame(data07, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])

df07['Year'] = '2007'
df07['Points'] = df07['Points'].astype(float)
df07 = df07.sort_values(by='Points', ascending=False)
df07 = df07.reset_index(drop=True)

df07

,Driver,Nationality,Team,Points,driverRef,Year
0,Kimi Räikkönen,FIN,FERRARI,22.0,raikkonen,2007
1,Fernando Alonso,ESP,MCLAREN MERCEDES,22.0,alonso,2007
2,Lewis Hamilton,GBR,MCLAREN MERCEDES,22.0,hamilton,2007
3,Felipe Massa,BRA,FERRARI,17.0,massa,2007
4,Nick Heidfeld,GER,SAUBER BMW,15.0,heidfeld,2007
5,Giancarlo Fisichella,ITA,RENAULT,8.0,fisichella,2007
6,Jarno Trulli,ITA,TOYOTA,4.0,trulli,2007
7,Robert Kubica,POL,SAUBER BMW,3.0,kubica,2007
8,Nico Rosberg,GER,WILLIAMS TOYOTA,2.0,rosberg,2007
9,Heikki Kovalainen,FIN,RENAULT,1.0,kovalainen,2007
10,Ralf Schumacher,GER,TOYOTA,1.0,ralf_schumacher,2007
11,Mark Webber,AUS,RED BULL RENAULT,0.0,webber,2007
12,Alexander Wurz,AUT,WILLIAMS TOYOTA,0.0,wurz,2007
13,Sebastian Vettel,GER,STR FERRARI,0.0,vettel,2007
14,Jenson Button,GBR,HONDA,0.0,button,2007
15,David Coulthard,GBR,RED BULL RENAULT,0.0,coulthard,2007
16,Takuma Sato,JPN,SUPER AGURI HONDA,0.0,sato,2007
17,Vitantonio Liuzzi,ITA,STR FERRARI,0.0,liuzzi,2007
18,Adrian Sutil,GER,SPYKER FERRARI,0.0,sutil,2007
19,Rubens Barrichello,BRA,HONDA,0.0,barrichello,2007
20,Scott Speed,USA,STR FERRARI,0.0,speed,2007
21,Kazuki Nakajima,JPN,WILLIAMS TOYOTA,0.0,nakajima,2007
22,Anthony Davidson,GBR,SUPER AGURI HONDA,0.0,davidson,2007
23,Christijan Albers,NED,SPYKER FERRARI,0.0,albers,2007

In [14]:
data08 = [
    ['Lewis Hamilton', 'GBR', 'MCLAREN MERCEDES', 14, 'hamilton'],
    ['Felipe Massa', 'BRA', 'FERRARI', 10, 'massa'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 19, 'raikkonen'],
    ['Robert Kubica', 'POL', 'SAUBER BMW', 14, 'kubica'],
    ['Fernando Alonso', 'ESP', 'RENAULT', 6, 'alonso'],
    ['Nick Heidfeld', 'GER', 'SAUBER BMW', 16, 'heidfeld'],
    ['Heikki Kovalainen', 'FIN', 'MCLAREN MERCEDES', 14, 'kovalainen'],
    ['Sebastian Vettel', 'GER', 'STR FERRARI', 0, 'vettel'],
    ['Jarno Trulli', 'ITA', 'TOYOTA', 8, 'trulli'],
    ['Timo Glock', 'GER', 'TOYOTA', 0, 'glock'],
    ['Mark Webber', 'AUS', 'RED BULL RENAULT', 4, 'webber'],
    ['Nelson Piquet Jr.', 'BRA', 'RENAULT', 0, 'piquet_jr'],
    ['Nico Rosberg', 'GER', 'WILLIAMS TOYOTA', 7, 'rosberg'],
    ['Rubens Barrichello', 'BRA', 'HONDA', 0, 'barrichello'],
    ['Kazuki Nakajima', 'JPN', 'WILLIAMS TOYOTA', 3, 'nakajima'],
    ['David Coulthard', 'GBR', 'RED BULL RENAULT', 0, 'coulthard'],
    ['Sebastien Bourdais', 'FRA', 'STR FERRARI', 2, 'bourdais'],
    ['Jenson Button', 'GBR', 'HONDA', 0, 'button'],
    ['Giancarlo Fisichella', 'ITA', 'FORCE INDIA FERRARI', 0, 'fisichella'],
    ['Adrian Sutil', 'GER', 'FORCE INDIA FERRARI', 0, 'sutil'],
    ['Takuma Sato', 'JPN', 'SUPER AGURI HONDA', 0, 'sato'],
    ['Anthony Davidson', 'GBR', 'SUPER AGURI HONDA', 0, 'davidson']
]

df08 = pd.DataFrame(data08, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df08['Year'] = '2008'
df08['Points'] = df08['Points'].astype(float)
df08 = df08.sort_values(by='Points', ascending=False).reset_index(drop=True)

df08

,Driver,Nationality,Team,Points,driverRef,Year
0,Kimi Räikkönen,FIN,FERRARI,19.0,raikkonen,2008
1,Nick Heidfeld,GER,SAUBER BMW,16.0,heidfeld,2008
2,Lewis Hamilton,GBR,MCLAREN MERCEDES,14.0,hamilton,2008
3,Robert Kubica,POL,SAUBER BMW,14.0,kubica,2008
4,Heikki Kovalainen,FIN,MCLAREN MERCEDES,14.0,kovalainen,2008
5,Felipe Massa,BRA,FERRARI,10.0,massa,2008
6,Jarno Trulli,ITA,TOYOTA,8.0,trulli,2008
7,Nico Rosberg,GER,WILLIAMS TOYOTA,7.0,rosberg,2008
8,Fernando Alonso,ESP,RENAULT,6.0,alonso,2008
9,Mark Webber,AUS,RED BULL RENAULT,4.0,webber,2008
10,Kazuki Nakajima,JPN,WILLIAMS TOYOTA,3.0,nakajima,2008
11,Sebastien Bourdais,FRA,STR FERRARI,2.0,bourdais,2008
12,Takuma Sato,JPN,SUPER AGURI HONDA,0.0,sato,2008
13,Adrian Sutil,GER,FORCE INDIA FERRARI,0.0,sutil,2008
14,Giancarlo Fisichella,ITA,FORCE INDIA FERRARI,0.0,fisichella,2008
15,Jenson Button,GBR,HONDA,0.0,button,2008
16,Nelson Piquet Jr.,BRA,RENAULT,0.0,piquet_jr,2008
17,David Coulthard,GBR,RED BULL RENAULT,0.0,coulthard,2008
18,Rubens Barrichello,BRA,HONDA,0.0,barrichello,2008
19,Timo Glock,GER,TOYOTA,0.0,glock,2008
20,Sebastian Vettel,GER,STR FERRARI,0.0,vettel,2008
21,Anthony Davidson,GBR,SUPER AGURI HONDA,0.0,davidson,2008

In [15]:
data09 = [
    ['Jenson Button', 'GBR', 'BRAWN MERCEDES', 31, 'button'],
    ['Sebastian Vettel', 'GER', 'RBR RENAULT', 18, 'vettel'],
    ['Rubens Barrichello', 'BRA', 'BRAWN MERCEDES', 19, 'barrichello'],
    ['Mark Webber', 'AUS', 'RBR RENAULT', 9.5, 'webber'],
    ['Lewis Hamilton', 'GBR', 'MCLAREN MERCEDES', 9, 'hamilton'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 3, 'raikkonen'],
    ['Nico Rosberg', 'GER', 'WILLIAMS TOYOTA', 3.5, 'rosberg'],
    ['Jarno Trulli', 'ITA', 'TOYOTA', 14.5, 'trulli'],
    ['Fernando Alonso', 'ESP', 'RENAULT', 5, 'alonso'],
    ['Timo Glock', 'GER', 'TOYOTA', 12, 'glock'],
    ['Felipe Massa', 'BRA', 'FERRARI', 0, 'massa'],
    ['Heikki Kovalainen', 'FIN', 'MCLAREN MERCEDES', 4, 'kovalainen'],
    ['Nick Heidfeld', 'GER', 'SAUBER BMW', 4, 'heidfeld'],
    ['Robert Kubica', 'POL', 'SAUBER BMW', 0, 'kubica'],
    ['Giancarlo Fisichella', 'ITA', 'FERRARI', 0, 'fisichella'],
    ['Sebastien Buemi', 'SUI', 'STR FERRARI', 3, 'buemi'],
    ['Adrian Sutil', 'GER', 'FORCE INDIA MERCEDES', 0, 'sutil'],
    ['Kamui Kobayashi', 'JPN', 'TOYOTA', 0, 'kobayashi'],
    ['Sebastien Bourdais', 'FRA', 'STR FERRARI', 1, 'bourdais'],
    ['Kazuki Nakajima', 'JPN', 'WILLIAMS TOYOTA', 0, 'nakajima'],
    ['Nelson Piquet Jr.', 'BRA', 'RENAULT', 0, 'piquet_jr'],
    ['Vitantonio Liuzzi', 'ITA', 'FORCE INDIA MERCEDES', 0, 'liuzzi'],
    ['Romain Grosjean', 'FRA', 'RENAULT', 0, 'grosjean'],
    ['Jaime Alguersuari', 'ESP', 'STR FERRARI', 0, 'alguersuari'],
    ['Luca Badoer', 'ITA', 'FERRARI', 0, 'badoer']
]

df09 = pd.DataFrame(data09, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df09['Year'] = '2009'
df09['Points'] = df09['Points'].astype(float)
df09 = df09.sort_values(by='Points', ascending=False).reset_index(drop=True)

df09

,Driver,Nationality,Team,Points,driverRef,Year
0,Jenson Button,GBR,BRAWN MERCEDES,31.0,button,2009
1,Rubens Barrichello,BRA,BRAWN MERCEDES,19.0,barrichello,2009
2,Sebastian Vettel,GER,RBR RENAULT,18.0,vettel,2009
3,Jarno Trulli,ITA,TOYOTA,14.5,trulli,2009
4,Timo Glock,GER,TOYOTA,12.0,glock,2009
5,Mark Webber,AUS,RBR RENAULT,9.5,webber,2009
6,Lewis Hamilton,GBR,MCLAREN MERCEDES,9.0,hamilton,2009
7,Fernando Alonso,ESP,RENAULT,5.0,alonso,2009
8,Heikki Kovalainen,FIN,MCLAREN MERCEDES,4.0,kovalainen,2009
9,Nick Heidfeld,GER,SAUBER BMW,4.0,heidfeld,2009
10,Nico Rosberg,GER,WILLIAMS TOYOTA,3.5,rosberg,2009
11,Kimi Räikkönen,FIN,FERRARI,3.0,raikkonen,2009
12,Sebastien Buemi,SUI,STR FERRARI,3.0,buemi,2009
13,Sebastien Bourdais,FRA,STR FERRARI,1.0,bourdais,2009
14,Felipe Massa,BRA,FERRARI,0.0,massa,2009
15,Robert Kubica,POL,SAUBER BMW,0.0,kubica,2009
16,Giancarlo Fisichella,ITA,FERRARI,0.0,fisichella,2009
17,Adrian Sutil,GER,FORCE INDIA MERCEDES,0.0,sutil,2009
18,Kamui Kobayashi,JPN,TOYOTA,0.0,kobayashi,2009
19,Kazuki Nakajima,JPN,WILLIAMS TOYOTA,0.0,nakajima,2009
20,Nelson Piquet Jr.,BRA,RENAULT,0.0,piquet_jr,2009
21,Vitantonio Liuzzi,ITA,FORCE INDIA MERCEDES,0.0,liuzzi,2009
22,Romain Grosjean,FRA,RENAULT,0.0,grosjean,2009
23,Jaime Alguersuari,ESP,STR FERRARI,0.0,alguersuari,2009
24,Luca Badoer,ITA,FERRARI,0.0,badoer,2009

In [16]:
data10 = [
    ['Sebastian Vettel', 'GER', 'RBR RENAULT', 45, 'vettel'],
    ['Fernando Alonso', 'ESP', 'FERRARI', 49, 'alonso'],
    ['Mark Webber', 'AUS', 'RBR RENAULT', 28, 'webber'],
    ['Lewis Hamilton', 'GBR', 'MCLAREN MERCEDES', 49, 'hamilton'],
    ['Jenson Button', 'GBR', 'MCLAREN MERCEDES', 60, 'button'],
    ['Felipe Massa', 'BRA', 'FERRARI', 41, 'massa'],
    ['Nico Rosberg', 'GER', 'MERCEDES', 50, 'rosberg'],
    ['Robert Kubica', 'POL', 'RENAULT', 40, 'kubica'],
    ['Michael Schumacher', 'GER', 'MERCEDES', 10, 'michael_schumacher'],
    ['Rubens Barrichello', 'BRA', 'WILLIAMS COSWORTH', 5, 'barrichello'],
    ['Adrian Sutil', 'GER', 'FORCE INDIA MERCEDES', 10, 'sutil'],
    ['Kamui Kobayashi', 'JPN', 'SAUBER FERRARI', 0, 'kobayashi'],
    ['Vitaly Petrov', 'RUS', 'RENAULT', 0, 'petrov'],
    ['Nico Hulkenberg', 'GER', 'WILLIAMS COSWORTH', 1, 'hulkenberg'],
    ['Vitantonio Liuzzi', 'ITA', 'FORCE INDIA MERCEDES', 8, 'liuzzi'],
    ['Sebastien Buemi', 'SUI', 'STR FERRARI', 0, 'buemi'],
    ['Pedro de la Rosa', 'ESP', 'SAUBER FERRARI', 0, 'rosa'],
    ['Nick Heidfeld', 'GER', 'SAUBER FERRARI', 0, 'heidfeld'],
    ['Jaime Alguersuari', 'ESP', 'STR FERRARI', 2, 'alguersuari'],
    ['Heikki Kovalainen', 'FIN', 'LOTUS COSWORTH', 0, 'kovalainen'],
    ['Jarno Trulli', 'ITA', 'LOTUS COSWORTH', 0, 'trulli'],
    ['Karun Chandhok', 'IND', 'HRT COSWORTH', 0, 'chandhok'],
    ['Bruno Senna', 'BRA', 'HRT COSWORTH', 0, 'bruno_senna'],
    ['Lucas di Grassi', 'BRA', 'VIRGIN COSWORTH', 0, 'grassi'],
    ['Timo Glock', 'GER', 'VIRGIN COSWORTH', 0, 'glock'],
    ['Christian Klien', 'AUT', 'HRT COSWORTH', 0, 'klien']
]

df10 = pd.DataFrame(data10, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df10['Year'] = '2010'
df10['Points'] = df10['Points'].astype(float)
df10 = df10.sort_values(by='Points', ascending=False).reset_index(drop=True)

df10

,Driver,Nationality,Team,Points,driverRef,Year
0,Jenson Button,GBR,MCLAREN MERCEDES,60.0,button,2010
1,Nico Rosberg,GER,MERCEDES,50.0,rosberg,2010
2,Fernando Alonso,ESP,FERRARI,49.0,alonso,2010
3,Lewis Hamilton,GBR,MCLAREN MERCEDES,49.0,hamilton,2010
4,Sebastian Vettel,GER,RBR RENAULT,45.0,vettel,2010
5,Felipe Massa,BRA,FERRARI,41.0,massa,2010
6,Robert Kubica,POL,RENAULT,40.0,kubica,2010
7,Mark Webber,AUS,RBR RENAULT,28.0,webber,2010
8,Michael Schumacher,GER,MERCEDES,10.0,michael_schumacher,2010
9,Adrian Sutil,GER,FORCE INDIA MERCEDES,10.0,sutil,2010
10,Vitantonio Liuzzi,ITA,FORCE INDIA MERCEDES,8.0,liuzzi,2010
11,Rubens Barrichello,BRA,WILLIAMS COSWORTH,5.0,barrichello,2010
12,Jaime Alguersuari,ESP,STR FERRARI,2.0,alguersuari,2010
13,Nico Hulkenberg,GER,WILLIAMS COSWORTH,1.0,hulkenberg,2010
14,Vitaly Petrov,RUS,RENAULT,0.0,petrov,2010
15,Sebastien Buemi,SUI,STR FERRARI,0.0,buemi,2010
16,Pedro de la Rosa,ESP,SAUBER FERRARI,0.0,rosa,2010
17,Nick Heidfeld,GER,SAUBER FERRARI,0.0,heidfeld,2010
18,Kamui Kobayashi,JPN,SAUBER FERRARI,0.0,kobayashi,2010
19,Heikki Kovalainen,FIN,LOTUS COSWORTH,0.0,kovalainen,2010
20,Jarno Trulli,ITA,LOTUS COSWORTH,0.0,trulli,2010
21,Karun Chandhok,IND,HRT COSWORTH,0.0,chandhok,2010
22,Bruno Senna,BRA,HRT COSWORTH,0.0,bruno_senna,2010
23,Lucas di Grassi,BRA,VIRGIN COSWORTH,0.0,grassi,2010
24,Timo Glock,GER,VIRGIN COSWORTH,0.0,glock,2010
25,Christian Klien,AUT,HRT COSWORTH,0.0,klien,2010

In [17]:
data11 = [
    ['Sebastian Vettel', 'GER', 'RED BULL RACING RENAULT', 93, 'vettel'],
    ['Jenson Button', 'GBR', 'MCLAREN MERCEDES', 46, 'button'],
    ['Mark Webber', 'AUS', 'RED BULL RACING RENAULT', 55, 'webber'],
    ['Fernando Alonso', 'ESP', 'FERRARI', 41, 'alonso'],
    ['Lewis Hamilton', 'GBR', 'MCLAREN MERCEDES', 59, 'hamilton'],
    ['Felipe Massa', 'BRA', 'FERRARI', 24, 'massa'],
    ['Nico Rosberg', 'GER', 'MERCEDES', 20, 'rosberg'],
    ['Michael Schumacher', 'GER', 'MERCEDES', 6, 'michael_schumacher'],
    ['Adrian Sutil', 'GER', 'FORCE INDIA MERCEDES', 2, 'sutil'],
    ['Vitaly Petrov', 'RUS', 'RENAULT', 21, 'petrov'],
    ['Nick Heidfeld', 'GER', 'RENAULT', 21, 'heidfeld'],
    ['Kamui Kobayashi', 'JPN', 'SAUBER FERRARI', 8, 'kobayashi'],
    ['Paul di Resta', 'GBR', 'FORCE INDIA MERCEDES', 2, 'resta'],
    ['Jaime Alguersuari', 'ESP', 'STR FERRARI', 0, 'alguersuari'],
    ['Sebastien Buemi', 'SUI', 'STR FERRARI', 6, 'buemi'],
    ['Sergio Perez', 'MEX', 'SAUBER FERRARI', 0, 'perez'],
    ['Rubens Barrichello', 'BRA', 'WILLIAMS COSWORTH', 0, 'barrichello'],
    ['Bruno Senna', 'BRA', 'RENAULT', 0, 'bruno_senna'],
    ['Pastor Maldonado', 'VEN', 'WILLIAMS COSWORTH', 0, 'maldonado'],
    ['Pedro de la Rosa', 'ESP', 'SAUBER FERRARI', 0, 'rosa'],
    ['Jarno Trulli', 'ITA', 'LOTUS RENAULT', 0, 'trulli'],
    ['Heikki Kovalainen', 'FIN', 'LOTUS RENAULT', 0, 'kovalainen'],
    ['Vitantonio Liuzzi', 'ITA', 'HRT COSWORTH', 0, 'liuzzi'],
    ['Jerome d\'Ambrosio', 'BEL', 'VIRGIN COSWORTH', 0, 'ambrosio'],
    ['Timo Glock', 'GER', 'VIRGIN COSWORTH', 0, 'glock'],
    ['Narain Karthikeyan', 'IND', 'HRT COSWORTH', 0, 'karthikeyan'],
    ['Daniel Ricciardo', 'AUS', 'HRT COSWORTH', 0, 'ricciardo'],
    ['Karun Chandhok', 'IND', 'LOTUS RENAULT', 0, 'chandhok']
]

df11 = pd.DataFrame(data11, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df11['Year'] = '2011'
df11['Points'] = df11['Points'].astype(float)
df11 = df11.sort_values(by='Points', ascending=False).reset_index(drop=True)

df11

,Driver,Nationality,Team,Points,driverRef,Year
0,Sebastian Vettel,GER,RED BULL RACING RENAULT,93.0,vettel,2011
1,Lewis Hamilton,GBR,MCLAREN MERCEDES,59.0,hamilton,2011
2,Mark Webber,AUS,RED BULL RACING RENAULT,55.0,webber,2011
3,Jenson Button,GBR,MCLAREN MERCEDES,46.0,button,2011
4,Fernando Alonso,ESP,FERRARI,41.0,alonso,2011
5,Felipe Massa,BRA,FERRARI,24.0,massa,2011
6,Nick Heidfeld,GER,RENAULT,21.0,heidfeld,2011
7,Vitaly Petrov,RUS,RENAULT,21.0,petrov,2011
8,Nico Rosberg,GER,MERCEDES,20.0,rosberg,2011
9,Kamui Kobayashi,JPN,SAUBER FERRARI,8.0,kobayashi,2011
10,Sebastien Buemi,SUI,STR FERRARI,6.0,buemi,2011
11,Michael Schumacher,GER,MERCEDES,6.0,michael_schumacher,2011
12,Adrian Sutil,GER,FORCE INDIA MERCEDES,2.0,sutil,2011
13,Paul di Resta,GBR,FORCE INDIA MERCEDES,2.0,resta,2011
14,Heikki Kovalainen,FIN,LOTUS RENAULT,0.0,kovalainen,2011
15,Daniel Ricciardo,AUS,HRT COSWORTH,0.0,ricciardo,2011
16,Narain Karthikeyan,IND,HRT COSWORTH,0.0,karthikeyan,2011
17,Timo Glock,GER,VIRGIN COSWORTH,0.0,glock,2011
18,Jerome d'Ambrosio,BEL,VIRGIN COSWORTH,0.0,ambrosio,2011
19,Vitantonio Liuzzi,ITA,HRT COSWORTH,0.0,liuzzi,2011
20,Pedro de la Rosa,ESP,SAUBER FERRARI,0.0,rosa,2011
21,Jarno Trulli,ITA,LOTUS RENAULT,0.0,trulli,2011
22,Pastor Maldonado,VEN,WILLIAMS COSWORTH,0.0,maldonado,2011
23,Bruno Senna,BRA,RENAULT,0.0,bruno_senna,2011
24,Rubens Barrichello,BRA,WILLIAMS COSWORTH,0.0,barrichello,2011
25,Sergio Perez,MEX,SAUBER FERRARI,0.0,perez,2011
26,Jaime Alguersuari,ESP,STR FERRARI,0.0,alguersuari,2011
27,Karun Chandhok,IND,LOTUS RENAULT,0.0,chandhok,2011

In [18]:
data12 = [
    ['Sebastian Vettel', 'GER', 'RED BULL RACING RENAULT', 53, 'vettel'],
    ['Fernando Alonso', 'ESP', 'FERRARI', 43, 'alonso'],
    ['Kimi Räikkönen', 'FIN', 'LOTUS RENAULT', 34, 'raikkonen'],
    ['Lewis Hamilton', 'GBR', 'MCLAREN MERCEDES', 49, 'hamilton'],
    ['Jenson Button', 'GBR', 'MCLAREN MERCEDES', 43, 'button'],
    ['Mark Webber', 'AUS', 'RED BULL RACING RENAULT', 48, 'webber'],
    ['Felipe Massa', 'BRA', 'FERRARI', 2, 'massa'],
    ['Romain Grosjean', 'FRA', 'LOTUS RENAULT', 23, 'grosjean'],
    ['Nico Rosberg', 'GER', 'MERCEDES', 35, 'rosberg'],
    ['Sergio Perez', 'MEX', 'SAUBER FERRARI', 22, 'perez'],
    ['Nico Hulkenberg', 'GER', 'FORCE INDIA MERCEDES', 2, 'hulkenberg'],
    ['Kamui Kobayashi', 'JPN', 'SAUBER FERRARI', 9, 'kobayashi'],
    ['Michael Schumacher', 'GER', 'MERCEDES', 2, 'michael_schumacher'],
    ['Paul di Resta', 'GBR', 'FORCE INDIA MERCEDES', 15, 'resta'],
    ['Pastor Maldonado', 'VEN', 'WILLIAMS RENAULT', 4, 'maldonado'],
    ['Bruno Senna', 'BRA', 'WILLIAMS RENAULT', 12, 'bruno_senna'],
    ['Jean-Eric Vergne', 'FRA', 'STR FERRARI', 4, 'vergne'],
    ['Daniel Ricciardo', 'AUS', 'STR FERRARI', 2, 'ricciardo'],
    ['Vitaly Petrov', 'RUS', 'CATERHAM RENAULT', 0, 'petrov'],
    ['Timo Glock', 'GER', 'MARUSSIA COSWORTH', 0, 'glock'],
    ['Charles Pic', 'FRA', 'MARUSSIA COSWORTH', 0, 'pic'],
    ['Heikki Kovalainen', 'FIN', 'CATERHAM RENAULT', 0, 'kovalainen'],
    ['Jerome d\'Ambrosio', 'BEL', 'LOTUS RENAULT', 0, 'ambrosio'],
    ['Narain Karthikeyan', 'IND', 'HRT COSWORTH', 0, 'karthikeyan'],
    ['Pedro de la Rosa', 'ESP', 'HRT COSWORTH', 0, 'rosa']
]

df12 = pd.DataFrame(data12, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df12['Year'] = '2012'
df12['Points'] = df12['Points'].astype(float)
df12 = df12.sort_values(by='Points', ascending=False).reset_index(drop=True)

df12

,Driver,Nationality,Team,Points,driverRef,Year
0,Sebastian Vettel,GER,RED BULL RACING RENAULT,53.0,vettel,2012
1,Lewis Hamilton,GBR,MCLAREN MERCEDES,49.0,hamilton,2012
2,Mark Webber,AUS,RED BULL RACING RENAULT,48.0,webber,2012
3,Jenson Button,GBR,MCLAREN MERCEDES,43.0,button,2012
4,Fernando Alonso,ESP,FERRARI,43.0,alonso,2012
5,Nico Rosberg,GER,MERCEDES,35.0,rosberg,2012
6,Kimi Räikkönen,FIN,LOTUS RENAULT,34.0,raikkonen,2012
7,Romain Grosjean,FRA,LOTUS RENAULT,23.0,grosjean,2012
8,Sergio Perez,MEX,SAUBER FERRARI,22.0,perez,2012
9,Paul di Resta,GBR,FORCE INDIA MERCEDES,15.0,resta,2012
10,Bruno Senna,BRA,WILLIAMS RENAULT,12.0,bruno_senna,2012
11,Kamui Kobayashi,JPN,SAUBER FERRARI,9.0,kobayashi,2012
12,Jean-Eric Vergne,FRA,STR FERRARI,4.0,vergne,2012
13,Pastor Maldonado,VEN,WILLIAMS RENAULT,4.0,maldonado,2012
14,Daniel Ricciardo,AUS,STR FERRARI,2.0,ricciardo,2012
15,Michael Schumacher,GER,MERCEDES,2.0,michael_schumacher,2012
16,Nico Hulkenberg,GER,FORCE INDIA MERCEDES,2.0,hulkenberg,2012
17,Felipe Massa,BRA,FERRARI,2.0,massa,2012
18,Vitaly Petrov,RUS,CATERHAM RENAULT,0.0,petrov,2012
19,Timo Glock,GER,MARUSSIA COSWORTH,0.0,glock,2012
20,Charles Pic,FRA,MARUSSIA COSWORTH,0.0,pic,2012
21,Heikki Kovalainen,FIN,CATERHAM RENAULT,0.0,kovalainen,2012
22,Jerome d'Ambrosio,BEL,LOTUS RENAULT,0.0,ambrosio,2012
23,Narain Karthikeyan,IND,HRT COSWORTH,0.0,karthikeyan,2012
24,Pedro de la Rosa,ESP,HRT COSWORTH,0.0,rosa,2012

In [19]:
data13 = [
    ['Sebastian Vettel', 'GER', 'RED BULL RACING RENAULT', 77, 'vettel'],
    ['Fernando Alonso', 'ESP', 'FERRARI', 47, 'alonso'],
    ['Mark Webber', 'AUS', 'RED BULL RACING RENAULT', 32, 'webber'],
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 50, 'hamilton'],
    ['Kimi Räikkönen', 'FIN', 'LOTUS RENAULT', 67, 'raikkonen'],
    ['Nico Rosberg', 'GER', 'MERCEDES', 14, 'rosberg'],
    ['Romain Grosjean', 'FRA', 'LOTUS RENAULT', 26, 'grosjean'],
    ['Felipe Massa', 'BRA', 'FERRARI', 30, 'massa'],
    ['Jenson Button', 'GBR', 'MCLAREN MERCEDES', 13, 'button'],
    ['Nico Hulkenberg', 'GER', 'SAUBER FERRARI', 5, 'hulkenberg'],
    ['Sergio Perez', 'MEX', 'MCLAREN MERCEDES', 10, 'perez'],
    ['Paul di Resta', 'GBR', 'FORCE INDIA MERCEDES', 20, 'resta'],
    ['Adrian Sutil', 'GER', 'FORCE INDIA MERCEDES', 6, 'sutil'],
    ['Daniel Ricciardo', 'AUS', 'STR FERRARI', 6, 'ricciardo'],
    ['Jean-Eric Vergne', 'FRA', 'STR FERRARI', 1, 'vergne'],
    ['Esteban Gutierrez', 'MEX', 'SAUBER FERRARI', 0, 'gutierrez'],
    ['Valtteri Bottas', 'FIN', 'WILLIAMS RENAULT', 0, 'bottas'],
    ['Pastor Maldonado', 'VEN', 'WILLIAMS RENAULT', 0, 'maldonado'],
    ['Jules Bianchi', 'FRA', 'MARUSSIA COSWORTH', 0, 'jules_bianchi'],
    ['Charles Pic', 'FRA', 'CATERHAM RENAULT', 0, 'pic'],
    ['Heikki Kovalainen', 'FIN', 'LOTUS RENAULT', 0, 'kovalainen'],
    ['Giedo van der Garde', 'NED', 'CATERHAM RENAULT', 0, 'garde'],
    ['Max Chilton', 'GBR', 'MARUSSIA COSWORTH', 0, 'chilton']
]

df13 = pd.DataFrame(data13, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df13['Year'] = '2013'
df13['Points'] = df13['Points'].astype(float)
df13 = df13.sort_values(by='Points', ascending=False).reset_index(drop=True)

df13

,Driver,Nationality,Team,Points,driverRef,Year
0,Sebastian Vettel,GER,RED BULL RACING RENAULT,77.0,vettel,2013
1,Kimi Räikkönen,FIN,LOTUS RENAULT,67.0,raikkonen,2013
2,Lewis Hamilton,GBR,MERCEDES,50.0,hamilton,2013
3,Fernando Alonso,ESP,FERRARI,47.0,alonso,2013
4,Mark Webber,AUS,RED BULL RACING RENAULT,32.0,webber,2013
5,Felipe Massa,BRA,FERRARI,30.0,massa,2013
6,Romain Grosjean,FRA,LOTUS RENAULT,26.0,grosjean,2013
7,Paul di Resta,GBR,FORCE INDIA MERCEDES,20.0,resta,2013
8,Nico Rosberg,GER,MERCEDES,14.0,rosberg,2013
9,Jenson Button,GBR,MCLAREN MERCEDES,13.0,button,2013
10,Sergio Perez,MEX,MCLAREN MERCEDES,10.0,perez,2013
11,Adrian Sutil,GER,FORCE INDIA MERCEDES,6.0,sutil,2013
12,Daniel Ricciardo,AUS,STR FERRARI,6.0,ricciardo,2013
13,Nico Hulkenberg,GER,SAUBER FERRARI,5.0,hulkenberg,2013
14,Jean-Eric Vergne,FRA,STR FERRARI,1.0,vergne,2013
15,Esteban Gutierrez,MEX,SAUBER FERRARI,0.0,gutierrez,2013
16,Valtteri Bottas,FIN,WILLIAMS RENAULT,0.0,bottas,2013
17,Pastor Maldonado,VEN,WILLIAMS RENAULT,0.0,maldonado,2013
18,Jules Bianchi,FRA,MARUSSIA COSWORTH,0.0,jules_bianchi,2013
19,Charles Pic,FRA,CATERHAM RENAULT,0.0,pic,2013
20,Heikki Kovalainen,FIN,LOTUS RENAULT,0.0,kovalainen,2013
21,Giedo van der Garde,NED,CATERHAM RENAULT,0.0,garde,2013
22,Max Chilton,GBR,MARUSSIA COSWORTH,0.0,chilton,2013

In [20]:
data14 = [
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 75, 'hamilton'],
    ['Nico Rosberg', 'GER', 'MERCEDES', 79, 'rosberg'],
    ['Daniel Ricciardo', 'AUS', 'RED BULL RACING RENAULT', 24, 'ricciardo'],
    ['Valtteri Bottas', 'FIN', 'WILLIAMS MERCEDES', 24, 'bottas'],
    ['Sebastian Vettel', 'GER', 'RED BULL RACING RENAULT', 33, 'vettel'],
    ['Fernando Alonso', 'ESP', 'FERRARI', 41, 'alonso'],
    ['Felipe Massa', 'BRA', 'WILLIAMS MERCEDES', 12, 'massa'],
    ['Jenson Button', 'GBR', 'MCLAREN MERCEDES', 23, 'button'],
    ['Nico Hulkenberg', 'GER', 'FORCE INDIA MERCEDES', 36, 'hulkenberg'],
    ['Sergio Perez', 'MEX', 'FORCE INDIA MERCEDES', 18, 'perez'],
    ['Kevin Magnussen', 'DEN', 'MCLAREN MERCEDES', 20, 'kevin_magnussen'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 11, 'raikkonen'],
    ['Jean-Eric Vergne', 'FRA', 'STR RENAULT', 4, 'vergne'],
    ['Romain Grosjean', 'FRA', 'LOTUS RENAULT', 0, 'grosjean'],
    ['Daniil Kvyat', 'RUS', 'STR RENAULT', 4, 'kvyat'],
    ['Pastor Maldonado', 'VEN', 'LOTUS RENAULT', 0, 'maldonado'],
    ['Jules Bianchi', 'FRA', 'MARUSSIA FERRARI', 0, 'jules_bianchi'],
    ['Adrian Sutil', 'GER', 'SAUBER FERRARI', 0, 'sutil'],
    ['Marcus Ericsson', 'SWE', 'CATERHAM RENAULT', 0, 'ericsson'],
    ['Esteban Gutierrez', 'MEX', 'SAUBER FERRARI', 0, 'gutierrez'],
    ['Max Chilton', 'GBR', 'MARUSSIA FERRARI', 0, 'chilton'],
    ['Kamui Kobayashi', 'JPN', 'CATERHAM RENAULT', 0, 'kobayashi'],
    ['Will Stevens', 'GBR', 'CATERHAM RENAULT', 0, 'stevens']
]

df14 = pd.DataFrame(data14, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df14['Year'] = '2014'
df14['Points'] = df14['Points'].astype(float)
df14 = df14.sort_values(by='Points', ascending=False).reset_index(drop=True)

df14

,Driver,Nationality,Team,Points,driverRef,Year
0,Nico Rosberg,GER,MERCEDES,79.0,rosberg,2014
1,Lewis Hamilton,GBR,MERCEDES,75.0,hamilton,2014
2,Fernando Alonso,ESP,FERRARI,41.0,alonso,2014
3,Nico Hulkenberg,GER,FORCE INDIA MERCEDES,36.0,hulkenberg,2014
4,Sebastian Vettel,GER,RED BULL RACING RENAULT,33.0,vettel,2014
5,Daniel Ricciardo,AUS,RED BULL RACING RENAULT,24.0,ricciardo,2014
6,Valtteri Bottas,FIN,WILLIAMS MERCEDES,24.0,bottas,2014
7,Jenson Button,GBR,MCLAREN MERCEDES,23.0,button,2014
8,Kevin Magnussen,DEN,MCLAREN MERCEDES,20.0,kevin_magnussen,2014
9,Sergio Perez,MEX,FORCE INDIA MERCEDES,18.0,perez,2014
10,Felipe Massa,BRA,WILLIAMS MERCEDES,12.0,massa,2014
11,Kimi Räikkönen,FIN,FERRARI,11.0,raikkonen,2014
12,Jean-Eric Vergne,FRA,STR RENAULT,4.0,vergne,2014
13,Daniil Kvyat,RUS,STR RENAULT,4.0,kvyat,2014
14,Romain Grosjean,FRA,LOTUS RENAULT,0.0,grosjean,2014
15,Pastor Maldonado,VEN,LOTUS RENAULT,0.0,maldonado,2014
16,Jules Bianchi,FRA,MARUSSIA FERRARI,0.0,jules_bianchi,2014
17,Adrian Sutil,GER,SAUBER FERRARI,0.0,sutil,2014
18,Marcus Ericsson,SWE,CATERHAM RENAULT,0.0,ericsson,2014
19,Esteban Gutierrez,MEX,SAUBER FERRARI,0.0,gutierrez,2014
20,Max Chilton,GBR,MARUSSIA FERRARI,0.0,chilton,2014
21,Kamui Kobayashi,JPN,CATERHAM RENAULT,0.0,kobayashi,2014
22,Will Stevens,GBR,CATERHAM RENAULT,0.0,stevens,2014

In [21]:
data15 = [
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 93, 'hamilton'],
    ['Nico Rosberg', 'GER', 'MERCEDES', 66, 'rosberg'],
    ['Sebastian Vettel', 'GER', 'FERRARI', 65, 'vettel'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 42, 'raikkonen'],
    ['Valtteri Bottas', 'FIN', 'WILLIAMS MERCEDES', 30, 'bottas'],
    ['Felipe Massa', 'BRA', 'WILLIAMS MERCEDES', 31, 'massa'],
    ['Daniil Kvyat', 'RUS', 'RED BULL RACING RENAULT', 4, 'kvyat'],
    ['Daniel Ricciardo', 'AUS', 'RED BULL RACING RENAULT', 19, 'ricciardo'],
    ['Sergio Perez', 'MEX', 'FORCE INDIA MERCEDES', 5, 'perez'],
    ['Nico Hulkenberg', 'GER', 'FORCE INDIA MERCEDES', 6, 'hulkenberg'],
    ['Romain Grosjean', 'FRA', 'LOTUS MERCEDES', 12, 'grosjean'],
    ['Max Verstappen', 'NED', 'STR RENAULT', 6, 'max_verstappen'],
    ['Felipe Nasr', 'BRA', 'SAUBER FERRARI', 14, 'nasr'],
    ['Pastor Maldonado', 'VEN', 'LOTUS MERCEDES', 0, 'maldonado'],
    ['Carlos Sainz', 'ESP', 'STR RENAULT', 6, 'sainz'],
    ['Jenson Button', 'GBR', 'MCLAREN HONDA', 0, 'button'],
    ['Fernando Alonso', 'ESP', 'MCLAREN HONDA', 0, 'alonso'],
    ['Marcus Ericsson', 'SWE', 'SAUBER FERRARI', 5, 'ericsson'],
    ['Roberto Merhi', 'ESP', 'MARUSSIA FERRARI', 0, 'merhi'],
    ['Will Stevens', 'GBR', 'MARUSSIA FERRARI', 0, 'stevens']
]

df15 = pd.DataFrame(data15, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df15['Year'] = '2015'
df15['Points'] = df15['Points'].astype(float)
df15 = df15.sort_values(by='Points', ascending=False).reset_index(drop=True)

df15

,Driver,Nationality,Team,Points,driverRef,Year
0,Lewis Hamilton,GBR,MERCEDES,93.0,hamilton,2015
1,Nico Rosberg,GER,MERCEDES,66.0,rosberg,2015
2,Sebastian Vettel,GER,FERRARI,65.0,vettel,2015
3,Kimi Räikkönen,FIN,FERRARI,42.0,raikkonen,2015
4,Felipe Massa,BRA,WILLIAMS MERCEDES,31.0,massa,2015
5,Valtteri Bottas,FIN,WILLIAMS MERCEDES,30.0,bottas,2015
6,Daniel Ricciardo,AUS,RED BULL RACING RENAULT,19.0,ricciardo,2015
7,Felipe Nasr,BRA,SAUBER FERRARI,14.0,nasr,2015
8,Romain Grosjean,FRA,LOTUS MERCEDES,12.0,grosjean,2015
9,Nico Hulkenberg,GER,FORCE INDIA MERCEDES,6.0,hulkenberg,2015
10,Max Verstappen,NED,STR RENAULT,6.0,max_verstappen,2015
11,Carlos Sainz,ESP,STR RENAULT,6.0,sainz,2015
12,Sergio Perez,MEX,FORCE INDIA MERCEDES,5.0,perez,2015
13,Marcus Ericsson,SWE,SAUBER FERRARI,5.0,ericsson,2015
14,Daniil Kvyat,RUS,RED BULL RACING RENAULT,4.0,kvyat,2015
15,Pastor Maldonado,VEN,LOTUS MERCEDES,0.0,maldonado,2015
16,Jenson Button,GBR,MCLAREN HONDA,0.0,button,2015
17,Fernando Alonso,ESP,MCLAREN HONDA,0.0,alonso,2015
18,Roberto Merhi,ESP,MARUSSIA FERRARI,0.0,merhi,2015
19,Will Stevens,GBR,MARUSSIA FERRARI,0.0,stevens,2015

In [22]:
data16 = [
    ['Nico Rosberg', 'GER', 'MERCEDES', 100, 'rosberg'],
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 57, 'hamilton'],
    ['Daniel Ricciardo', 'AUS', 'RED BULL RACING TAG HEUER', 36, 'ricciardo'],
    ['Sebastian Vettel', 'GER', 'FERRARI', 33, 'vettel'],
    ['Max Verstappen', 'NED', 'RED BULL RACING TAG HEUER', 13, 'max_verstappen'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 43, 'raikkonen'],
    ['Sergio Perez', 'MEX', 'FORCE INDIA MERCEDES', 2, 'perez'],
    ['Valtteri Bottas', 'FIN', 'WILLIAMS MERCEDES', 19, 'bottas'],
    ['Nico Hulkenberg', 'GER', 'FORCE INDIA MERCEDES', 6, 'hulkenberg'],
    ['Fernando Alonso', 'ESP', 'MCLAREN HONDA', 8, 'alonso'],
    ['Felipe Massa', 'BRA', 'WILLIAMS MERCEDES', 32, 'massa'],
    ['Carlos Sainz', 'ESP', 'TORO ROSSO FERRARI', 4, 'sainz'],
    ['Romain Grosjean', 'FRA', 'HAAS FERRARI', 22, 'grosjean'],
    ['Daniil Kvyat', 'RUS', 'TORO ROSSO FERRARI', 21, 'kvyat'],
    ['Jenson Button', 'GBR', 'MCLAREN HONDA', 1, 'button'],
    ['Kevin Magnussen', 'DEN', 'RENAULT', 6, 'kevin_magnussen'],
    ['Felipe Nasr', 'BRA', 'SAUBER FERRARI', 0, 'nasr'],
    ['Jolyon Palmer', 'GBR', 'RENAULT', 0, 'jolyon_palmer'],
    ['Pascal Wehrlein', 'GER', 'MRT MERCEDES', 0, 'wehrlein'],
    ['Stoffel Vandoorne', 'BEL', 'MCLAREN HONDA', 1, 'vandoorne'],
    ['Esteban Gutierrez', 'MEX', 'HAAS FERRARI', 0, 'gutierrez'],
    ['Marcus Ericsson', 'SWE', 'SAUBER FERRARI', 0, 'ericsson'],
    ['Esteban Ocon', 'FRA', 'MRT MERCEDES', 0, 'ocon'],
    ['Rio Haryanto', 'INA', 'MRT MERCEDES', 0, 'haryanto']
]

df16 = pd.DataFrame(data16, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df16['Year'] = '2016'
df16['Points'] = df16['Points'].astype(float)
df16 = df16.sort_values(by='Points', ascending=False).reset_index(drop=True)

df16

,Driver,Nationality,Team,Points,driverRef,Year
0,Nico Rosberg,GER,MERCEDES,100.0,rosberg,2016
1,Lewis Hamilton,GBR,MERCEDES,57.0,hamilton,2016
2,Kimi Räikkönen,FIN,FERRARI,43.0,raikkonen,2016
3,Daniel Ricciardo,AUS,RED BULL RACING TAG HEUER,36.0,ricciardo,2016
4,Sebastian Vettel,GER,FERRARI,33.0,vettel,2016
5,Felipe Massa,BRA,WILLIAMS MERCEDES,32.0,massa,2016
6,Romain Grosjean,FRA,HAAS FERRARI,22.0,grosjean,2016
7,Daniil Kvyat,RUS,TORO ROSSO FERRARI,21.0,kvyat,2016
8,Valtteri Bottas,FIN,WILLIAMS MERCEDES,19.0,bottas,2016
9,Max Verstappen,NED,RED BULL RACING TAG HEUER,13.0,max_verstappen,2016
10,Fernando Alonso,ESP,MCLAREN HONDA,8.0,alonso,2016
11,Nico Hulkenberg,GER,FORCE INDIA MERCEDES,6.0,hulkenberg,2016
12,Kevin Magnussen,DEN,RENAULT,6.0,kevin_magnussen,2016
13,Carlos Sainz,ESP,TORO ROSSO FERRARI,4.0,sainz,2016
14,Sergio Perez,MEX,FORCE INDIA MERCEDES,2.0,perez,2016
15,Jenson Button,GBR,MCLAREN HONDA,1.0,button,2016
16,Stoffel Vandoorne,BEL,MCLAREN HONDA,1.0,vandoorne,2016
17,Felipe Nasr,BRA,SAUBER FERRARI,0.0,nasr,2016
18,Jolyon Palmer,GBR,RENAULT,0.0,jolyon_palmer,2016
19,Pascal Wehrlein,GER,MRT MERCEDES,0.0,wehrlein,2016
20,Esteban Gutierrez,MEX,HAAS FERRARI,0.0,gutierrez,2016
21,Marcus Ericsson,SWE,SAUBER FERRARI,0.0,ericsson,2016
22,Esteban Ocon,FRA,MRT MERCEDES,0.0,ocon,2016
23,Rio Haryanto,INA,MRT MERCEDES,0.0,haryanto,2016

In [23]:
data17 = [
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 73, 'hamilton'],
    ['Sebastian Vettel', 'GER', 'FERRARI', 86, 'vettel'],
    ['Valtteri Bottas', 'FIN', 'MERCEDES', 63, 'bottas'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 49, 'raikkonen'],
    ['Daniel Ricciardo', 'AUS', 'RED BULL RACING TAG HEUER', 22, 'ricciardo'],
    ['Max Verstappen', 'NED', 'RED BULL RACING TAG HEUER', 35, 'max_verstappen'],
    ['Sergio Perez', 'MEX', 'FORCE INDIA MERCEDES', 22, 'perez'],
    ['Esteban Ocon', 'FRA', 'FORCE INDIA MERCEDES', 9, 'ocon'],
    ['Carlos Sainz', 'ESP', 'RENAULT', 11, 'sainz'],
    ['Nico Hulkenberg', 'GER', 'RENAULT', 6, 'hulkenberg'],
    ['Felipe Massa', 'BRA', 'WILLIAMS MERCEDES', 18, 'massa'],
    ['Lance Stroll', 'CAN', 'WILLIAMS MERCEDES', 0, 'stroll'],
    ['Romain Grosjean', 'FRA', 'HAAS FERRARI', 4, 'grosjean'],
    ['Kevin Magnussen', 'DEN', 'HAAS FERRARI', 4, 'kevin_magnussen'],
    ['Fernando Alonso', 'ESP', 'MCLAREN HONDA', 0, 'alonso'],
    ['Stoffel Vandoorne', 'BEL', 'MCLAREN HONDA', 0, 'vandoorne'],
    ['Jolyon Palmer', 'GBR', 'RENAULT', 0, 'jolyon_palmer'],
    ['Pascal Wehrlein', 'GER', 'SAUBER FERRARI', 0, 'wehrlein'],
    ['Daniil Kvyat', 'RUS', 'TORO ROSSO', 2, 'kvyat'],
    ['Marcus Ericsson', 'SWE', 'SAUBER FERRARI', 0, 'ericsson'],
    ['Pierre Gasly', 'FRA', 'TORO ROSSO', 0, 'gasly'],
    ['Antonio Giovinazzi', 'ITA', 'SAUBER FERRARI', 0, 'giovinazzi'],
    ['Brendon Hartley', 'NZL', 'TORO ROSSO', 0, 'brendon_hartley']
]

df17 = pd.DataFrame(data17, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df17['Year'] = '2017'
df17['Points'] = df17['Points'].astype(float)
df17 = df17.sort_values(by='Points', ascending=False).reset_index(drop=True)

df17

,Driver,Nationality,Team,Points,driverRef,Year
0,Sebastian Vettel,GER,FERRARI,86.0,vettel,2017
1,Lewis Hamilton,GBR,MERCEDES,73.0,hamilton,2017
2,Valtteri Bottas,FIN,MERCEDES,63.0,bottas,2017
3,Kimi Räikkönen,FIN,FERRARI,49.0,raikkonen,2017
4,Max Verstappen,NED,RED BULL RACING TAG HEUER,35.0,max_verstappen,2017
5,Daniel Ricciardo,AUS,RED BULL RACING TAG HEUER,22.0,ricciardo,2017
6,Sergio Perez,MEX,FORCE INDIA MERCEDES,22.0,perez,2017
7,Felipe Massa,BRA,WILLIAMS MERCEDES,18.0,massa,2017
8,Carlos Sainz,ESP,RENAULT,11.0,sainz,2017
9,Esteban Ocon,FRA,FORCE INDIA MERCEDES,9.0,ocon,2017
10,Nico Hulkenberg,GER,RENAULT,6.0,hulkenberg,2017
11,Romain Grosjean,FRA,HAAS FERRARI,4.0,grosjean,2017
12,Kevin Magnussen,DEN,HAAS FERRARI,4.0,kevin_magnussen,2017
13,Daniil Kvyat,RUS,TORO ROSSO,2.0,kvyat,2017
14,Antonio Giovinazzi,ITA,SAUBER FERRARI,0.0,giovinazzi,2017
15,Pierre Gasly,FRA,TORO ROSSO,0.0,gasly,2017
16,Marcus Ericsson,SWE,SAUBER FERRARI,0.0,ericsson,2017
17,Lance Stroll,CAN,WILLIAMS MERCEDES,0.0,stroll,2017
18,Pascal Wehrlein,GER,SAUBER FERRARI,0.0,wehrlein,2017
19,Jolyon Palmer,GBR,RENAULT,0.0,jolyon_palmer,2017
20,Stoffel Vandoorne,BEL,MCLAREN HONDA,0.0,vandoorne,2017
21,Fernando Alonso,ESP,MCLAREN HONDA,0.0,alonso,2017
22,Brendon Hartley,NZL,TORO ROSSO,0.0,brendon_hartley,2017

In [24]:
data18 = [
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 70, 'hamilton'],
    ['Sebastian Vettel', 'GER', 'FERRARI', 66, 'vettel'],
    ['Kimi Räikkönen', 'FIN', 'FERRARI', 48, 'raikkonen'],
    ['Max Verstappen', 'NED', 'RED BULL RACING TAG HEUER', 18, 'max_verstappen'],
    ['Valtteri Bottas', 'FIN', 'MERCEDES', 40, 'bottas'],
    ['Daniel Ricciardo', 'AUS', 'RED BULL RACING TAG HEUER', 37, 'ricciardo'],
    ['Nico Hulkenberg', 'GER', 'RENAULT', 22, 'hulkenberg'],
    ['Sergio Perez', 'MEX', 'FORCE INDIA MERCEDES', 15, 'perez'],
    ['Kevin Magnussen', 'DEN', 'HAAS FERRARI', 11, 'kevin_magnussen'],
    ['Carlos Sainz', 'ESP', 'RENAULT', 13, 'sainz'],
    ['Fernando Alonso', 'ESP', 'MCLAREN RENAULT', 18, 'alonso'],
    ['Esteban Ocon', 'FRA', 'FORCE INDIA MERCEDES', 1, 'ocon'],
    ['Charles Leclerc', 'MON', 'SAUBER FERRARI', 8, 'leclerc'],
    ['Romain Grosjean', 'FRA', 'HAAS FERRARI', 0, 'grosjean'],
    ['Pierre Gasly', 'FRA', 'SCUDERIA TORO ROSSO HONDA', 12, 'gasly'],
    ['Stoffel Vandoorne', 'BEL', 'MCLAREN RENAULT', 8, 'vandoorne'],
    ['Marcus Ericsson', 'SWE', 'SAUBER FERRARI', 2, 'ericsson'],
    ['Lance Stroll', 'CAN', 'WILLIAMS MERCEDES', 4, 'stroll'],
    ['Brendon Hartley', 'NZL', 'SCUDERIA TORO ROSSO HONDA', 1, 'brendon_hartley'],
    ['Sergey Sirotkin', 'RUS', 'WILLIAMS MERCEDES', 0, 'sirotkin']
]

df18 = pd.DataFrame(data18, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df18['Year'] = '2018'
df18['Points'] = df18['Points'].astype(float)
df18 = df18.sort_values(by='Points', ascending=False).reset_index(drop=True)

df18

,Driver,Nationality,Team,Points,driverRef,Year
0,Lewis Hamilton,GBR,MERCEDES,70.0,hamilton,2018
1,Sebastian Vettel,GER,FERRARI,66.0,vettel,2018
2,Kimi Räikkönen,FIN,FERRARI,48.0,raikkonen,2018
3,Valtteri Bottas,FIN,MERCEDES,40.0,bottas,2018
4,Daniel Ricciardo,AUS,RED BULL RACING TAG HEUER,37.0,ricciardo,2018
5,Nico Hulkenberg,GER,RENAULT,22.0,hulkenberg,2018
6,Fernando Alonso,ESP,MCLAREN RENAULT,18.0,alonso,2018
7,Max Verstappen,NED,RED BULL RACING TAG HEUER,18.0,max_verstappen,2018
8,Sergio Perez,MEX,FORCE INDIA MERCEDES,15.0,perez,2018
9,Carlos Sainz,ESP,RENAULT,13.0,sainz,2018
10,Pierre Gasly,FRA,SCUDERIA TORO ROSSO HONDA,12.0,gasly,2018
11,Kevin Magnussen,DEN,HAAS FERRARI,11.0,kevin_magnussen,2018
12,Charles Leclerc,MON,SAUBER FERRARI,8.0,leclerc,2018
13,Stoffel Vandoorne,BEL,MCLAREN RENAULT,8.0,vandoorne,2018
14,Lance Stroll,CAN,WILLIAMS MERCEDES,4.0,stroll,2018
15,Marcus Ericsson,SWE,SAUBER FERRARI,2.0,ericsson,2018
16,Esteban Ocon,FRA,FORCE INDIA MERCEDES,1.0,ocon,2018
17,Brendon Hartley,NZL,SCUDERIA TORO ROSSO HONDA,1.0,brendon_hartley,2018
18,Romain Grosjean,FRA,HAAS FERRARI,0.0,grosjean,2018
19,Sergey Sirotkin,RUS,WILLIAMS MERCEDES,0.0,sirotkin,2018

In [25]:
data19 = [
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 86, 'hamilton'],
    ['Valtteri Bottas', 'FIN', 'MERCEDES', 87, 'bottas'],
    ['Max Verstappen', 'NED', 'RED BULL RACING HONDA', 51, 'max_verstappen'],
    ['Charles Leclerc', 'MON', 'FERRARI', 47, 'leclerc'],
    ['Sebastian Vettel', 'GER', 'FERRARI', 52, 'vettel'],
    ['Carlos Sainz', 'ESP', 'MCLAREN RENAULT', 6, 'sainz'],
    ['Pierre Gasly', 'FRA', 'SCUDERIA TORO ROSSO HONDA', 13, 'gasly'],
    ['Alexander Albon', 'THA', 'RED BULL RACING HONDA', 3, 'albon'],
    ['Daniel Ricciardo', 'AUS', 'RENAULT', 6, 'ricciardo'],
    ['Sergio Perez', 'MEX', 'RACING POINT BWT MERCEDES', 13, 'perez'],
    ['Lando Norris', 'GBR', 'MCLAREN RENAULT', 12, 'norris'],
    ['Kimi Räikkönen', 'FIN', 'ALFA ROMEO RACING FERRARI', 13, 'raikkonen'],
    ['Daniil Kvyat', 'RUS', 'SCUDERIA TORO ROSSO HONDA', 1, 'kvyat'],
    ['Nico Hulkenberg', 'GER', 'RENAULT', 6, 'hulkenberg'],
    ['Lance Stroll', 'CAN', 'RACING POINT BWT MERCEDES', 4, 'stroll'],
    ['Kevin Magnussen', 'DEN', 'HAAS FERRARI', 8, 'kevin_magnussen'],
    ['Antonio Giovinazzi', 'ITA', 'ALFA ROMEO RACING FERRARI', 0, 'giovinazzi'],
    ['Romain Grosjean', 'FRA', 'HAAS FERRARI', 0, 'grosjean'],
    ['Robert Kubica', 'POL', 'WILLIAMS MERCEDES', 0, 'kubica'],
    ['George Russell', 'GBR', 'WILLIAMS MERCEDES', 0, 'russell']
]

df19 = pd.DataFrame(data19, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df19['Year'] = '2019'
df19['Points'] = df19['Points'].astype(float)
df19 = df19.sort_values(by='Points', ascending=False).reset_index(drop=True)

df19

,Driver,Nationality,Team,Points,driverRef,Year
0,Valtteri Bottas,FIN,MERCEDES,87.0,bottas,2019
1,Lewis Hamilton,GBR,MERCEDES,86.0,hamilton,2019
2,Sebastian Vettel,GER,FERRARI,52.0,vettel,2019
3,Max Verstappen,NED,RED BULL RACING HONDA,51.0,max_verstappen,2019
4,Charles Leclerc,MON,FERRARI,47.0,leclerc,2019
5,Sergio Perez,MEX,RACING POINT BWT MERCEDES,13.0,perez,2019
6,Kimi Räikkönen,FIN,ALFA ROMEO RACING FERRARI,13.0,raikkonen,2019
7,Pierre Gasly,FRA,SCUDERIA TORO ROSSO HONDA,13.0,gasly,2019
8,Lando Norris,GBR,MCLAREN RENAULT,12.0,norris,2019
9,Kevin Magnussen,DEN,HAAS FERRARI,8.0,kevin_magnussen,2019
10,Daniel Ricciardo,AUS,RENAULT,6.0,ricciardo,2019
11,Carlos Sainz,ESP,MCLAREN RENAULT,6.0,sainz,2019
12,Nico Hulkenberg,GER,RENAULT,6.0,hulkenberg,2019
13,Lance Stroll,CAN,RACING POINT BWT MERCEDES,4.0,stroll,2019
14,Alexander Albon,THA,RED BULL RACING HONDA,3.0,albon,2019
15,Daniil Kvyat,RUS,SCUDERIA TORO ROSSO HONDA,1.0,kvyat,2019
16,Antonio Giovinazzi,ITA,ALFA ROMEO RACING FERRARI,0.0,giovinazzi,2019
17,Romain Grosjean,FRA,HAAS FERRARI,0.0,grosjean,2019
18,Robert Kubica,POL,WILLIAMS MERCEDES,0.0,kubica,2019
19,George Russell,GBR,WILLIAMS MERCEDES,0.0,russell,2019

In [26]:
data20 = [
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 107, 'hamilton'],
    ['Valtteri Bottas', 'FIN', 'MERCEDES', 73, 'bottas'],
    ['Max Verstappen', 'NED', 'RED BULL RACING HONDA', 77, 'max_verstappen'],
    ['Sergio Perez', 'MEX', 'RACING POINT BWT MERCEDES', 22, 'perez'],
    ['Daniel Ricciardo', 'AUS', 'RENAULT', 20, 'ricciardo'],
    ['Carlos Sainz', 'ESP', 'MCLAREN RENAULT', 15, 'sainz'],
    ['Alexander Albon', 'THA', 'RED BULL RACING HONDA', 36, 'albon'],
    ['Charles Leclerc', 'MON', 'FERRARI', 45, 'leclerc'],
    ['Lando Norris', 'GBR', 'MCLAREN RENAULT', 38, 'norris'],
    ['Pierre Gasly', 'FRA', 'ALPHATAURI HONDA', 12, 'gasly'],
    ['Lance Stroll', 'CAN', 'RACING POINT BWT MERCEDES', 28, 'stroll'],
    ['Esteban Ocon', 'FRA', 'RENAULT', 16, 'ocon'],
    ['Sebastian Vettel', 'GER', 'FERRARI', 10, 'vettel'],
    ['Daniil Kvyat', 'RUS', 'ALPHATAURI HONDA', 2, 'kvyat'],
    ['Nico Hulkenberg', 'GER', 'RACING POINT BWT MERCEDES', 6, 'hulkenberg'],
    ['Kimi Räikkönen', 'FIN', 'ALFA ROMEO RACING FERRARI', 0, 'raikkonen'],
    ['Antonio Giovinazzi', 'ITA', 'ALFA ROMEO RACING FERRARI', 2, 'giovinazzi'],
    ['George Russell', 'GBR', 'WILLIAMS MERCEDES', 0, 'russell'],
    ['Romain Grosjean', 'FRA', 'HAAS FERRARI', 0, 'grosjean'],
    ['Kevin Magnussen', 'DEN', 'HAAS FERRARI', 1, 'kevin_magnussen'],
    ['Nicholas Latifi', 'CAN', 'WILLIAMS MERCEDES', 0, 'latifi'],
]

df20 = pd.DataFrame(data20, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df20['Year'] = '2020'
df20['Points'] = df20['Points'].astype(float)
df20 = df20.sort_values(by='Points', ascending=False).reset_index(drop=True)

df20

,Driver,Nationality,Team,Points,driverRef,Year
0,Lewis Hamilton,GBR,MERCEDES,107.0,hamilton,2020
1,Max Verstappen,NED,RED BULL RACING HONDA,77.0,max_verstappen,2020
2,Valtteri Bottas,FIN,MERCEDES,73.0,bottas,2020
3,Charles Leclerc,MON,FERRARI,45.0,leclerc,2020
4,Lando Norris,GBR,MCLAREN RENAULT,38.0,norris,2020
5,Alexander Albon,THA,RED BULL RACING HONDA,36.0,albon,2020
6,Lance Stroll,CAN,RACING POINT BWT MERCEDES,28.0,stroll,2020
7,Sergio Perez,MEX,RACING POINT BWT MERCEDES,22.0,perez,2020
8,Daniel Ricciardo,AUS,RENAULT,20.0,ricciardo,2020
9,Esteban Ocon,FRA,RENAULT,16.0,ocon,2020
10,Carlos Sainz,ESP,MCLAREN RENAULT,15.0,sainz,2020
11,Pierre Gasly,FRA,ALPHATAURI HONDA,12.0,gasly,2020
12,Sebastian Vettel,GER,FERRARI,10.0,vettel,2020
13,Nico Hulkenberg,GER,RACING POINT BWT MERCEDES,6.0,hulkenberg,2020
14,Daniil Kvyat,RUS,ALPHATAURI HONDA,2.0,kvyat,2020
15,Antonio Giovinazzi,ITA,ALFA ROMEO RACING FERRARI,2.0,giovinazzi,2020
16,Kevin Magnussen,DEN,HAAS FERRARI,1.0,kevin_magnussen,2020
17,Kimi Räikkönen,FIN,ALFA ROMEO RACING FERRARI,0.0,raikkonen,2020
18,George Russell,GBR,WILLIAMS MERCEDES,0.0,russell,2020
19,Romain Grosjean,FRA,HAAS FERRARI,0.0,grosjean,2020
20,Nicholas Latifi,CAN,WILLIAMS MERCEDES,0.0,latifi,2020

In [27]:
data21 = [
    ['Max Verstappen', 'NED', 'RED BULL RACING HONDA', 61, 'max_verstappen'],
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 69, 'hamilton'],
    ['Valtteri Bottas', 'FIN', 'MERCEDES', 32, 'bottas'],
    ['Sergio Perez', 'MEX', 'RED BULL RACING HONDA', 22, 'perez'],
    ['Carlos Sainz', 'ESP', 'FERRARI', 14, 'sainz'],
    ['Lando Norris', 'GBR', 'MCLAREN MERCEDES', 37, 'norris'],
    ['Charles Leclerc', 'MON', 'FERRARI', 28, 'leclerc'],
    ['Daniel Ricciardo', 'AUS', 'MCLAREN MERCEDES', 16, 'ricciardo'],
    ['Pierre Gasly', 'FRA', 'ALPHATAURI HONDA', 7, 'gasly'],
    ['Fernando Alonso', 'ESP', 'ALPINE RENAULT', 5, 'alonso'],
    ['Esteban Ocon', 'FRA', 'ALPINE RENAULT', 8, 'ocon'],
    ['Sebastian Vettel', 'GER', 'ASTON MARTIN MERCEDES', 0, 'vettel'],
    ['Lance Stroll', 'CAN', 'ASTON MARTIN MERCEDES', 5, 'stroll'],
    ['Yuki Tsunoda', 'JPN', 'ALPHATAURI HONDA', 2, 'tsunoda'],
    ['George Russell', 'GBR', 'WILLIAMS MERCEDES', 0, 'russell'],
    ['Kimi Räikkönen', 'FIN', 'ALFA ROMEO RACING FERRARI', 0, 'raikkonen'],
    ['Nicholas Latifi', 'CAN', 'WILLIAMS MERCEDES', 0, 'latifi'],
    ['Antonio Giovinazzi', 'ITA', 'ALFA ROMEO RACING FERRARI', 0, 'giovinazzi'],
    ['Mick Schumacher', 'GER', 'HAAS FERRARI', 0, 'mick_schumacher'],
    ['Robert Kubica', 'POL', 'ALFA ROMEO RACING FERRARI', 0, 'kubica'],
    ['Nikita Mazepin', 'RAF', 'HAAS FERRARI', 0, 'mazepin']
]

df21 = pd.DataFrame(data21, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df21['Year'] = '2021'
df21['Points'] = df21['Points'].astype(float)
df21 = df21.sort_values(by='Points', ascending=False).reset_index(drop=True)

df21

,Driver,Nationality,Team,Points,driverRef,Year
0,Lewis Hamilton,GBR,MERCEDES,69.0,hamilton,2021
1,Max Verstappen,NED,RED BULL RACING HONDA,61.0,max_verstappen,2021
2,Lando Norris,GBR,MCLAREN MERCEDES,37.0,norris,2021
3,Valtteri Bottas,FIN,MERCEDES,32.0,bottas,2021
4,Charles Leclerc,MON,FERRARI,28.0,leclerc,2021
5,Sergio Perez,MEX,RED BULL RACING HONDA,22.0,perez,2021
6,Daniel Ricciardo,AUS,MCLAREN MERCEDES,16.0,ricciardo,2021
7,Carlos Sainz,ESP,FERRARI,14.0,sainz,2021
8,Esteban Ocon,FRA,ALPINE RENAULT,8.0,ocon,2021
9,Pierre Gasly,FRA,ALPHATAURI HONDA,7.0,gasly,2021
10,Fernando Alonso,ESP,ALPINE RENAULT,5.0,alonso,2021
11,Lance Stroll,CAN,ASTON MARTIN MERCEDES,5.0,stroll,2021
12,Yuki Tsunoda,JPN,ALPHATAURI HONDA,2.0,tsunoda,2021
13,Sebastian Vettel,GER,ASTON MARTIN MERCEDES,0.0,vettel,2021
14,George Russell,GBR,WILLIAMS MERCEDES,0.0,russell,2021
15,Kimi Räikkönen,FIN,ALFA ROMEO RACING FERRARI,0.0,raikkonen,2021
16,Nicholas Latifi,CAN,WILLIAMS MERCEDES,0.0,latifi,2021
17,Antonio Giovinazzi,ITA,ALFA ROMEO RACING FERRARI,0.0,giovinazzi,2021
18,Mick Schumacher,GER,HAAS FERRARI,0.0,mick_schumacher,2021
19,Robert Kubica,POL,ALFA ROMEO RACING FERRARI,0.0,kubica,2021
20,Nikita Mazepin,RAF,HAAS FERRARI,0.0,mazepin,2021

In [28]:
data22 = [
    ['Max Verstappen', 'NED', 'RED BULL RACING RBPT', 85, 'max_verstappen'],
    ['Charles Leclerc', 'MON', 'FERRARI', 104, 'leclerc'],
    ['Sergio Perez', 'MEX', 'RED BULL RACING RBPT', 66, 'perez'],
    ['George Russell', 'GBR', 'MERCEDES', 59, 'russell'],
    ['Carlos Sainz', 'ESP', 'FERRARI', 53, 'sainz'],
    ['Lewis Hamilton', 'GBR', 'MERCEDES', 36, 'hamilton'],
    ['Lando Norris', 'GBR', 'MCLAREN MERCEDES', 35, 'norris'],
    ['Esteban Ocon', 'FRA', 'ALPINE RENAULT', 24, 'ocon'],
    ['Fernando Alonso', 'ESP', 'ALPINE RENAULT', 2, 'alonso'],
    ['Valtteri Bottas', 'FIN', 'ALFA ROMEO FERRARI', 30, 'bottas'],
    ['Daniel Ricciardo', 'AUS', 'MCLAREN MERCEDES', 11, 'ricciardo'],
    ['Sebastian Vettel', 'GER', 'ASTON MARTIN ARAMCO MERCEDES', 4, 'vettel'],
    ['Kevin Magnussen', 'DEN', 'HAAS FERRARI', 15, 'kevin_magnussen'],
    ['Pierre Gasly', 'FRA', 'ALPHATAURI RBPT', 6, 'gasly'],
    ['Lance Stroll', 'CAN', 'ASTON MARTIN ARAMCO MERCEDES', 2, 'stroll'],
    ['Mick Schumacher', 'GER', 'HAAS FERRARI', 0, 'mick_schumacher'],
    ['Yuki Tsunoda', 'JPN', 'ALPHATAURI RBPT', 10, 'tsunoda'],
    ['Zhou Guanyu', 'CHN', 'ALFA ROMEO FERRARI', 1, 'zhou'],
    ['Alexander Albon', 'THA', 'WILLIAMS MERCEDES', 3, 'albon'],
    ['Nicholas Latifi', 'CAN', 'WILLIAMS MERCEDES', 0, 'latifi'],
    ['Nico Hulkenberg', 'GER', 'ASTON MARTIN ARAMCO MERCEDES', 0, 'hulkenberg']
]

df22 = pd.DataFrame(data22, columns=['Driver', 'Nationality', 'Team', 'Points', 'driverRef'])
df22['Year'] = '2022'
df22['Points'] = df22['Points'].astype(float)
df22 = df22.sort_values(by='Points', ascending=False).reset_index(drop=True)

df22

,Driver,Nationality,Team,Points,driverRef,Year
0,Charles Leclerc,MON,FERRARI,104.0,leclerc,2022
1,Max Verstappen,NED,RED BULL RACING RBPT,85.0,max_verstappen,2022
2,Sergio Perez,MEX,RED BULL RACING RBPT,66.0,perez,2022
3,George Russell,GBR,MERCEDES,59.0,russell,2022
4,Carlos Sainz,ESP,FERRARI,53.0,sainz,2022
5,Lewis Hamilton,GBR,MERCEDES,36.0,hamilton,2022
6,Lando Norris,GBR,MCLAREN MERCEDES,35.0,norris,2022
7,Valtteri Bottas,FIN,ALFA ROMEO FERRARI,30.0,bottas,2022
8,Esteban Ocon,FRA,ALPINE RENAULT,24.0,ocon,2022
9,Kevin Magnussen,DEN,HAAS FERRARI,15.0,kevin_magnussen,2022
10,Daniel Ricciardo,AUS,MCLAREN MERCEDES,11.0,ricciardo,2022
11,Yuki Tsunoda,JPN,ALPHATAURI RBPT,10.0,tsunoda,2022
12,Pierre Gasly,FRA,ALPHATAURI RBPT,6.0,gasly,2022
13,Sebastian Vettel,GER,ASTON MARTIN ARAMCO MERCEDES,4.0,vettel,2022
14,Alexander Albon,THA,WILLIAMS MERCEDES,3.0,albon,2022
15,Fernando Alonso,ESP,ALPINE RENAULT,2.0,alonso,2022
16,Lance Stroll,CAN,ASTON MARTIN ARAMCO MERCEDES,2.0,stroll,2022
17,Zhou Guanyu,CHN,ALFA ROMEO FERRARI,1.0,zhou,2022
18,Mick Schumacher,GER,HAAS FERRARI,0.0,mick_schumacher,2022
19,Nicholas Latifi,CAN,WILLIAMS MERCEDES,0.0,latifi,2022
20,Nico Hulkenberg,GER,ASTON MARTIN ARAMCO MERCEDES,0.0,hulkenberg,2022

In [29]:
data96_y = [
    ['WILLIAMS RENAULT', 65, 'williams'],
    ['FERRARI', 25, 'ferrari'],
    ['BENETTON RENAULT', 22, 'benetton'],
    ['MCLAREN MERCEDES', 16, 'mclaren'],
    ['JORDAN PEUGEOT', 8, 'jordan'],
    ['LIGIER MUGEN HONDA', 11, 'ligier'],
    ['SAUBER FORD', 7, 'sauber'],
    ['TYRRELL YAMAHA', 5, 'tyrrell'],
    ['FOOTWORK HART', 1, 'footwork']
]

df96_y = pd.DataFrame(data96_y, columns=['Team', 'Points', 'constructorRef'])
df96_y['Year'] = '1996'
df96_y['Points'] = df96_y['Points'].astype(float)
df96_y = df96_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df96_y

                 Team  Points constructorRef  Year
0    WILLIAMS RENAULT    65.0       williams  1996
1             FERRARI    25.0        ferrari  1996
2    BENETTON RENAULT    22.0       benetton  1996
3    MCLAREN MERCEDES    16.0        mclaren  1996
4  LIGIER MUGEN HONDA    11.0         ligier  1996
5      JORDAN PEUGEOT     8.0         jordan  1996
6         SAUBER FORD     7.0         sauber  1996
7      TYRRELL YAMAHA     5.0        tyrrell  1996
8       FOOTWORK HART     1.0       footwork  1996

In [30]:
data97_y = [
    ['WILLIAMS RENAULT', 30, 'williams'],
    ['FERRARI', 38, 'ferrari'],
    ['BENETTON RENAULT', 13, 'benetton'],
    ['MCLAREN MERCEDES', 20, 'mclaren'],
    ['JORDAN PEUGEOT', 8, 'jordan'],
    ['PROST MUGEN HONDA', 9, 'prost'],
    ['SAUBER PETRONAS', 4, 'sauber'],
    ['ARROWS YAMAHA', 0, 'arrows'],
    ['STEWART FORD', 6, 'stewart'],
    ['TYRRELL FORD', 2, 'tyrrell']
]

df97_y = pd.DataFrame(data97_y, columns=['Team', 'Points', 'constructorRef'])
df97_y['Year'] = '1997'
df97_y['Points'] = df97_y['Points'].astype(float)
df97_y = df97_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df97_y

                Team  Points constructorRef  Year
0            FERRARI    38.0        ferrari  1997
1   WILLIAMS RENAULT    30.0       williams  1997
2   MCLAREN MERCEDES    20.0        mclaren  1997
3   BENETTON RENAULT    13.0       benetton  1997
4  PROST MUGEN HONDA     9.0          prost  1997
5     JORDAN PEUGEOT     8.0         jordan  1997
6       STEWART FORD     6.0        stewart  1997
7    SAUBER PETRONAS     4.0         sauber  1997
8       TYRRELL FORD     2.0        tyrrell  1997
9      ARROWS YAMAHA     0.0         arrows  1997

In [31]:
data98_y = [
    ['MCLAREN MERCEDES', 49, 'mclaren'],
    ['FERRARI', 31, 'ferrari'],
    ['WILLIAMS MECACHROME', 13, 'williams'],
    ['JORDAN MUGEN HONDA', 0, 'jordan'],
    ['BENETTON PLAYLIFE', 7, 'benetton'],
    ['SAUBER PETRONAS', 4, 'sauber'],
    ['ARROWS', 0, 'arrows'],
    ['STEWART FORD', 0, 'stewart'],
    ['PROST PEUGEOT', 0, 'prost']
]

df98_y = pd.DataFrame(data98_y, columns=['Team', 'Points', 'constructorRef'])
df98_y['Year'] = '1998'
df98_y['Points'] = df98_y['Points'].astype(float)
df98_y = df98_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df98_y

                  Team  Points constructorRef  Year
0     MCLAREN MERCEDES    49.0        mclaren  1998
1              FERRARI    31.0        ferrari  1998
2  WILLIAMS MECACHROME    13.0       williams  1998
3    BENETTON PLAYLIFE     7.0       benetton  1998
4      SAUBER PETRONAS     4.0         sauber  1998
5   JORDAN MUGEN HONDA     0.0         jordan  1998
6               ARROWS     0.0         arrows  1998
7         STEWART FORD     0.0        stewart  1998
8        PROST PEUGEOT     0.0          prost  1998

In [32]:
data99_y = [
    ['FERRARI', 44, 'ferrari'],
    ['MCLAREN MERCEDES', 20, 'mclaren'],
    ['JORDAN MUGEN HONDA', 16, 'jordan'],
    ['STEWART FORD', 6, 'stewart'],
    ['WILLIAMS SUPERTEC', 7, 'williams'],
    ['BENETTON PLAYLIFE', 8, 'benetton'],
    ['PROST PEUGEOT', 1, 'prost'],
    ['SAUBER PETRONAS', 1, 'sauber'],
    ['MINARDI FORD', 0, 'minardi'],
    ['ARROWS', 1, 'arrows']
]

df99_y = pd.DataFrame(data99_y, columns=['Team', 'Points', 'constructorRef'])
df99_y['Year'] = '1999'
df99_y['Points'] = df99_y['Points'].astype(float)
df99_y = df99_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df99_y

                 Team  Points constructorRef  Year
0             FERRARI    44.0        ferrari  1999
1    MCLAREN MERCEDES    20.0        mclaren  1999
2  JORDAN MUGEN HONDA    16.0         jordan  1999
3   BENETTON PLAYLIFE     8.0       benetton  1999
4   WILLIAMS SUPERTEC     7.0       williams  1999
5        STEWART FORD     6.0        stewart  1999
6       PROST PEUGEOT     1.0          prost  1999
7     SAUBER PETRONAS     1.0         sauber  1999
8              ARROWS     1.0         arrows  1999
9        MINARDI FORD     0.0        minardi  1999

In [33]:
data00_y = [
    ['FERRARI', 43, 'ferrari'],
    ['MCLAREN MERCEDES', 26, 'mclaren'],
    ['WILLIAMS BMW', 12, 'williams'],
    ['BENETTON PLAYLIFE', 8, 'benetton'],
    ['BAR HONDA', 6, 'bar'],
    ['JORDAN MUGEN HONDA', 8, 'jordan'],
    ['ARROWS SUPERTEC', 0, 'arrows'],
    ['SAUBER PETRONAS', 1, 'sauber'],
    ['JAGUAR COSWORTH', 0, 'jaguar']
]

df00_y = pd.DataFrame(data00_y, columns=['Team', 'Points', 'constructorRef'])
df00_y['Year'] = '2000'
df00_y['Points'] = df00_y['Points'].astype(float)
df00_y = df00_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df00_y

                 Team  Points constructorRef  Year
0             FERRARI    43.0        ferrari  2000
1    MCLAREN MERCEDES    26.0        mclaren  2000
2        WILLIAMS BMW    12.0       williams  2000
3   BENETTON PLAYLIFE     8.0       benetton  2000
4  JORDAN MUGEN HONDA     8.0         jordan  2000
5           BAR HONDA     6.0            bar  2000
6     SAUBER PETRONAS     1.0         sauber  2000
7     ARROWS SUPERTEC     0.0         arrows  2000
8     JAGUAR COSWORTH     0.0         jaguar  2000

In [34]:
data01_y = [
    ['FERRARI', 40, 'ferrari'],
    ['MCLAREN MERCEDES', 30, 'mclaren'],
    ['WILLIAMS BMW', 12, 'williams'],
    ['SAUBER PETRONAS', 8, 'sauber'],
    ['JORDAN HONDA', 10, 'jordan'],
    ['BAR HONDA', 3, 'bar'],
    ['BENETTON RENAULT', 1, 'benetton'],
    ['JAGUAR COSWORTH', 0, 'jaguar'],
    ['PROST ACER', 0, 'prost'],
    ['ARROWS ASIATECH', 0, 'arrows']
]

df01_y = pd.DataFrame(data00_y, columns=['Team', 'Points', 'constructorRef'])
df01_y['Year'] = '2001'
df01_y['Points'] = df01_y['Points'].astype(float)
df01_y = df01_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df01_y

                 Team  Points constructorRef  Year
0             FERRARI    43.0        ferrari  2001
1    MCLAREN MERCEDES    26.0        mclaren  2001
2        WILLIAMS BMW    12.0       williams  2001
3   BENETTON PLAYLIFE     8.0       benetton  2001
4  JORDAN MUGEN HONDA     8.0         jordan  2001
5           BAR HONDA     6.0            bar  2001
6     SAUBER PETRONAS     1.0         sauber  2001
7     ARROWS SUPERTEC     0.0         arrows  2001
8     JAGUAR COSWORTH     0.0         jaguar  2001

In [35]:
data02_y = [
    ['FERRARI', 40, 'ferrari'],
    ['WILLIAMS BMW', 37, 'williams'],
    ['MCLAREN MERCEDES', 9, 'mclaren'],
    ['RENAULT', 8, 'renault'],
    ['SAUBER PETRONAS', 3, 'sauber'],
    ['JORDAN HONDA', 0, 'jordan'],
    ['JAGUAR COSWORTH', 3, 'jaguar'],
    ['BAR HONDA', 0, 'bar'],
    ['MINARDI ASIATECH', 2, 'minardi'],
    ['TOYOTA', 2, 'toyota'],
    ['ARROWS COSWORTH', 0, 'arrows']
]

df02_y = pd.DataFrame(data02_y, columns=['Team', 'Points', 'constructorRef'])
df02_y['Year'] = '2002'
df02_y['Points'] = df02_y['Points'].astype(float)
df02_y = df02_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df02_y

                Team  Points constructorRef  Year
0            FERRARI    40.0        ferrari  2002
1       WILLIAMS BMW    37.0       williams  2002
2   MCLAREN MERCEDES     9.0        mclaren  2002
3            RENAULT     8.0        renault  2002
4    SAUBER PETRONAS     3.0         sauber  2002
5    JAGUAR COSWORTH     3.0         jaguar  2002
6   MINARDI ASIATECH     2.0        minardi  2002
7             TOYOTA     2.0         toyota  2002
8       JORDAN HONDA     0.0         jordan  2002
9          BAR HONDA     0.0            bar  2002
10   ARROWS COSWORTH     0.0         arrows  2002

In [36]:
data03_y = [
    ['FERRARI', 32, 'ferrari'],
    ['WILLIAMS BMW', 23, 'williams'],
    ['MCLAREN MERCEDES', 41, 'mclaren'],
    ['RENAULT', 26, 'renault'],
    ['BAR HONDA', 6, 'bar'],
    ['SAUBER PETRONAS', 8, 'sauber'],
    ['JAGUAR COSWORTH', 0, 'jaguar'],
    ['TOYOTA', 0, 'toyota'],
    ['JORDAN FORD', 10, 'jordan'],
    ['MINARDI COSWORTH', 0, 'minardi']
]

df03_y = pd.DataFrame(data03_y, columns=['Team', 'Points', 'constructorRef'])
df03_y['Year'] = '2003'
df03_y['Points'] = df03_y['Points'].astype(float)
df03_y = df03_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df03_y

               Team  Points constructorRef  Year
0  MCLAREN MERCEDES    41.0        mclaren  2003
1           FERRARI    32.0        ferrari  2003
2           RENAULT    26.0        renault  2003
3      WILLIAMS BMW    23.0       williams  2003
4       JORDAN FORD    10.0         jordan  2003
5   SAUBER PETRONAS     8.0         sauber  2003
6         BAR HONDA     6.0            bar  2003
7   JAGUAR COSWORTH     0.0         jaguar  2003
8            TOYOTA     0.0         toyota  2003
9  MINARDI COSWORTH     0.0        minardi  2003

In [37]:
data04_y = [
    ['FERRARI', 64, 'ferrari'],
    ['BAR HONDA', 27, 'bar'],
    ['RENAULT', 31, 'renault'],
    ['WILLIAMS BMW', 27, 'williams'],
    ['MCLAREN MERCEDES', 5, 'mclaren'],
    ['SAUBER PETRONAS', 1, 'sauber'],
    ['JAGUAR COSWORTH', 1, 'jaguar'],
    ['TOYOTA', 0, 'toyota'],
    ['JORDAN FORD', 0, 'jordan'],
    ['MINARDI COSWORTH', 0, 'minardi']
]

df04_y = pd.DataFrame(data00_y, columns=['Team', 'Points', 'constructorRef'])
df04_y['Year'] = '2004'
df04_y['Points'] = df04_y['Points'].astype(float)
df04_y = df04_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df04_y

                 Team  Points constructorRef  Year
0             FERRARI    43.0        ferrari  2004
1    MCLAREN MERCEDES    26.0        mclaren  2004
2        WILLIAMS BMW    12.0       williams  2004
3   BENETTON PLAYLIFE     8.0       benetton  2004
4  JORDAN MUGEN HONDA     8.0         jordan  2004
5           BAR HONDA     6.0            bar  2004
6     SAUBER PETRONAS     1.0         sauber  2004
7     ARROWS SUPERTEC     0.0         arrows  2004
8     JAGUAR COSWORTH     0.0         jaguar  2004

In [38]:
data05_y = [
    ['RENAULT', 46, 'renault'],
    ['MCLAREN MERCEDES', 25, 'mclaren'],
    ['FERRARI', 18, 'ferrari'],
    ['TOYOTA', 29, 'toyota'],
    ['WILLIAMS BMW', 18, 'williams'],
    ['BAR HONDA', 0, 'bar'],
    ['RBR COSWORTH', 13, 'red_bull'],
    ['SAUBER PETRONAS', 7, 'sauber'],
    ['JORDAN TOYOTA', 0, 'jordan'],
    ['MINARDI COSWORTH', 0, 'minardi']
]

df05_y = pd.DataFrame(data05_y, columns=['Team', 'Points', 'constructorRef'])
df05_y['Year'] = '2005'
df05_y['Points'] = df05_y['Points'].astype(float)
df05_y = df05_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df05_y

               Team  Points constructorRef  Year
0           RENAULT    46.0        renault  2005
1            TOYOTA    29.0         toyota  2005
2  MCLAREN MERCEDES    25.0        mclaren  2005
3           FERRARI    18.0        ferrari  2005
4      WILLIAMS BMW    18.0       williams  2005
5      RBR COSWORTH    13.0       red_bull  2005
6   SAUBER PETRONAS     7.0         sauber  2005
7         BAR HONDA     0.0            bar  2005
8     JORDAN TOYOTA     0.0         jordan  2005
9  MINARDI COSWORTH     0.0        minardi  2005

In [39]:
data06_y = [
    ['RENAULT', 62, 'renault'],
    ['FERRARI', 46, 'ferrari'],
    ['MCLAREN MERCEDES', 38, 'mclaren'],
    ['HONDA', 19, 'honda'],
    ['SAUBER BMW', 11, 'bmw_sauber'],
    ['TOYOTA', 7, 'toyota'],
    ['RBR FERRARI', 2, 'red_bull'],
    ['WILLIAMS COSWORTH', 10, 'williams'],
    ['STR COSWORTH', 0, 'toro_rosso'],
    ['MF1 TOYOTA', 0, 'mf1'],
    ['SUPER AGURI HONDA', 0, 'super_aguri']
]

df06_y = pd.DataFrame(data06_y, columns=['Team', 'Points', 'constructorRef'])
df06_y['Year'] = '2006'
df06_y['Points'] = df06_y['Points'].astype(float)
df06_y = df06_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df06_y

                 Team  Points constructorRef  Year
0             RENAULT    62.0        renault  2006
1             FERRARI    46.0        ferrari  2006
2    MCLAREN MERCEDES    38.0        mclaren  2006
3               HONDA    19.0          honda  2006
4          SAUBER BMW    11.0     bmw_sauber  2006
5   WILLIAMS COSWORTH    10.0       williams  2006
6              TOYOTA     7.0         toyota  2006
7         RBR FERRARI     2.0       red_bull  2006
8        STR COSWORTH     0.0     toro_rosso  2006
9          MF1 TOYOTA     0.0            mf1  2006
10  SUPER AGURI HONDA     0.0    super_aguri  2006

In [40]:
data07_y = [
    ['FERRARI', 39, 'ferrari'],
    ['SAUBER BMW', 18, 'bmw_sauber'],
    ['RENAULT', 9, 'renault'],
    ['WILLIAMS TOYOTA', 2, 'williams'],
    ['RED BULL RENAULT', 0, 'red_bull'],
    ['TOYOTA', 5, 'toyota'],
    ['STR FERRARI', 0, 'toro_rosso'],
    ['HONDA', 0, 'honda'],
    ['SUPER AGURI HONDA', 0, 'super_aguri'],
    ['SPYKER FERRARI', 0, 'spyker'],
    ['MCLAREN MERCEDES', 0, 'mclaren']
]

df07_y = pd.DataFrame(data07_y, columns=['Team', 'Points', 'constructorRef'])
df07_y['Year'] = '2007'
df07_y['Points'] = df07_y['Points'].astype(float)
df07_y = df07_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df07_y

                 Team  Points constructorRef  Year
0             FERRARI    39.0        ferrari  2007
1          SAUBER BMW    18.0     bmw_sauber  2007
2             RENAULT     9.0        renault  2007
3              TOYOTA     5.0         toyota  2007
4     WILLIAMS TOYOTA     2.0       williams  2007
5    RED BULL RENAULT     0.0       red_bull  2007
6         STR FERRARI     0.0     toro_rosso  2007
7               HONDA     0.0          honda  2007
8   SUPER AGURI HONDA     0.0    super_aguri  2007
9      SPYKER FERRARI     0.0         spyker  2007
10   MCLAREN MERCEDES     0.0        mclaren  2007

In [41]:
data08_y = [
    ['FERRARI', 29, 'ferrari'],
    ['MCLAREN MERCEDES', 28, 'mclaren'],
    ['SAUBER BMW', 30, 'bmw_sauber'],
    ['RENAULT', 6, 'renault'],
    ['TOYOTA', 8, 'toyota'],
    ['STR FERRARI', 2, 'toro_rosso'],
    ['RED BULL RENAULT', 4, 'red_bull'],
    ['WILLIAMS TOYOTA', 10, 'williams'],
    ['HONDA', 0, 'honda'],
    ['FORCE INDIA FERRARI', 0, 'force_india'],
    ['SUPER AGURI HONDA', 0, 'super_aguri']
]
 

df08_y = pd.DataFrame(data08_y, columns=['Team', 'Points', 'constructorRef'])
df08_y['Year'] = '2008'
df08_y['Points'] = df08_y['Points'].astype(float)
df08_y = df08_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df08_y

                   Team  Points constructorRef  Year
0            SAUBER BMW    30.0     bmw_sauber  2008
1               FERRARI    29.0        ferrari  2008
2      MCLAREN MERCEDES    28.0        mclaren  2008
3       WILLIAMS TOYOTA    10.0       williams  2008
4                TOYOTA     8.0         toyota  2008
5               RENAULT     6.0        renault  2008
6      RED BULL RENAULT     4.0       red_bull  2008
7           STR FERRARI     2.0     toro_rosso  2008
8                 HONDA     0.0          honda  2008
9   FORCE INDIA FERRARI     0.0    force_india  2008
10    SUPER AGURI HONDA     0.0    super_aguri  2008

In [42]:
data09_y = [
    ['BRAWN MERCEDES', 50, 'brawn'],
    ['RBR RENAULT', 27.5, 'red_bull'],
    ['MCLAREN MERCEDES', 13, 'mclaren'],
    ['FERRARI', 3, 'ferrari'],
    ['TOYOTA', 26.5, 'toyota'],
    ['SAUBER BMW', 4, 'bmw_sauber'],
    ['WILLIAMS TOYOTA', 3.5, 'williams'],
    ['RENAULT', 5, 'renault'],
    ['FORCE INDIA MERCEDES', 0, 'force_india'],
    ['STR FERRARI', 4, 'toro_rosso']
]

df09_y = pd.DataFrame(data09_y, columns=['Team', 'Points', 'constructorRef'])
df09_y['Year'] = '2009'
df09_y['Points'] = df09_y['Points'].astype(float)
df09_y = df09_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df09_y

                   Team  Points constructorRef  Year
0        BRAWN MERCEDES    50.0          brawn  2009
1           RBR RENAULT    27.5       red_bull  2009
2                TOYOTA    26.5         toyota  2009
3      MCLAREN MERCEDES    13.0        mclaren  2009
4               RENAULT     5.0        renault  2009
5            SAUBER BMW     4.0     bmw_sauber  2009
6           STR FERRARI     4.0     toro_rosso  2009
7       WILLIAMS TOYOTA     3.5       williams  2009
8               FERRARI     3.0        ferrari  2009
9  FORCE INDIA MERCEDES     0.0    force_india  2009

In [43]:
data10_y = [
    ['RBR RENAULT', 73, 'red_bull'],
    ['MCLAREN MERCEDES', 109, 'mclaren'],
    ['FERRARI', 90, 'ferrari'],
    ['MERCEDES', 60, 'mercedes'],
    ['RENAULT', 46, 'renault'],
    ['WILLIAMS COSWORTH', 6, 'williams'],
    ['FORCE INDIA MERCEDES', 18, 'force_india'],
    ['SAUBER FERRARI', 0, 'sauber'],
    ['STR FERRARI', 2, 'toro_rosso'],
    ['LOTUS COSWORTH', 0, 'lotus_racing'],
    ['HRT COSWORTH', 0, 'hrt'],
    ['VIRGIN COSWORTH', 0, 'virgin']
]

df10_y = pd.DataFrame(data10_y, columns=['Team', 'Points', 'constructorRef'])
df10_y['Year'] = '2010'
df10_y['Points'] = df10_y['Points'].astype(float)
df10_y = df10_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df10_y

                    Team  Points constructorRef  Year
0       MCLAREN MERCEDES   109.0        mclaren  2010
1                FERRARI    90.0        ferrari  2010
2            RBR RENAULT    73.0       red_bull  2010
3               MERCEDES    60.0       mercedes  2010
4                RENAULT    46.0        renault  2010
5   FORCE INDIA MERCEDES    18.0    force_india  2010
6      WILLIAMS COSWORTH     6.0       williams  2010
7            STR FERRARI     2.0     toro_rosso  2010
8         SAUBER FERRARI     0.0         sauber  2010
9         LOTUS COSWORTH     0.0   lotus_racing  2010
10          HRT COSWORTH     0.0            hrt  2010
11       VIRGIN COSWORTH     0.0         virgin  2010

In [44]:
data11_y = [
    ['RED BULL RACING RENAULT', 148, 'red_bull'],
    ['MCLAREN MERCEDES', 105, 'mclaren'],
    ['FERRARI', 65, 'ferrari'],
    ['MERCEDES', 26, 'mercedes'],
    ['RENAULT', 42, 'renault'],
    ['FORCE INDIA MERCEDES', 4, 'force_india'],
    ['SAUBER FERRARI', 8, 'sauber'],
    ['STR FERRARI', 6, 'toro_rosso'],
    ['WILLIAMS COSWORTH', 0, 'williams'],
    ['LOTUS RENAULT', 0, 'lotus_racing'],
    ['HRT COSWORTH', 0, 'hrt'],
    ['VIRGIN COSWORTH', 0, 'virgin']
]

df11_y = pd.DataFrame(data11_y, columns=['Team', 'Points', 'constructorRef'])
df11_y['Year'] = '2011'
df11_y['Points'] = df11_y['Points'].astype(float)
df11_y = df11_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df11_y

                       Team  Points constructorRef  Year
0   RED BULL RACING RENAULT   148.0       red_bull  2011
1          MCLAREN MERCEDES   105.0        mclaren  2011
2                   FERRARI    65.0        ferrari  2011
3                   RENAULT    42.0        renault  2011
4                  MERCEDES    26.0       mercedes  2011
5            SAUBER FERRARI     8.0         sauber  2011
6               STR FERRARI     6.0     toro_rosso  2011
7      FORCE INDIA MERCEDES     4.0    force_india  2011
8         WILLIAMS COSWORTH     0.0       williams  2011
9             LOTUS RENAULT     0.0   lotus_racing  2011
10             HRT COSWORTH     0.0            hrt  2011
11          VIRGIN COSWORTH     0.0         virgin  2011

In [45]:
data12_y = [
    ['RED BULL RACING RENAULT', 101, 'red_bull'],
    ['FERRARI', 45, 'ferrari'],
    ['MCLAREN MERCEDES', 92, 'mclaren'],
    ['LOTUS RENAULT', 57, 'lotus_f1'],
    ['MERCEDES', 37, 'mercedes'],
    ['SAUBER FERRARI', 31, 'sauber'],
    ['FORCE INDIA MERCEDES', 17, 'force_india'],
    ['WILLIAMS RENAULT', 18, 'williams'],
    ['STR FERRARI', 6, 'toro_rosso'],
    ['CATERHAM RENAULT', 0, 'caterham'],
    ['MARUSSIA COSWORTH', 0, 'marussia'],
    ['HRT COSWORTH', 0, 'hrt']
]

df12_y = pd.DataFrame(data12_y, columns=['Team', 'Points', 'constructorRef'])
df12_y['Year'] = '2012'
df12_y['Points'] = df12_y['Points'].astype(float)
df12_y = df12_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df12_y

                       Team  Points constructorRef  Year
0   RED BULL RACING RENAULT   101.0       red_bull  2012
1          MCLAREN MERCEDES    92.0        mclaren  2012
2             LOTUS RENAULT    57.0       lotus_f1  2012
3                   FERRARI    45.0        ferrari  2012
4                  MERCEDES    37.0       mercedes  2012
5            SAUBER FERRARI    31.0         sauber  2012
6          WILLIAMS RENAULT    18.0       williams  2012
7      FORCE INDIA MERCEDES    17.0    force_india  2012
8               STR FERRARI     6.0     toro_rosso  2012
9          CATERHAM RENAULT     0.0       caterham  2012
10        MARUSSIA COSWORTH     0.0       marussia  2012
11             HRT COSWORTH     0.0            hrt  2012

In [46]:
data13_y = [
    ['RED BULL RACING RENAULT', 109, 'red_bull'],
    ['MERCEDES', 64, 'mercedes'],
    ['FERRARI', 77, 'ferrari'],
    ['LOTUS RENAULT', 93, 'lotus_f1'],
    ['MCLAREN MERCEDES', 23, 'mclaren'],
    ['FORCE INDIA MERCEDES', 26, 'force_india'],
    ['SAUBER FERRARI', 5, 'sauber'],
    ['STR FERRARI', 7, 'toro_rosso'],
    ['WILLIAMS RENAULT', 0, 'williams'],
    ['MARUSSIA COSWORTH', 0, 'marussia'],
    ['CATERHAM RENAULT', 0, 'caterham']
]

df13_y = pd.DataFrame(data13_y, columns=['Team', 'Points', 'constructorRef'])
df13_y['Year'] = '2013'
df13_y['Points'] = df13_y['Points'].astype(float)
df13_y = df13_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df13_y

                       Team  Points constructorRef  Year
0   RED BULL RACING RENAULT   109.0       red_bull  2013
1             LOTUS RENAULT    93.0       lotus_f1  2013
2                   FERRARI    77.0        ferrari  2013
3                  MERCEDES    64.0       mercedes  2013
4      FORCE INDIA MERCEDES    26.0    force_india  2013
5          MCLAREN MERCEDES    23.0        mclaren  2013
6               STR FERRARI     7.0     toro_rosso  2013
7            SAUBER FERRARI     5.0         sauber  2013
8          WILLIAMS RENAULT     0.0       williams  2013
9         MARUSSIA COSWORTH     0.0       marussia  2013
10         CATERHAM RENAULT     0.0       caterham  2013

In [47]:
data14_y = [
    ['MERCEDES', 154, 'mercedes'],
    ['RED BULL RACING RENAULT', 57, 'red_bull'],
    ['WILLIAMS MERCEDES', 36, 'williams'],
    ['FERRARI', 52, 'ferrari'],
    ['MCLAREN MERCEDES', 43, 'mclaren'],
    ['FORCE INDIA MERCEDES', 54, 'force_india'],
    ['STR RENAULT', 8, 'toro_rosso'],
    ['LOTUS RENAULT', 0, 'lotus_f1'],
    ['MARUSSIA FERRARI', 0, 'marussia'],
    ['SAUBER FERRARI', 0, 'sauber'],
    ['CATERHAM RENAULT', 0, 'caterham']
]

df14_y = pd.DataFrame(data14_y, columns=['Team', 'Points', 'constructorRef'])
df14_y['Year'] = '2014'
df14_y['Points'] = df14_y['Points'].astype(float)
df14_y = df14_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df14_y

                       Team  Points constructorRef  Year
0                  MERCEDES   154.0       mercedes  2014
1   RED BULL RACING RENAULT    57.0       red_bull  2014
2      FORCE INDIA MERCEDES    54.0    force_india  2014
3                   FERRARI    52.0        ferrari  2014
4          MCLAREN MERCEDES    43.0        mclaren  2014
5         WILLIAMS MERCEDES    36.0       williams  2014
6               STR RENAULT     8.0     toro_rosso  2014
7             LOTUS RENAULT     0.0       lotus_f1  2014
8          MARUSSIA FERRARI     0.0       marussia  2014
9            SAUBER FERRARI     0.0         sauber  2014
10         CATERHAM RENAULT     0.0       caterham  2014

In [48]:
data15_y = [
    ['MERCEDES', 159, 'mercedes'],
    ['FERRARI', 107, 'ferrari'],
    ['WILLIAMS MERCEDES', 61, 'williams'],
    ['RED BULL RACING RENAULT', 23, 'red_bull'],
    ['FORCE INDIA MERCEDES', 13, 'force_india'],
    ['LOTUS MERCEDES', 12, 'lotus_f1'],
    ['STR RENAULT', 12, 'toro_rosso'],
    ['SAUBER FERRARI', 19, 'sauber'],
    ['MCLAREN HONDA', 0, 'mclaren'],
    ['MARUSSIA FERRARI', 0, 'marussia']
]

df15_y = pd.DataFrame(data15_y, columns=['Team', 'Points', 'constructorRef'])
df15_y['Year'] = '2015'
df15_y['Points'] = df15_y['Points'].astype(float)
df15_y = df15_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df15_y

                      Team  Points constructorRef  Year
0                 MERCEDES   159.0       mercedes  2015
1                  FERRARI   107.0        ferrari  2015
2        WILLIAMS MERCEDES    61.0       williams  2015
3  RED BULL RACING RENAULT    23.0       red_bull  2015
4           SAUBER FERRARI    19.0         sauber  2015
5     FORCE INDIA MERCEDES    13.0    force_india  2015
6           LOTUS MERCEDES    12.0       lotus_f1  2015
7              STR RENAULT    12.0     toro_rosso  2015
8            MCLAREN HONDA     0.0        mclaren  2015
9         MARUSSIA FERRARI     0.0       marussia  2015

In [49]:
data16_y = [
    ['MERCEDES', 157, 'mercedes'],
    ['RED BULL RACING TAG HEUER', 57, 'red_bull'],
    ['FERRARI', 76, 'ferrari'],
    ['FORCE INDIA MERCEDES', 8, 'force_india'],
    ['WILLIAMS MERCEDES', 51, 'williams'],
    ['MCLAREN HONDA', 10, 'mclaren'],
    ['TORO ROSSO FERRARI', 17, 'toro_rosso'],
    ['HAAS FERRARI', 22, 'haas'],
    ['RENAULT', 6, 'renault'],
    ['SAUBER FERRARI', 0, 'sauber'],
    ['MRT MERCEDES', 0, 'manor']
]

df16_y = pd.DataFrame(data16_y, columns=['Team', 'Points', 'constructorRef'])
df16_y['Year'] = '2016'
df16_y['Points'] = df16_y['Points'].astype(float)
df16_y = df16_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df16_y

                         Team  Points constructorRef  Year
0                    MERCEDES   157.0       mercedes  2016
1                     FERRARI    76.0        ferrari  2016
2   RED BULL RACING TAG HEUER    57.0       red_bull  2016
3           WILLIAMS MERCEDES    51.0       williams  2016
4                HAAS FERRARI    22.0           haas  2016
5          TORO ROSSO FERRARI    17.0     toro_rosso  2016
6               MCLAREN HONDA    10.0        mclaren  2016
7        FORCE INDIA MERCEDES     8.0    force_india  2016
8                     RENAULT     6.0        renault  2016
9              SAUBER FERRARI     0.0         sauber  2016
10               MRT MERCEDES     0.0          manor  2016

In [50]:
data17_y = [
    ['MERCEDES', 136, 'mercedes'],
    ['FERRARI', 135, 'ferrari'],
    ['RED BULL RACING TAG HEUER', 57, 'red_bull'],
    ['FORCE INDIA MERCEDES', 31, 'force_india'],
    ['WILLIAMS MERCEDES', 18, 'williams'],
    ['RENAULT', 6, 'renault'],
    ['TORO ROSSO', 13, 'toro_rosso'],
    ['HAAS FERRARI', 8, 'haas'],
    ['MCLAREN HONDA', 0, 'mclaren'],
    ['SAUBER FERRARI', 0, 'sauber']
]

df17_y = pd.DataFrame(data17_y, columns=['Team', 'Points', 'constructorRef'])
df17_y['Year'] = '2017'
df17_y['Points'] = df17_y['Points'].astype(float)
df17_y = df17_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df17_y

                        Team  Points constructorRef  Year
0                   MERCEDES   136.0       mercedes  2017
1                    FERRARI   135.0        ferrari  2017
2  RED BULL RACING TAG HEUER    57.0       red_bull  2017
3       FORCE INDIA MERCEDES    31.0    force_india  2017
4          WILLIAMS MERCEDES    18.0       williams  2017
5                 TORO ROSSO    13.0     toro_rosso  2017
6               HAAS FERRARI     8.0           haas  2017
7                    RENAULT     6.0        renault  2017
8              MCLAREN HONDA     0.0        mclaren  2017
9             SAUBER FERRARI     0.0         sauber  2017

In [51]:
data18_y = [
    ['MERCEDES', 110, 'mercedes'],
    ['FERRARI', 114, 'ferrari'],
    ['RED BULL RACING TAG HEUER', 55, 'red_bull'],
    ['RENAULT', 35, 'renault'],
    ['HAAS FERRARI', 11, 'haas'],
    ['MCLAREN RENAULT', 34, 'mclaren'],
    ['FORCE INDIA MERCEDES', 0, 'force_india'],
    ['SAUBER FERRARI', 10, 'sauber'],
    ['SCUDERIA TORO ROSSO HONDA', 13, 'toro_rosso'],
    ['WILLIAMS MERCEDES', 4, 'williams'],
]

df18_y = pd.DataFrame(data18_y, columns=['Team', 'Points', 'constructorRef'])
df18_y['Year'] = '2018'
df18_y['Points'] = df18_y['Points'].astype(float)
df18_y = df18_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df18_y

                        Team  Points constructorRef  Year
0                    FERRARI   114.0        ferrari  2018
1                   MERCEDES   110.0       mercedes  2018
2  RED BULL RACING TAG HEUER    55.0       red_bull  2018
3                    RENAULT    35.0        renault  2018
4            MCLAREN RENAULT    34.0        mclaren  2018
5  SCUDERIA TORO ROSSO HONDA    13.0     toro_rosso  2018
6               HAAS FERRARI    11.0           haas  2018
7             SAUBER FERRARI    10.0         sauber  2018
8          WILLIAMS MERCEDES     4.0       williams  2018
9       FORCE INDIA MERCEDES     0.0    force_india  2018

In [52]:
data19_y = [
    ['MERCEDES', 173, 'mercedes'],
    ['FERRARI', 99, 'ferrari'],
    ['RED BULL RACING HONDA', 59, 'red_bull'],
    ['MCLAREN RENAULT', 18, 'mclaren'],
    ['RENAULT', 12, 'renault'],
    ['SCUDERIA TORO ROSSO HONDA', 4, 'toro_rosso'],
    ['RACING POINT BWT MERCEDES', 17, 'racing_point'],
    ['ALFA ROMEO RACING FERRARI', 13, 'alfa'],
    ['HAAS FERRARI', 8, 'haas'],
    ['WILLIAMS MERCEDES', 0, 'williams']
]

df19_y = pd.DataFrame(data19_y, columns=['Team', 'Points', 'constructorRef'])
df19_y['Year'] = '2019'
df19_y['Points'] = df19_y['Points'].astype(float)
df19_y = df19_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df19_y

                        Team  Points constructorRef  Year
0                   MERCEDES   173.0       mercedes  2019
1                    FERRARI    99.0        ferrari  2019
2      RED BULL RACING HONDA    59.0       red_bull  2019
3            MCLAREN RENAULT    18.0        mclaren  2019
4  RACING POINT BWT MERCEDES    17.0   racing_point  2019
5  ALFA ROMEO RACING FERRARI    13.0           alfa  2019
6                    RENAULT    12.0        renault  2019
7               HAAS FERRARI     8.0           haas  2019
8  SCUDERIA TORO ROSSO HONDA     4.0     toro_rosso  2019
9          WILLIAMS MERCEDES     0.0       williams  2019

In [53]:
data20_y = [
    ['MERCEDES', 180, 'mercedes'],
    ['RED BULL RACING HONDA', 113, 'red_bull'],
    ['MCLAREN RENAULT', 53, 'mclaren'],
    ['RACING POINT BWT MERCEDES', 41, 'racing_point'],
    ['RENAULT', 36, 'renault'],
    ['FERRARI', 55, 'ferrari'],
    ['ALPHATAURI HONDA', 14, 'alphatauri'],
    ['ALFA ROMEO RACING FERRARI', 2, 'alfa'],
    ['HAAS FERRARI', 1, 'haas'],
    ['WILLIAMS MERCEDES', 0, 'williams']
]

df20_y = pd.DataFrame(data20_y, columns=['Team', 'Points', 'constructorRef'])
df20_y['Year'] = '2020'
df20_y['Points'] = df20_y['Points'].astype(float)
df20_y = df20_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df20_y

                        Team  Points constructorRef  Year
0                   MERCEDES   180.0       mercedes  2020
1      RED BULL RACING HONDA   113.0       red_bull  2020
2                    FERRARI    55.0        ferrari  2020
3            MCLAREN RENAULT    53.0        mclaren  2020
4  RACING POINT BWT MERCEDES    41.0   racing_point  2020
5                    RENAULT    36.0        renault  2020
6           ALPHATAURI HONDA    14.0     alphatauri  2020
7  ALFA ROMEO RACING FERRARI     2.0           alfa  2020
8               HAAS FERRARI     1.0           haas  2020
9          WILLIAMS MERCEDES     0.0       williams  2020

In [54]:
data21_y = [
    ['MERCEDES', 101, 'mercedes'],
    ['RED BULL RACING HONDA', 83, 'red_bull'],
    ['FERRARI', 42, 'ferrari'],
    ['MCLAREN MERCEDES', 53, 'mclaren'],
    ['ALPINE RENAULT', 13, 'alpine'],
    ['ALPHATAURI HONDA', 9, 'alphatauri'],
    ['ASTON MARTIN MERCEDES', 5, 'aston_martin'],
    ['WILLIAMS MERCEDES', 23, 'williams'],
    ['ALFA ROMEO RACING FERRARI', 0, 'alfa'],
    ['HAAS FERRARI', 0, 'haas']
]

df21_y = pd.DataFrame(data21_y, columns=['Team', 'Points', 'constructorRef'])
df21_y['Year'] = '2021'
df21_y['Points'] = df21_y['Points'].astype(float)
df21_y = df21_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df21_y

                        Team  Points constructorRef  Year
0                   MERCEDES   101.0       mercedes  2021
1      RED BULL RACING HONDA    83.0       red_bull  2021
2           MCLAREN MERCEDES    53.0        mclaren  2021
3                    FERRARI    42.0        ferrari  2021
4          WILLIAMS MERCEDES    23.0       williams  2021
5             ALPINE RENAULT    13.0         alpine  2021
6           ALPHATAURI HONDA     9.0     alphatauri  2021
7      ASTON MARTIN MERCEDES     5.0   aston_martin  2021
8  ALFA ROMEO RACING FERRARI     0.0           alfa  2021
9               HAAS FERRARI     0.0           haas  2021

In [55]:
data22_y = [
    ['RED BULL RACING RBPT', 151, 'red_bull'],
    ['FERRARI', 157, 'ferrari'],
    ['MERCEDES', 95, 'mercedes'],
    ['ALPINE RENAULT', 26, 'alpine'],
    ['MCLAREN MERCEDES', 46, 'mclaren'],
    ['ALFA ROMEO FERRARI', 31, 'alfa'],
    ['ASTON MARTIN ARAMCO MERCEDES', 6, 'aston_martin'],
    ['HAAS FERRARI', 15, 'haas'],
    ['ALPHATAURI RBPT', 16, 'alphatauri'],
    ['WILLIAMS MERCEDES', 3, 'williams']
]

df22_y = pd.DataFrame(data22_y, columns=['Team', 'Points', 'constructorRef'])
df22_y['Year'] = '2022'
df22_y['Points'] = df22_y['Points'].astype(float)
df22_y = df22_y.sort_values(by='Points', ascending=False).reset_index(drop=True)

df22_y

                           Team  Points constructorRef  Year
0                       FERRARI   157.0        ferrari  2022
1          RED BULL RACING RBPT   151.0       red_bull  2022
2                      MERCEDES    95.0       mercedes  2022
3              MCLAREN MERCEDES    46.0        mclaren  2022
4            ALFA ROMEO FERRARI    31.0           alfa  2022
5                ALPINE RENAULT    26.0         alpine  2022
6               ALPHATAURI RBPT    16.0     alphatauri  2022
7                  HAAS FERRARI    15.0           haas  2022
8  ASTON MARTIN ARAMCO MERCEDES     6.0   aston_martin  2022
9             WILLIAMS MERCEDES     3.0       williams  2022

# Concatenación

---

A continuación, realizamos la concatenación de varios dataframes para crear uno solo. De esta manera, podemos trabajar con los datos de todos los años en un único dataframe

In [56]:
dfs = [df22, df21, df20, df19, df18, df17, df16, df15, df14, df13, df12, df11, df10, df09, df08, df07, df06, df05, df04, df03, df02, df01, df00, df99, df98, df97, df96]

Driver_Points = pd.concat(dfs, ignore_index=True)

Driver_Points.shape

(596, 6)

In [57]:
dfs_y = [df22_y, df21_y, df20_y, df19_y, df18_y, df17_y, df16_y, df15_y, df14_y, df13_y, df12_y, df11_y, df10_y, df09_y, df08_y, df07_y, df06_y, df05_y, df04_y, df03_y, df02_y, df01_y, df00_y, df99_y, df98_y, df97_y, df96_y]

Const_Points = pd.concat(dfs_y, ignore_index=True)

Const_Points.shape

(278, 4)

In [58]:
Driver_Points.head()

,Driver,Nationality,Team,Points,driverRef,Year
0,Charles Leclerc,MON,FERRARI,104.0,leclerc,2022
1,Max Verstappen,NED,RED BULL RACING RBPT,85.0,max_verstappen,2022
2,Sergio Perez,MEX,RED BULL RACING RBPT,66.0,perez,2022
3,George Russell,GBR,MERCEDES,59.0,russell,2022
4,Carlos Sainz,ESP,FERRARI,53.0,sainz,2022

In [59]:
Const_Points.head()

                   Team  Points constructorRef  Year
0               FERRARI   157.0        ferrari  2022
1  RED BULL RACING RBPT   151.0       red_bull  2022
2              MERCEDES    95.0       mercedes  2022
3      MCLAREN MERCEDES    46.0        mclaren  2022
4    ALFA ROMEO FERRARI    31.0           alfa  2022

In [60]:
Drivers = Driver_Points.to_csv('../data/driver_points_es.csv', index = False)
Const = Const_Points.to_csv('../data/constructor_points_es.csv', index = False)