In [5]:
import pandas as pd
import numpy as np

In [6]:
race = pd.read_csv('../data/safety_es_2023_test.csv')
first = pd.read_csv('first_prediction')
second = pd.read_csv('second_prediction')
third = pd.read_csv('third_prediction')

In [7]:
race.shape

(60, 11)

In [8]:
race.head()

,year,date,time,const_name,const_points,temperature,wind,visibility,rainfall,safety_car,length
0,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,NaN,4655
1,2023,2023-06-04,15:00:00,Red Bull,249.0,21,12,10,False,NaN,4655
2,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,NaN,4655
3,2023,2023-06-04,15:00:00,Ferrari,90.0,22,15,10,False,NaN,4655
4,2023,2023-06-04,15:00:00,Ferrari,90.0,21,12,10,False,NaN,4655

In [9]:
race['safety_car'] = False

race['safety_car'].value_counts()

safety_car
False    60
Name: count, dtype: int64

In [10]:
race.head()

,year,date,time,const_name,const_points,temperature,wind,visibility,rainfall,safety_car,length
0,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,False,4655
1,2023,2023-06-04,15:00:00,Red Bull,249.0,21,12,10,False,False,4655
2,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,False,4655
3,2023,2023-06-04,15:00:00,Ferrari,90.0,22,15,10,False,False,4655
4,2023,2023-06-04,15:00:00,Ferrari,90.0,21,12,10,False,False,4655

In [11]:
race.shape

(60, 11)

In [12]:
first.shape

(60, 11)

In [13]:
first.head()

,year,date,time,const_name,const_points,temperature,wind,visibility,rainfall,safety_car,length
0,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,0.011358,4655
1,2023,2023-06-04,15:00:00,Red Bull,249.0,21,12,10,False,0.015858,4655
2,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,0.011358,4655
3,2023,2023-06-04,15:00:00,Ferrari,90.0,22,15,10,False,0.011358,4655
4,2023,2023-06-04,15:00:00,Ferrari,90.0,21,12,10,False,0.015858,4655

In [14]:
second.shape

(60, 11)

In [15]:
second.head()

,year,date,time,const_name,const_points,temperature,wind,visibility,rainfall,safety_car,length
0,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,-1.370451,4655
1,2023,2023-06-04,15:00:00,Red Bull,249.0,21,12,10,False,-1.655387,4655
2,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,-1.370451,4655
3,2023,2023-06-04,15:00:00,Ferrari,90.0,22,15,10,False,-0.735907,4655
4,2023,2023-06-04,15:00:00,Ferrari,90.0,21,12,10,False,-0.977268,4655

In [16]:
third.shape

(60, 11)

In [17]:
third.head()

,year,date,time,const_name,const_points,temperature,wind,visibility,rainfall,safety_car,length
0,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,-0.148759,4655
1,2023,2023-06-04,15:00:00,Red Bull,249.0,21,12,10,False,-0.068874,4655
2,2023,2023-06-04,15:00:00,Red Bull,249.0,22,15,10,False,-0.148759,4655
3,2023,2023-06-04,15:00:00,Ferrari,90.0,22,15,10,False,-0.157498,4655
4,2023,2023-06-04,15:00:00,Ferrari,90.0,21,12,10,False,-0.061450,4655