In [1]:
import pandas as pd
import numpy as np

In [2]:
circuits = pd.read_csv('../../data/circuits.csv')

In [3]:
circuits.shape

(77, 9)

In [4]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [5]:
circuits = circuits.drop('url', axis=1)

In [6]:
n_rows = circuits[circuits['alt'] == r'\N']

n_rows

,circuitId,circuitRef,name,location,country,lat,lng,alt
22,80,vegas,Las Vegas Strip Street Circuit,Las Vegas,United States,36.1147,-115.1730,\N
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.4900,51.4542,\N
76,79,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N

In [7]:
circuits.loc[circuits['circuitId'] == 80, 'alt'] = 630
circuits.loc[circuits['circuitId'] == 78, 'alt'] = 13
circuits.loc[circuits['circuitId'] == 79, 'alt'] = 8

In [8]:
circuits[circuits['circuitId'] == 80]

,circuitId,circuitRef,name,location,country,lat,lng,alt
22,80,vegas,Las Vegas Strip Street Circuit,Las Vegas,United States,36.1147,-115.173,630

In [9]:
circuits.isna().sum()

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
dtype: int64

In [10]:
circuits.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
alt            object
dtype: object

In [11]:
circuits['alt'] = circuits['alt'].astype(int)

In [12]:
circuits.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
alt             int32
dtype: object

In [13]:
circuits_clean = circuits.to_csv('../clean_data/circuits_clean.csv')