In [17]:
import pandas as pd
import numpy as np

In [18]:
const_res = pd.read_csv('../../data/constructor_results.csv')

# Análisis del dataframe

---

Procedemos a transformar nuestro dataframe según nuestros objetivos, eliminando ciertas columnas y modificando ciertos parámetros

In [19]:
const_res.shape

(12170, 5)

In [20]:
const_res.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [21]:
const_res['status'].value_counts()

status
\N    12153
D        17
Name: count, dtype: int64

In [22]:
const_res = const_res.drop('status', axis=1)        # eliminamos la columna 'status' debido a la cantidad de valores nulos

const_res.head()

   constructorResultsId  raceId  constructorId  points
0                     1      18              1    14.0
1                     2      18              2     8.0
2                     3      18              3     9.0
3                     4      18              4     5.0
4                     5      18              5     2.0

In [23]:
const_res.dtypes

constructorResultsId      int64
raceId                    int64
constructorId             int64
points                  float64
dtype: object

In [24]:
const_res.isna().sum()

constructorResultsId    0
raceId                  0
constructorId           0
points                  0
dtype: int64

In [25]:
const_res_clean = const_res.to_csv('../clean_data/constructor_results_clean.csv')