In [1]:
import pandas as pd
import numpy as np

In [2]:
const = pd.read_csv('../../data/constructors.csv')

In [4]:
const.shape

(211, 5)

In [3]:
const.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [5]:
const = const.drop('url', axis=1)

In [9]:
n_rows = const[const['nationality'] == r'\N']

n_rows

Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality]
Index: []

In [10]:
const.isna().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
dtype: int64

In [11]:
const.dtypes

constructorId      int64
constructorRef    object
name              object
nationality       object
dtype: object

In [13]:
const_clean = const.to_csv('../clean_data/constructor_clean.csv')