In [1]:
import pandas as pd
import numpy as np

In [2]:
const_stan = pd.read_csv('../../data/constructor_standings.csv')

In [3]:
const_stan.shape

(12941, 7)

In [4]:
const_stan.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [12]:
n_rows = const_stan[const_stan['positionText'] == r'\N']

n_rows

Empty DataFrame
Columns: [constructorStandingsId, raceId, constructorId, points, position, positionText, wins]
Index: []

In [14]:
test = const_stan.position == const_stan.positionText

In [15]:
test.value_counts()

False    12941
Name: count, dtype: int64

In [16]:
const_stan = const_stan.drop('positionText', axis=1)

const_stan.head()

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

In [18]:
const_stan.isna().sum()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
wins                      0
dtype: int64

In [19]:
const_stan.dtypes

constructorStandingsId      int64
raceId                      int64
constructorId               int64
points                    float64
position                    int64
wins                        int64
dtype: object

In [20]:
const_stan_clean = const_stan.to_csv('../clean_data/constructor_standings_clean.csv')