In [1]:
import pandas as pd
import numpy as np

In [2]:
driv_stan = pd.read_csv('../../data/driver_standings.csv')

In [3]:
driv_stan.shape

(33902, 7)

In [4]:
driv_stan.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [11]:
n_rows = driv_stan[driv_stan['wins'] == r'\N']

n_rows

Empty DataFrame
Columns: [driverStandingsId, raceId, driverId, points, position, positionText, wins]
Index: []

In [15]:
test = driv_stan['position'] == driv_stan['positionText']

In [16]:
test.value_counts()

False    33902
Name: count, dtype: int64

In [12]:
driv_stan.isna().sum()

driverStandingsId    0
raceId               0
driverId             0
points               0
position             0
positionText         0
wins                 0
dtype: int64

In [13]:
driv_stan.dtypes

driverStandingsId      int64
raceId                 int64
driverId               int64
points               float64
position               int64
positionText          object
wins                   int64
dtype: object

In [17]:
driv_stan_clean = driv_stan.to_csv('../clean_data/driver_satndings_clean.csv')