In [13]:
import pandas as pd
import numpy as np

In [14]:
lap = pd.read_csv('../../data/lap_times.csv')

# Análisis del dataframe

---

Procedemos a transformar nuestro dataframe según nuestros objetivos, eliminando ciertas columnas y modificando ciertos parámetros

In [15]:
lap.shape

(538121, 6)

In [16]:
lap.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [17]:
n_rows = lap[lap['milliseconds'] == r'\N']

n_rows

Empty DataFrame
Columns: [raceId, driverId, lap, position, time, milliseconds]
Index: []

### Creación

---

Procedemos a crear la columna 'lapId' para poder asociar cada vuelta a un ID

In [18]:
lap['lapId'] = range(1, len(lap) + 1)

lap = lap[['lapId', 'raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds']]

lap.head()      # reordenamos las columnas a nuestro gusto

   lapId  raceId  driverId  lap  position      time  milliseconds
0      1     841        20    1         1  1:38.109         98109
1      2     841        20    2         1  1:33.006         93006
2      3     841        20    3         1  1:32.713         92713
3      4     841        20    4         1  1:32.803         92803
4      5     841        20    5         1  1:32.342         92342

In [19]:
lap.tail()

         lapId  raceId  driverId  lap  position      time  milliseconds
538116  538117    1096       822   53        16  1:32.998         92998
538117  538118    1096       822   54        16  1:32.995         92995
538118  538119    1096       822   55        16  1:31.236         91236
538119  538120    1096       822   56        15  1:30.566         90566
538120  538121    1096       822   57        15  1:30.743         90743

In [20]:
lap.isna().sum()

lapId           0
raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

In [21]:
lap.dtypes

lapId            int64
raceId           int64
driverId         int64
lap              int64
position         int64
time            object
milliseconds     int64
dtype: object

In [22]:
lap.head()

   lapId  raceId  driverId  lap  position      time  milliseconds
0      1     841        20    1         1  1:38.109         98109
1      2     841        20    2         1  1:33.006         93006
2      3     841        20    3         1  1:32.713         92713
3      4     841        20    4         1  1:32.803         92803
4      5     841        20    5         1  1:32.342         92342

In [23]:
lap_clean = lap.to_csv('../clean_data/lap_times_clean.csv')