In [1]:
import pandas as pd
import numpy as np

In [2]:
lap = pd.read_csv('../../data/lap_times.csv')

In [3]:
lap.shape

(538121, 6)

In [4]:
lap.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [10]:
n_rows = lap[lap['milliseconds'] == r'\N']

n_rows

Empty DataFrame
Columns: [raceId, driverId, lap, position, time, milliseconds]
Index: []

In [11]:
lap.isna().sum()

raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

In [12]:
lap.dtypes

raceId           int64
driverId         int64
lap              int64
position         int64
time            object
milliseconds     int64
dtype: object

In [14]:
lap.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [15]:
lap_clean = lap.to_csv('../clean_data/lap_times_clean.csv')