In [14]:
import pandas as pd
import numpy as np

In [15]:
pit = pd.read_csv('../../data/pit_stops.csv')

# Análisis del dataframe

---

Procedemos a transformar nuestro dataframe según nuestros objetivos, eliminando ciertas columnas y modificando ciertos parámetros

In [16]:
pit.shape

(9634, 7)

In [17]:
pit.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [18]:
n_rows = pit[pit['milliseconds'] == r'\N']

n_rows

Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []

### Creación

---

Procedemos a crear la columna 'pitId' para poder asociar cada pit stop a un ID

In [19]:
pit['pitId'] = range(1, len(pit) + 1)

pit = pit[['pitId', 'raceId', 'driverId', 'stop', 'lap', 'time', 'duration', 'milliseconds']]

pit.head()      # reordenamos las columnas a nuestro gusto

   pitId  raceId  driverId  stop  lap      time duration  milliseconds
0      1     841       153     1    1  17:05:23   26.898         26898
1      2     841        30     1    1  17:05:52   25.021         25021
2      3     841        17     1   11  17:20:48   23.426         23426
3      4     841         4     1   12  17:22:34   23.251         23251
4      5     841        13     1   13  17:24:10   23.842         23842

In [20]:
pit.isna().sum()

pitId           0
raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

In [21]:
pit.dtypes

pitId            int64
raceId           int64
driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object

In [22]:
pit_clean = pit.to_csv('../clean_data/pit_stops_clean.csv')