In [23]:
import pandas as pd
import numpy as np

In [24]:
results = pd.read_csv('../../data/results.csv')

In [25]:
results.shape

(25840, 18)

In [26]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [27]:
n_rows = results[results['number'] == r'\N']

n_rows

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
17715,17716,732,459,66,\N,0,\N,W,19,0.0,0,\N,\N,\N,\N,\N,\N,54
17716,17717,732,462,95,\N,0,\N,W,20,0.0,0,\N,\N,\N,\N,\N,\N,54
17717,17718,732,446,172,\N,0,\N,W,21,0.0,0,\N,\N,\N,\N,\N,\N,54
17718,17719,732,437,170,\N,0,\N,W,22,0.0,0,\N,\N,\N,\N,\N,\N,54
17939,17940,741,485,172,\N,0,\N,W,28,0.0,0,\N,\N,\N,\N,\N,\N,54
20319,20322,728,305,26,\N,0,\N,W,23,0.0,0,\N,\N,\N,\N,\N,\N,54

In [36]:
n_rows.shape

(6, 18)

In [37]:
results = results[results['number'] != r'\N']

results.shape

(25834, 18)

In [40]:
results = results.drop(['positionText', 'rank'], axis=1)

results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,10.0,58,1:34:50.616,5690616,39,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,8.0,58,+5.478,5696094,41,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,6.0,58,+8.163,5698779,41,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,5.0,58,+17.181,5707797,58,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,4.0,58,+18.014,5708630,43,1:27.418,218.385,1

In [41]:
results.isna().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [42]:
results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

In [44]:
results['number'] = results['number'].astype(int)

results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number               int32
grid                 int64
position            object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

In [45]:
results_clean = results.to_csv('../clean_data/results_clean.csv')