In [1]:
import pandas as pd
import numpy as np

In [2]:
seasons = pd.read_csv('../../data/seasons.csv')

In [3]:
seasons.shape

(74, 2)

In [4]:
seasons.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [5]:
seasons = seasons.drop('url', axis=1)

In [7]:
n_rows = seasons[seasons['year'] == r'\N']

n_rows

Empty DataFrame
Columns: [year]
Index: []

In [8]:
seasons.isna().sum()

year    0
dtype: int64

In [9]:
seasons.dtypes

year    int64
dtype: object

In [10]:
seasons_clean = seasons.to_csv('../clean_data/seasons_clean.csv')