In [1]:
import pandas as pd
import numpy as np

In [2]:
sprint = pd.read_csv('../../data/sprint_results.csv')

# Análisis del dataframe

---

Procedemos a transformar nuestro dataframe según nuestros objetivos, eliminando ciertas columnas y modificando ciertos parámetros

In [3]:
sprint.shape

(120, 16)

In [4]:
sprint.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [5]:
sprint = sprint.drop('positionText', axis=1)        # eliminamos la columna 'positionText' por contener los mismo valores que la columna 'position'

sprint.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [6]:
sprint['sprintId'] = sprint['resultId']     # le cambiamos el nombre al ID para evitar futuros problemas en nuestra database con el dataframe 'results'

sprint.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,sprintId
0,1,1061,830,9,33,2,1,1,3,17,25:38.426,1538426,14,1:30.013,1,1
1,2,1061,1,131,44,1,2,2,2,17,+1.430,1539856,17,1:29.937,1,2
2,3,1061,822,131,77,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,3
3,4,1061,844,6,16,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,4
4,5,1061,846,1,4,6,5,5,0,17,+24.111,1562537,16,1:30.566,1,5

In [7]:
sprint.isna().sum()

resultId          0
raceId            0
driverId          0
constructorId     0
number            0
grid              0
position          0
positionOrder     0
points            0
laps              0
time              0
milliseconds      0
fastestLap        0
fastestLapTime    0
statusId          0
sprintId          0
dtype: int64

In [8]:
sprint.dtypes

resultId           int64
raceId             int64
driverId           int64
constructorId      int64
number             int64
grid               int64
position          object
positionOrder      int64
points             int64
laps               int64
time              object
milliseconds      object
fastestLap        object
fastestLapTime    object
statusId           int64
sprintId           int64
dtype: object

In [9]:
sprint_clean = sprint.to_csv('../clean_data/sprint_results_clean.csv')