In [1]:
import pandas as pd
import numpy as np

In [2]:
status = pd.read_csv('../../data/status.csv')

In [3]:
status.shape

(139, 2)

In [4]:
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [6]:
n_rows = status[status['status'] == r'\N']

n_rows

Empty DataFrame
Columns: [statusId, status]
Index: []

In [7]:
status.isna().sum()

statusId    0
status      0
dtype: int64

In [8]:
status.dtypes

statusId     int64
status      object
dtype: object

In [9]:
status_clean = status.to_csv('../clean_data/status_clean.csv')