In [139]:
import pandas as pd
import numpy as np

In [140]:
circuits = pd.read_csv('clean_data/circuits_clean.csv')
const_res = pd.read_csv('clean_data/constructor_results_clean.csv')
const_stan = pd.read_csv('clean_data/constructor_standings_clean.csv')
constructors = pd.read_csv('clean_data/constructor_clean.csv')
drive_stan = pd.read_csv('clean_data/driver_satndings_clean.csv')
drivers = pd.read_csv('clean_data/drivers_clean.csv')
lap_times = pd.read_csv('clean_data/lap_times_clean.csv')
pit_stops = pd.read_csv('clean_data/pit_stops_clean.csv')
qualifying = pd.read_csv('clean_data/qualifying_clean.csv')
races = pd.read_csv('clean_data/races_clean.csv')
results = pd.read_csv('clean_data/results_clean.csv')
seasons = pd.read_csv('clean_data/seasons_clean.csv')
sprint_res = pd.read_csv('clean_data/sprint_results_clean.csv')
status = pd.read_csv('clean_data/status_clean.csv')

In [141]:
from sqlalchemy import create_engine

In [142]:
with open('password.txt', 'r') as file:
    
    passwd = file.read()

In [143]:
str_conn = f'mysql+pymysql://root:{passwd}@localhost:3306/f1_record'

cursor = create_engine(str_conn)

In [144]:
circuits_selected_columns = circuits[['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng', 'alt']]

circuits_selected_columns.to_sql(name='circuits', 
                                 con=cursor,
                                 if_exists='replace',
                                 index=False
                                )

77

In [145]:
circuits_selected_columns.shape

(77, 8)

In [146]:
const_res_selected_columns = const_res[['constructorResultsId', 'raceId', 'constructorId', 'points']]

const_res_selected_columns.to_sql(name='constructor_results', 
                                  con=cursor,
                                  if_exists='replace',
                                  index=False
                                  )

12170

In [147]:
const_res_selected_columns.shape

(12170, 4)

In [148]:
const_stan_selected_columns = const_stan[['constructorStandingsId', 'raceId', 'constructorId', 'points', 'position', 'wins']]

const_stan_selected_columns.to_sql(name='constructor_standings', 
                                   con=cursor,
                                   if_exists='replace',
                                   index=False
                                  )

12941

In [149]:
const_stan_selected_columns.shape

(12941, 6)

In [150]:
constructors_selected_columns = constructors[['constructorId', 'constructorRef', 'name', 'nationality']]

constructors_selected_columns.to_sql(name='constructors', 
            con=cursor,
            if_exists='replace',
            index=False
           )

211

In [151]:
constructors_selected_columns.shape

(211, 4)

In [152]:
drive_stan_selected_columns = drive_stan[['driverStandingsId', 'raceId', 'driverId', 'points', 'position', 'wins']]

drive_stan_selected_columns.to_sql(name='driver_standings', 
                                   con=cursor,
                                   if_exists='replace',
                                   index=False
                                  )

33902

In [153]:
drive_stan_selected_columns.shape

(33902, 6)

In [154]:
drivers_selected_columns = drivers[['driverId', 'driverRef', 'forename', 'surname', 'dob', 'nationality']]

drivers_selected_columns.to_sql(name='drivers', 
                                con=cursor,
                                if_exists='replace',
                                index=False
                                )

857

In [155]:
drivers_selected_columns.shape

(857, 6)

In [156]:
lap_times_selected_columns = lap_times[['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds']]

lap_times_selected_columns.to_sql(name='lap_times', 
                                  con=cursor,
                                  if_exists='replace',
                                  index=False
                                 )

538121

In [157]:
lap_times_selected_columns.shape

(538121, 6)

In [158]:
pit_stops_selected_columns = pit_stops[['raceId', 'driverId', 'stop', 'lap', 'time', 'duration', 'milliseconds']]

pit_stops_selected_columns.to_sql(name='pit_stops', 
                                  con=cursor,
                                  if_exists='replace',
                                  index=False
                                 )

9634

In [159]:
pit_stops_selected_columns.shape

(9634, 7)

In [160]:
qualifying_selected_columns = qualifying[['qualifyId', 'raceId', 'driverId', 'constructorId', 'number', 'position', 'q1', 'q2', 'q3']]

qualifying_selected_columns.to_sql(name='qualifying', 
                                   con=cursor,
                                   if_exists='replace',
                                   index=False
                                  )

9575

In [161]:
qualifying_selected_columns.shape

(9575, 9)

In [162]:
races_selected_columns = races[['raceId', 'year', 'round', 'circuitId', 'name', 'date']]

races_selected_columns.to_sql(name='races', 
                              con=cursor,
                              if_exists='replace',
                              index=False
                             )

1102

In [163]:
races_selected_columns.shape

(1102, 6)

In [164]:
results_selected_columns = results[['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid', 'position', 'positionOrder', 'points', 'laps',
                                    'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'fastestLapSpeed', 'statusId']]

results_selected_columns.to_sql(name='results', 
                                con=cursor,
                                if_exists='replace',
                                index=False
                                )

25834

In [165]:
results_selected_columns.shape

(25834, 16)

In [166]:
seasons_selected_columns = seasons[['year']]

seasons_selected_columns.to_sql(name='seasons', 
                                con=cursor,
                                if_exists='replace',
                                index=False
                                )

74

In [167]:
seasons_selected_columns.shape

(74, 1)

In [168]:
sprint_res_selected_columns = sprint_res[['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid', 'position', 'positionOrder', 'points', 'laps',
                                          'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'statusId']]

sprint_res_selected_columns.to_sql(name='sprint_res', 
                                   con=cursor,
                                   if_exists='replace',
                                   index=False
                                  )

120

In [169]:
sprint_res_selected_columns.shape

(120, 15)

In [170]:
status_selected_columns = status[['statusId', 'status']]

status_selected_columns.to_sql(name='status', 
                               con=cursor,
                               if_exists='replace',
                               index=False
                              )

139

In [171]:
status_selected_columns.shape

(139, 2)